<div ng-include src="'./components/dashboard.html'"></div>
<div
  ng-controller="bloqueiosAvulsosCtrl"
  class="betL_container"
  ng-init="getExtracoes()"
>
  <div class="container-fluid">
    <div class="row">
      <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
        <h5>BLOUEIOS AVULSOS</h5>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="form-group">
          <label for="edtData">Data: &nbsp;</label>
          <input
            type="date"
            min="2018-01-01"
            id="edtData"
            placeholder="Data"
            ng-model="data"
            class="form-control"
            ng-change="listarBloqueios()"
          />
        </div>
      </div>

      <div class="col-2">
        <div class="form-group">
          <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
          <select
            class="form-control w-100"
            ng-model="tipoJogo"
            id="comboTipoJogo"
          >
            <option value="" selected>Todos</option>
            <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
              {{ x.nome }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-2">
        <div class="form-group">
          <input type="hidden" ng-model="cod_extracao" />
          <label for="edtHora">Hora do bloqueio:</label>
          <input
            class="form-control timepicker"
            type="text"
            id="edtHora"
            ng-model="edtHora"
          />
        </div>
      </div>
      
      <ng-container ng-show="tipoJogo == 'B' || tipoJogo == '2'">
        <div class="col-6" style="float: left">
          <strong>
            <label for="nomeBanca">Banca</label>
          </strong>
          <select
            class="form-control w-100"
            ng-model="comboBanca"
            id="nomeBanca"
            ng-change="getHorarios();"
          >
            <option value="" selected>--- Selecione uma banca ---</option>
            <option ng-repeat="x in extracoes" value="{{x.cod_extracao}}">
              {{ x.nome_banca }}
            </option>
          </select>
        </div>

        <div class="col-4" style="float: left">
          <strong>
            <label for="horario">Horário</label>
          </strong>
          <select
            class="form-control w-100"
            ng-model="comboHorario"
            id="horario"
          >
            <option value="" selected>--- Selecione um horário ---</option>
            <option ng-repeat="x in horarios" value="{{x.hora}}">
              {{ x.hora }}
            </option>
          </select>
        </div>
      </ng-container>

    </div>
    <div class="row">
      <div style="margin-top: 10px" class="col-12">
        <button
          ng-click="salvar()"
          type="button"
          class="btn betL_BTN betL_BTN_usuario_salvar m-0"
        >
          Salvar
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-ms-12 col-xs-12">
        <div
          class="table-responsive betL_verBilheteList"
          ng-init="listarBloqueios()"
        >
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="align-middle" scope="col">Data</th>
                <th class="align-middle" scope="col">Tipo de Jogo</th>
                <th class="align-middle" scope="col">Extração</th>
                <th class="align-middle" scope="col">Horário de Bloqueio</th>
                <th class="align-middle" scope="col">Status</th>
                <th class="align-middle" scope="col">Gerenciar</th>
              </tr>
            </thead>
            <tbody class="container">
              <tr ng-repeat="x in records">
                <td class="align-middle">
                  {{ x.data_jogo | date: 'dd/MM/yyyy'}}
                </td>
                <td class="align-middle">
                  {{ getDescricaoTipoJogo(x.tipo_jogo)}}
                </td>
                <td class="align-middle">
                  {{ x.descricao_extracao }} - {{ x.hora_extracao }}
                </td>
                <td class="align-middle">{{ x.horario_bloqueio}}</td>
                <td class="align-middle">{{ getDescricaoStatus(x.status)}}</td>
                <td class="align-middle">
                  <button
                    class="btn betL_BTN betL_BTN_icon betL_BTN_mRight"
                    alt="Alterar"
                    ng-click="alterar(x)"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Alterar"
                  >
                    <i class="fas fa-pen"></i>
                  </button>
                  <button
                    class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir"
                    alt="Excluir"
                    ng-click="excluir(x.codigo)"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Excluir"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div id="semDados" ng-show="!records || records.length == 0">
            <span class="mr-2">Sem Dados</span>
            <i class="fa fa-thumbs-down ml-4"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
