<div ng-include src="'./components/dashboard.html'"></div>
<div
  ng-controller="controleClientesCtrl"
  class="betL_container"
>
  <div class="container-fluid">    
      <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
        <h5>DADOS DOS CLIENTES</h5>
        <hr />
      </div>
      <form class="form-cadastro form-group row betL_usuario_form">
        <div class='col-md-3 betL_usuario_boxCampo' ng-init="listarCompetencias()">
          <label for="comboBanca">Competência: &nbsp;</label>
          <select class="form-control" ng-model="comboCompetencia" id="comboCompetencia" 
              ng-change="listarResultados()"
              style="width: 100% !important;">                             
              <option value=""> Selecione</option>
              <option ng-repeat="x in competencias" value="{{x.codigo}}">
                  {{ getDescricaoMes(x.mes) }}/{{ x.ano}}
              </option>
          </select>
        </div>
        <div>
          <label for="comEntrada">Com entradas registradas:</label>
          <div class='betL_conf_input_box'>
            <label class="switch" style="margin-right: inherit;">
                <input type="checkbox" id="comEntrada"  ng-model="comEntrada" ng-change="listarResultados()" />
                <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="botao-baixo">
          <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
              ng-click="gerarRelatorioXls()">
              Gerar Relatório
          </button>
      </div>
      </form>
      <div class="row">
        <div class="col-md-12 col-ms-12 col-xs-12">
          <div
            class="table-responsive betL_verBilheteList"
          >
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="align-middle" scope="col">Site</th>
                  <th class="align-middle" scope="col">Domínio</th>
                  <th class="align-middle" scope="col">
                    <a href="" ng-click="orderFilter('vencimento')">Vencimento</a>
                  </th>
                  <th class="align-middle" scope="col">Mensalidade</th>
                  <th class="align-middle" scope="col">Nº Usuários</th>
                  <th class="align-middle" scope="col">
                    <a href="" ng-click="orderFilter('qtd_auditorias')">Nº Transações</a>
                  </th>
                  <th class="align-middle" scope="col">
                    <a href="" ng-click="orderFilter('qtd_apostas')">Nº Apostas</a>
                  </th>
                  <th class="align-middle" scope="col">Entradas</th>
                  <th class="align-middle" scope="col">Saídas</th>
                  <th class="align-middle" scope="col">Comissão Cambistas</th>
                  <th class="align-middle" scope="col">Comissão Gerentes</th>
                  <th class="align-middle" scope="col">
                    <a href="" ng-click="orderFilter('saldo')">Saldo</a>
                  </th>
                </tr>
              </thead>
              <tbody class="container">
                <tr ng-repeat="x in records">
                  <td class="align-middle">{{ x.cod_site }}</td>
                  <td class="align-middle">{{ x.txt_empresa == 'undefined' ? '-' : x.txt_empresa }}</td>
                  <td class="align-middle">{{ x.vencimento == 'undefined' ? '-' : x.vencimento }}</td>
                  <td class="align-middle">{{ x.mensalidade | currency:"R$" }}</td>
                  <td class="align-middle">{{ x.qtd_usuarios }}</td>
                  <td class="align-middle">{{ x.qtd_auditorias }}</td>
                  <td class="align-middle">{{ x.qtd_apostas }}</td>
                  <td class="align-middle">{{ x.entradas | currency:"R$" }}</td>
                  <td class="align-middle">{{ x.saidas | currency:"R$" }}</td>
                  <td class="align-middle">{{ x.comissao_cambistas | currency:"R$" }}</td>
                  <td class="align-middle">{{ x.comissao_gerentes | currency:"R$" }}</td>                      
                  <td class="align-middle" 
                      ng-style="{ 'color' : (x.saldo >= 0) ? 'green' : 'red' }">
                    {{ x.saldo | currency:"R$" }}
                  </td>                      
                </tr>
              </tbody>
            </table>
            <div id="semDados" ng-show="!records || records.length == 0">
              <span class="mr-2">Sem Dados</span>
              <i class="fa fa-thumbs-down ml-4"></i>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
