<div id="FormLoginPrincipal" class="boxFormLogin" ng-controller="loginCtrl">	
    <form class="form-signin"> 
        <img class="img-fluid" id="logo" src="img/logo_transparente.png" alt="">									
        <div class="form-label-group">        
            <!--<input ng-model="edtSite" type="text" id="edtSite" class="form-control betL_inputLogin" placeholder="Cód. Site" required autofocus maxlength="4">
            <label for="edtSite">PIN</label> -->
            <h2> ADMIN </h2>
        </div>
        <div class="form-label-group">        
            <input ng-model="edtUsuario" type="text" id="edtUsuario" class="form-control betL_inputLogin" placeholder="Usuário" required autofocus maxlength="20">
            <label for="edtUsuario">Usuário</label>
        </div>
        <div class="form-label-group betL_LastInput">        
            <input ng-model="edtSenha" type="password" id="edtSenha" class="form-control betL_inputLogin betL_inputLogin" placeholder="Senha" required maxlength="20">      
            <label for="edtSenha">Senha</label>
        </div>
        <button ng-click="login()" class="btn btn-lg btn-success btn-block">Entrar</button>                        
    </form>


</div>