<div ng-include src="'./components/dashboard.html'"></div>
<div
  ng-controller="resultadoCtrl"
  class="betL_container"
  ng-init="getExtracoes();"
>
  <div class="container-fluid">
    <div class="row">
      <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
        <h5>RESULTADOS</h5>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="form-group">
          <label for="edtData">Data: &nbsp;</label>
          <input
            type="date"
            min="2018-01-01"
            id="edtData"
            placeholder="Data"
            ng-model="data"
            class="form-control"
            ng-change="listarResultados()"
          />
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
          <select
            class="form-control w-100"
            ng-model="tipoJogo"
            id="comboTipoJogo"
          >
            <option value="" selected>Todos</option>
            <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
              {{ x.nome }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-7" ng-show="tipoJogo">
        <ng-container ng-show="tipoJogo != 'B'">
          <div class="col-4">
            <label for="edtConcurso">Concurso: &nbsp;</label>
            <input
              type="text"
              pattern="\d*"
              inputmode="numeric"
              id="edtConcurso"
              placeholder="Concurso"
              ng-model="concurso"
              class="form-control"
            />
          </div>
        </ng-container>
        <ng-container ng-show="tipoJogo == 'B'">
          <div class="col-6" style="float: left">
            <strong>
              <label for="nomeBanca">Banca</label>
            </strong>
            <select
              class="form-control w-100"
              ng-model="comboBanca"
              id="nomeBanca"
              ng-change="getHorarios();"
            >
              <option value="" selected>--- Selecione uma banca ---</option>
              <option ng-repeat="x in extracoes" value="{{x.cod_extracao}}">
                {{ x.nome_banca }}
              </option>
            </select>
          </div>

          <div class="col-6" style="float: left">
            <strong>
              <label for="horario">Horário</label>
            </strong>
            <select
              class="form-control w-100"
              ng-model="comboHorario"
              id="horario"
            >
              <option value="" selected>--- Selecione um horário ---</option>
              <option ng-repeat="x in horarios" value="{{x.hora}}">
                {{ x.hora }}
              </option>
            </select>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div ng-show="showInputPremio(1)" class="col-2">
        <label for="edtNumero1Edit">Número 1</label>
        <input
          type="text"
          id="edtNumero1Edit"
          placeholder="Número 1"
          ng-model="numero1"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(2)" class="col-2">
        <label for="edtNumero2Edit">Número 2</label>
        <input
          type="text"
          id="edtNumero2Edit"
          placeholder="Número 2"
          ng-model="numero2"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(3)" class="col-2">
        <label for="edtNumero3Edit">Número 3</label>
        <input
          type="text"
          id="edtNumero3Edit"
          placeholder="Número 3"
          ng-model="numero3"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(4)" class="col-2">
        <label for="edtNumero4Edit">Número 4</label>
        <input
          type="text"
          id="edtNumero4Edit"
          placeholder="Número 4"
          ng-model="numero4"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(5)" class="col-2">
        <label for="edtNumero5Edit">Número 5</label>
        <input
          type="text"
          id="edtNumero5Edit"
          placeholder="Número 5"
          ng-model="numero5"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(6)" class="col-2">
        <label for="edtNumero6Edit">Número 6</label>
        <input
          type="text"
          id="edtNumero6Edit"
          placeholder="Número 6"
          ng-model="numero6"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(7)" class="col-2">
        <label for="edtNumero7Edit">Número 7</label>
        <input
          type="text"
          id="edtNumero7Edit"
          placeholder="Número 7"
          ng-model="numero7"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(8)" class="col-2">
        <label for="edtNumero8Edit">Número 8</label>
        <input
          type="text"
          id="edtNumero8Edit"
          placeholder="Número 8"
          ng-model="numero8"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(9)" class="col-2">
        <label for="edtNumero7Edit">Número 9</label>
        <input
          type="text"
          id="edtNumero9Edit"
          placeholder="Número 9"
          ng-model="numero9"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(10)" class="col-2">
        <label for="edtNumero7Edit">Número 10</label>
        <input
          type="text"
          id="edtNumero10Edit"
          placeholder="Número 10"
          ng-model="numero10"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(11)" class="col-2">
        <label for="edtNumero11Edit">Número 11</label>
        <input
          type="text"
          id="edtNumero10Edit"
          placeholder="Número 11"
          ng-model="numero11"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(12)" class="col-2">
        <label for="edtNumero12Edit">Número 12</label>
        <input
          type="text"
          id="edtNumero12Edit"
          placeholder="Número 12"
          ng-model="numero12"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(13)" class="col-2">
        <label for="edtNumero13Edit">Número 13</label>
        <input
          type="text"
          id="edtNumero13Edit"
          placeholder="Número 13"
          ng-model="numero13"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(14)" class="col-2">
        <label for="edtNumero14Edit">Número 14</label>
        <input
          type="text"
          id="edtNumero14Edit"
          placeholder="Número 14"
          ng-model="numero14"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
      <div ng-show="showInputPremio(15)" class="col-2">
        <label for="edtNumero15Edit">Número 15</label>
        <input
          type="text"
          id="edtNumero15Edit"
          placeholder="Número 15"
          ng-model="numero15"
          class="form-control"
          inputmode="numeric"
          pattern="\d*"
        />
      </div>
    </div>
    <div class="row">
      <div style="margin-top: 10px" class="col-12">
        <button
          ng-click="salvar()"
          type="button"
          class="btn betL_BTN betL_BTN_usuario_salvar m-0"
        >
          Salvar
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-ms-12 col-xs-12">
        <div
          class="table-responsive betL_verBilheteList"
          ng-init="listarResultados()"
        >
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="align-middle" scope="col">Data</th>
                <th class="align-middle" scope="col">Tipo de Jogo</th>
                <th class="align-middle" scope="col">Concurso/Extração</th>
                <th class="align-middle" scope="col">Números Sorteados</th>
                <th class="align-middle" scope="col">Status</th>
                <th class="align-middle" scope="col">Gerenciar</th>
              </tr>
            </thead>
            <tbody class="container">
              <tr ng-repeat="x in records">
                <td class="align-middle">
                  {{ x.data_jogo | date: 'dd/MM/yyyy'}}
                </td>
                <td class="align-middle">
                  {{ getDescricaoTipoJogo(x.tipo_jogo)}}
                </td>
                <td class="align-middle">{{ getDescricaoConcurso(x)}}</td>
                <td class="align-middle">{{ getNumerosSorteados(x)}}</td>
                <td class="align-middle">{{ x.status_resultado}}</td>
                <td class="align-middle">
                  <button
                    class="btn betL_BTN betL_BTN_icon betL_BTN_mRight"
                    alt="Alterar"
                    ng-click="alterar(x)"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Alterar"
                  >
                    <i class="fas fa-pen"></i>
                  </button>
                  <button
                    class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir"
                    alt="Excluir"
                    ng-click="excluir(x.codigo)"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Excluir"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div id="semDados" ng-show="!records || records.length == 0">
            <span class="mr-2">Sem Dados</span>
            <i class="fa fa-thumbs-down ml-4"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
