<div ng-include src="'./components/dashboard.html'"></div>
<div ng-controller="caixaClienteCtrl as ctrl" class="betL_container">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>CAIXA DOS CLIENTES</h5>
                <hr>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro form-group row">

                    <div class='col-md-3 betL_CaixaFormSelect'>
                        <label for="edtDataDe">Período De: &nbsp;</label>
                        <input type="date" min="2019-01-01" id="edtDataDe" placeholder="Data" ng-model="edtDataDe"
                            class="form-control" style="width: 100% !important" />
                    </div>
                    <div class='col-md-3 betL_CaixaFormSelect'>
                        <label for="edtDataAte">Período Ate: &nbsp;</label>
                        <input type="date" min="2019-01-01" id="edtDataAte" placeholder="Data" ng-model="edtDataAte"
                            class="form-control" style="width: 100% !important" />
                    </div>
                    <div>
                         
                        <button type="button" class="btn betL_BTN" ng-disabled="loading"
                            style="margin-top: 28px; margin-left: 15px; margin-right: 15px; "
                            ng-click="listarClientes()">
                            <div ng-if="!loading">
                                Pesquisar
                            </div>
                            <div ng-if="loading">
                                <span class="fa fa-spinner fa-spin"></span>Carregando
                            </div>
                        </button>
                    </div>
                    
                </form>
            </div>

            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div class="table-responsive betL_verBilheteList">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col">PIN</th>
                                <th class="align-middle" scope="col">Banca</th>
                                <th class="align-middle" scope="col">Mensalidade</th>
                                <th class="align-middle" scope="col">Promoção</th>
                                <th class="align-middle" scope="col">Vencimento</th>
                                <th class="align-middle" scope="col">Entradas</th>
                                <th class="align-middle" scope="col">Saídas</th>
                                <th class="align-middle" scope="col">Comissão cambista</th>
                                <th class="align-middle" scope="col">Comissão gerente</th>
                                <th class="align-middle" scope="col">Saldo</th>
                                <th class="align-middle" scope="col">Gerenciar valores</th>
                            </tr>
                        </thead>

                        <tbody class="container">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <!--<tr ng-repeat="x in records| filter: {concurso: edtConcurso, tipo_jogo:comboTipoJogo, tp_status:comboFiltroStatus} | filter:filterDate "> | orderBy:['-data_jogo', '-concurso', '-tp_status'] -->
                            <tr ng-repeat="x in records | orderBy:['+vencimento', '-cod_Site']">
                                <th class="align-middle" scope="row">{{ x.cod_site}} </th>
                                <td class="align-middle">{{ x.nome_banca}}</td>
                                <td class="align-middle">R${{ x.mensalidade}}</td>
                                <td class="align-middle">{{ x.promocao}}</td>
                                <td class="align-middle"
                                    ng-style="{ 'color' : (x.vencimento == dia) ? 'red' : 'green' }">
                                    {{ x.vencimento}}.07.20 </td>
                                <td class="align-middle">{{ x.total_entradas | currency:"R$"}}</td>
                                <td class="align-middle">{{ x.total_saidas | currency:"R$"}}</td>
                                <td class="align-middle">{{ x.comissao | currency:"R$"}}</td>
                                <td class="align-middle">{{ x.comissao_gerente | currency:"R$"}}</td>
                                <td class="align-middle">{{ x.saldo | currency:"R$"}}</td>
                                <td class="align-middle">
                                    <button class="btn betL_BTN betL_BTN_icon betL_BTN_mRight" alt="Gerenciar"
                                        data-toggle="modal" data-target="#modalJogos" ng-click="buscarCliente(x)"
                                        ng-show="x.tp_status != 'P' && x.tp_status != 'F'" data-tt="tooltip"
                                        data-placement="top" title="Gerenciar">
                                        <i class="fas fa-cog"></i>
                                        <!--Gerenciar-->
                                    </button>
                                </td>
                                </td>

                            </tr>
                        </tbody>

                        <script>
                            $(function () {
                                $('[data-tt="tooltip"]').tooltip();
                                $('[data-toggle="tooltip"]').tooltip();
                                $('.phone').mask('(00) 00000-0000');
                            });
                        </script>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalJogos" tabindex="-1" role="dialog" aria-labelledby="modalJogosLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalJogosLabel">Gerenciar valores</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-cadastro betL_jogos_modalForm">
                        <div class="form-row">
                            <input type="hidden" ng-model="cod_site" />
                            <div class='col-xs-2'>
                                <label for="edtCodigoEdit">Código:</label>
                                <input type="text" id="edtCodigoEdit" ng-model="editarCliente.cod_site"
                                    class="form-control" readonly />
                            </div>
                            <div class='col-xs-2'>
                                <label for="edtMensalidadeEdit">Mensalidade:</label>
                                <textarea id="edtMensalidadeEdit" placeholder="Valor da mensalidade"
                                    ng-model="editarCliente.mensalidade" class="form-control"
                                    maxlength="250"></textarea>
                            </div>
                            <div class='col-xs-2'>
                                <label for="comboPromoEdit">Promoção: &nbsp;</label>
                                <select class="form-control" ng-model="editarCliente.promocao" id="comboPromoEdit">
                                    <option value="---"> Sem promoção </option>
                                    <option value="Desconto de 30% p/ 3 meses"> 30% p/ 3 meses</option>
                                    <option value="Desconto de 30% p/ 2 meses"> 30% p/ 2 meses</option>
                                    <option value="Desconto de 30% p/ 1 meses"> 30% p/ 1 meses</option>
                                </select>
                            </div>
                        </div>

                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_usuario_salvar"
                                ng-click="salvar()">Salvar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn betL_modalBtn" data-dismiss="modal"
                        id="btnFecharModal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>