<div ng-include src="'./components/dashboard.html'"></div>
<div ng-controller="clientesCtrl" class="betL_container">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>CLIENTES</h5>
                <hr>
            </div>

            <!-- FORM -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro form-group row betL_jogos_form">
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="edtCodigo">Código: &nbsp;</label>
                        <input type="text" id="edtCodigo" placeholder="Código" ng-model="edtCodigo" class="form-control" />
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="edtNomeBanca">Nome Banca: &nbsp;</label>
                        <input type="text" id="edtNomeBanca" placeholder="Banca" ng-model="edtNomeBanca" class="form-control"
                            maxlength="80" required/>
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="edtResponsavel">Responsável: &nbsp;</label>
                        <input type="text" id="edtResponsavel" placeholder="Responsável" ng-model="edtResponsavel"
                            class="form-control" maxlength="60" />
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="edtTelefone">Telefone: &nbsp;</label>
                        <input type="tel" id="edtTelefone" placeholder="Telefone" ng-model="edtTelefone" class="form-control phone"
                            maxlength="20" />
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="edtNome">Domínio: &nbsp;</label>
                        <input type="text" id="edtNome" placeholder="Domínio" ng-model="edtNome" class="form-control"
                            maxlength="60" />
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="comboStatus">Status: &nbsp;</label>
                        <select class="form-control" ng-model="comboStatus" id="comboStatus">
                            <option value="A"> Ativo </option>
                            <option value="I"> Inativo</option>
                        </select>
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="obs">Observações:</label>
                        <textarea id="obs" placeholder="Observações" ng-model="obs" class="form-control" maxlength="250"></textarea>
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="edtLoginAdm">Login de Administrador: &nbsp;</label>
                        <input type="text" id="edtLoginAdm" placeholder="Login" ng-model="edtLoginAdm" class="form-control"
                            maxlength="20" />
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="edtMensalidade">Mensalidade: &nbsp;</label>
                        <input type="text" id="edtMensalidade" placeholder="Mensalidade" ng-model="edtMensalidade" class="form-control"
                            maxlength="20" />
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="edtVencimento">Data de vencimento: &nbsp;</label>
                        <input type="text" id="edtVencimento" placeholder="Vencimento" ng-model="edtVencimento" class="form-control"
                            maxlength="20" />
                    </div>

                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="comboPromo">Promoção: &nbsp;</label>
                        <select class="form-control" ng-model="comboPromo" id="combopromo">
                            <option value="---" selected> Sem promoção </option>
                            <option value="Desconto de 30% p/ 3 meses"> 30% p/ 3 meses</option>
                        </select>
                    </div>
                    
                    <div class="col-md-2 col-xs-2 col-12 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar" ng-click="salvar(0)" text-align: center>Salvar</button>
                    </div>

                    <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar" ng-disabled="loading"
                            style="margin-top: 28px; margin-left: 15px; margin-right: 15px; "
                            ng-click="listarClientes()">
                            <div ng-if="!loading">
                                Pesquisar
                                Clientes
                            </div>
                            <div ng-if="loading">
                                <span class="fa fa-spinner fa-spin"></span>Carregando
                            </div>
                        </button>
                </form>

                <form enctype="multipart/form-data" action="angularjs-mysql/enviarLogomarca.php" method="POST">
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <label for="edtLogomarca">Logomarca: &nbsp;</label>
                        <input type="file" name="edtLogomarca" id="edtLogomarca" class="form-control" />
                        <input type="submit" value="Enviar arquivo" />
                    </div>
                </form>
            </div>

            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div class="table-responsive betL_verBilheteList" ng-init="listarClientes()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col">#</th>
                                <th class="align-middle" scope="col">Banca</th>
                                <th class="align-middle" scope="col">Responsável</th>
                                <th class="align-middle" scope="col">Telefone</th>
                                <th class="align-middle" scope="col">Domínio</th>
                                <th class="align-middle" scope="col">Status</th>
                                <th class="align-middle" scope="col">Observações</th>
                                <th class="align-middle" scope="col">Login</th>
                                <th class="align-middle" scope="col">Senha</th>
                                <th class="align-middle" scope="col">Gerenciar</th>
                            </tr>
                        </thead>
                        <tbody class="container">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <!--<tr ng-repeat="x in records| filter: {concurso: edtConcurso, tipo_jogo:comboTipoJogo, tp_status:comboFiltroStatus} | filter:filterDate "> | orderBy:['-data_jogo', '-concurso', '-tp_status'] -->
                            <tr ng-repeat="x in records | orderBy:'-cod_site'">
                                <th class="align-middle" scope="row">{{ x.cod_site}} </th>
                                <td class="align-middle">{{ x.nome_banca}}</td>
                                <td class="align-middle">{{ x.txt_responsavel}}</td>
                                <td class="align-middle">{{ x.txt_telefone}}</td>
                                <td class="align-middle">{{ x.txt_empresa}}</td>
                                <td class="align-middle">{{ getDescricaoStatus(x.status)}}</td>
                                <td class="align-middle">{{ x.obs}}</td>
                                <td class="align-middle">{{ x.login}}</td>
                                <td class="align-middle">{{ x.senha}}</td>
                                <td class="align-middle">
                                    <button class="btn betL_BTN betL_BTN_icon betL_BTN_mRight" alt="Gerenciar"
                                        data-toggle="modal" data-target="#modalJogos" ng-click="alterar(x)" ng-show="x.tp_status != 'P' && x.tp_status != 'F'"
                                        data-tt="tooltip" data-placement="top" title="Gerenciar">
                                        <i class="fas fa-cog"></i>
                                        <!--Gerenciar-->
                                    </button>
                                </td>

                            </tr>
                        </tbody>

                        <script>
                            $(function () {
                                $('[data-tt="tooltip"]').tooltip();
                                $('[data-toggle="tooltip"]').tooltip();
                                $('.phone').mask('(00) 00000-0000');
                            });
                        </script>

                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalJogos" tabindex="-1" role="dialog" aria-labelledby="modalJogosLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalJogosLabel">Gerenciar Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-cadastro betL_jogos_modalForm">
                        <div class="form-row">
                            <input type="hidden" ng-model="cod_site" />
                            <div class='col-xs-2'>
                                <label for="edtCodigoEdit">Código:</label>
                                <input type="text" id="edtCodigoEdit" ng-model="edtCodigoEdit" class="form-control"
                                    readonly />
                            </div>
                            <div class='col-xs-2'>
                                <label for="edtBancaEdit">Nome Banca:</label>
                                <input type="text" id="edtBancaEdit" placeholder="Banca" ng-model="edtBancaEdit" class="form-control"
                                    maxlength="80" />
                            </div>
                            <div class='col-xs-2'>
                                <label for="edtResponsavelEdit">Responsável:</label>
                                <input type="text" id="edtResponsavelEdit" placeholder="Responsável" ng-model="edtResponsavelEdit"
                                    class="form-control" maxlength="60" />
                            </div>
                            <div class='col-xs-2'>
                                <label for="edtTelefoneEdit">Telefone:</label>
                                <input type="tel" id="edtTelefoneEdit" placeholder="Telefone" ng-model="edtTelefoneEdit"
                                    class="form-control phone" maxlength="20" />
                            </div>
                            <div class='col-xs-2'>
                                <label for="edtNomeEdit">Domínio:</label>
                                <input type="text" id="edtNomeEdit" placeholder="Domínio" ng-model="edtNomeEdit" class="form-control"
                                    maxlength="60" />
                            </div>
                            <div class='col-xs-2'>
                                <label for="comboStatusEdit">Status: &nbsp;</label>
                                <select class="form-control" ng-model="comboStatusEdit" id="comboStatusEdit">
                                    <option value="A"> Ativo </option>
                                    <option value="I"> Inativo</option>
                                </select>
                            </div>
                            <div class='col-xs-2'>
                                <label for="edtVencimentoEdit">Vencimento:</label>
                                <input type="text" id="edtVencimentoEdit" placeholder="Vencimento" ng-model="edtVencimentoEdit" class="form-control"
                                    maxlength="60" />
                            </div>
                            <div class='col-xs-2'>
                                <label for="edtMensalidadeEdit">Mensalidade:</label>
                                <input type="text" id="edtMensalidadeEdit" placeholder="Mensalidade" ng-model="edtMensalidadeEdit" class="form-control"
                                    maxlength="60" />
                            </div>                            
                        </div>
                        <div class="form-row">
                            <label for="obsEdit">Observações:</label>
                            <textarea id="obsEdit" placeholder="Observações" ng-model="obsEdit" class="form-control"
                                maxlength="250"></textarea>
                        </div>
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_usuario_salvar" ng-click="salvar(cod_site)">Salvar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn betL_modalBtn" data-dismiss="modal" id="btnFecharModal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>