<div ng-controller="dashboardCtrl" class="no-print">
    <nav class="navbar navbar-expand-xl navbar-dark fixed-top betL_menu">
        <img class="img-fluid" src="img/logo_transparente.png" href="#!/dashboard" alt="BETloteria">
        <button class="navbar-toggler betL_menuCollapse_BTN" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto betL_menu_ul" style="align-items: center;">
                <li class="nav-item betL_menu_li_principais">
                    <a class="menu-bet" href="#!/controle_clientes">Dados dos Clientes</a>
                </li>
                <li class="nav-item betL_menu_li_principais">
                    <a class="menu-bet" href="#!/clientes">Clientes</a>
                </li>                
                <li class="nav-item betL_menu_li_principais">
                    <a class="menu-bet" href="#!/caixa_cliente">Caixa Clientes</a>
                </li>
                <li class="nav-item betL_menu_li_principais">
                    <a class="menu-bet" href="#!/agenda_bot">Agenda do Bot</a>
                </li>           
                <li class="nav-item betL_menu_li_principais">
                    <a class="menu-bet" href="#!/cadastro_banca_extracoes">Cadastro de Bancas</a>
                </li>
                <li class="dropdown betL_menu_li_dropdown">
                    <a style="cursor: pointer" class="menu-bet betL_dd_linkP" id="dropdownCaixa" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jogos <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu betL_menu_dd" aria-labelledby="dropdownCaixa">
                        <a class="dropdown-item betL_dd_link" href="#!/resultado">
                            <i class="fas fa-caret-right"></i>
                            Resultados Avulsos
                        </a>
                        <a class="dropdown-item betL_dd_link" href="#!/bloqueios_avulsos">
                            <i class="fas fa-caret-right"></i>
                            Bloqueios Avulsos
                        </a>
                    </div>
                </li>             
                <li class="nav-item betL_menu_li_principais">
                    <a class="menu-bet" href="#!/logout">Sair</a>
                </li>

            </ul>
        </div>
    </nav>
</div>