<div ng-include src="'./components/dashboard.html'"></div>
<div
  ng-show="flgBicho && listaCfg"
  ng-controller="bichoVirtualCtrl"
  class="betL_container betL_caixa"
>
  <div class="container-fluid">
    <script>
      $(document).ready(function () {
        $("#edtTelefone").mask("(00) 00000-0000");
      });
    </script>
    <div class="row">
      <div class="betL_Titulo col-md-12 col-sm-12 col-xs-12">
        <h5>BICHO - BILHETE VIRTUAL</h5>
        <hr />
      </div>

      <div
        class="betL_Titulo col-md-12 col-sm-12 col-xs-12"
        ng-show="puleGerado != ''"
      >
        <h5>PIN GERADO:</h5>
        <input type="hidden" value="{{puleGerado}}" id="puleCopy" />
        <h3 id="puleCopy1">{{puleGerado}}</h3>

        <h5>NUMERO BILHETE:</h5>
        <h3 id="puleCopy2">{{numeroBilhete}}</h3>

        <input
          id="btnCopy"
          type="button"
          class="btn naoAlterar betL_seninha_form_Valor_Btn betL_BTN"
          value="Copiar para transferência"
          ng-click="copyToClipboard()"
        />
        <hr />
      </div>

      <form
        class="form-cadastro form-group row betL_seninhaQuininha_form"
        ng-init="getJogos()"
      >
        <div class="col-md-3 col-sm-12 col-xs-12 col-12">
          <label for="edtDataDe">Data: &nbsp;</label>
          <input
            type="date"
            min="2018-01-01"
            id="edtDataDe"
            placeholder="Data"
            ng-model="edtDataDe"
            class="form-control"
            ng-change="getJogos()"
          />
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 col-12">
          <label for="comboConcurso">Extração:</label>
          <br />
          <md-select
            id="comboConcurso"
            ng-change="carregaLimite()"
            class="form-control betL_seninha_concurso_select"
            ng-model="comboConcurso"
            multiple
          >
            <md-select-header style="height: 25px">
              <md-button ng-click="closeSelectBox()">Selecionar</md-button>
            </md-select-header>
            <md-option ng-value="{{j.cod_jogo}}" ng-repeat="j in jogos">
              {{ j.hora_extracao}} - {{j.desc_hora}}
            </md-option>
          </md-select>
        </div>
      </form>

      <div class="col-md-12 col-sm-12 col-xs-12 betL_seninha_TextSecundario">
        <h5>Palpites</h5>
        <p>Informe os palpites para o jogo do bicho:</p>
        <md-radio-group ng-change="onChangeTipoPalpite()" ng-model="tipoPalpite" layout="row" class="mt-3">
          <md-radio-button value="simples" class="md-primary"
            >Simples</md-radio-button
          >
          <md-radio-button value="multiplo">Múltiplo</md-radio-button>
        </md-radio-group>
      </div>
      <div ng-show="tipoPalpite == 'simples'" class="col-12 mt-3">
        <div class="col-md-12 col-ms-12 col-xs-12">
          <fieldset ng-disabled="comboConcurso.length == 0">
            <form class="form-cadastro row betL_usuario_form">
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <label for="comboTipoJogo">Jogo:</label>
                <select
                  class="form-control betL_seninha_concurso_select"
                  ng-model="comboTipoJogo"
                  id="comboTipoJogo"
                  ng-change="onChangeTipoJogo()"
                >
                  <option value="VV" selected>Escolha um jogo</option>
                  <option
                    ng-repeat="tipo in listaCfg[0].tipos_jogos_bicho"
                    ng-if="!(
                      ((tipo.codigo == 'TG6' || tipo.codigo == 'TG10' || tipo.codigo == 'TDZ6' || tipo.codigo == 'TDZ10') && qtd_premios_extracao < 10) ||
                      ((tipo.codigo == 'TEA' || tipo.codigo == 'TEF') && qtd_premios_extracao < 7)
                      )"
                    value="{{tipo.codigo}}"
                  >
                    {{tipo.descricao}}
                  </option>
                </select>
              </div>

              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <label for="comboDoPremio">Do Prêmio:</label>
                <br />
                <select
                  class="form-control betL_seninha_concurso_select"
                  ng-model="premio.do"
                  ng-change="alterarDoPremio()"
                  id="comboDoPremio"
                  ng-disabled="premio.disabled"
                  ng-options="premio as premio + 'º Prêmio' for premio in [] | range:1:(premio.qtdPremiosVariavel || qtd_premios_extracao)"
                ></select>
              </div>

              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <label for="comboAoPremio">Ao Prêmio:</label>
                <br />
                <select
                  class="form-control betL_seninha_concurso_select"
                  ng-model="premio.ao"
                  ng-change="alterarAoPremio()"
                  id="comboAoPremio"
                  ng-disabled="premio.disabled"
                  ng-options="premio as premio + 'º Prêmio' for premio in [] | range:1:(premio.qtdPremiosVariavel || qtd_premios_extracao)"
                ></select>
              </div>
              <div
                class="col-md-2 col-xs-2 col-8"
                ng-show="getShowMilharNaQuadra()"
              >
                <label for="chkHabilitarSortes"
                  >Habilitar na Quadra: &nbsp;</label
                >
                <label class="switch" style="margin-right: inherit">
                  <input
                    type="checkbox"
                    id="chkHabilitarNaQuadra"
                    ng-model="chkHabilitarNaQuadra"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </form>
          </fieldset>
        </div>

        <div class="col-md-12 col-ms-12 col-xs-12">
          <form
            class="form-cadastro form-group row betL_usuario_form"
            ng-show="comboTipoJogo != 'VV'"
          >
            <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
              <div class="betL_seninha_nome_box">
                <label for="edtPalpite">Palpite:</label>
                <br />
                <input
                  type="text"
                  pattern="\d*"
                  inputmode="numeric"
                  ng-disabled="palpites.length == getQtdPalpitesPermitidos(comboTipoJogo).max"
                  id="edtPalpite"
                  placeholder="Palpite"
                  ng-model="edtPalpite"
                  ng-change="incluirPalpite()"
                  class="form-control betL_seninha_form_Valor_Input"
                />
              </div>
            </div>

            <div
              class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo"
              ng-show="chkHabilitarNaQuadra"
            >
              <div class="betL_seninha_nome_box">
                <label for="edtNaQuadra">Na Quadra:</label>
                <br />
                <input
                  type="text"
                  pattern="\d*"
                  inputmode="numeric"
                  id="edtNaQuadra"
                  placeholder="Quadra"
                  ng-model="edtNaQuadra"
                  ng-change="onChangeNaQuadra()"
                  class="form-control betL_seninha_form_Valor_Input"
                />
              </div>
            </div>

            <div
              class="form-cadastro form-group row betL_seninha_form_Valor"
              ng-show="palpites.length > 0"
            >
              <md-chips
                class="col-12"
                ng-model="palpites"
                readonly="true"
                md-removable="true"
                md-on-remove="onRemovePalpite()"
              >
                <md-chip-template> {{$chip.palpite}} </md-chip-template>
              </md-chips>
            </div>
          </form>
        </div>

        <div class="col-md-12 col-ms-12 col-xs-12">
          <form
            class="form-cadastro form-group row"
            ng-show="comboTipoJogo != 'VV'"
          >
            <div class="col-md-2 col-sm-6 col-6 betL_usuario_boxCampo">
              <div class="betL_seninha_nome_box">
                <label for="edtValor">Valor:</label>
                <br />
                <input
                  type="number"
                  id="edtValor"
                  placeholder="Valor"
                  ng-disabled="valoracao.disabled"
                  ng-model="valoracao.valor"
                  class="form-control betL_seninha_form_Valor_Input"
                />
              </div>
            </div>

            <div class="col-md-2 col-xs-3 col-6 betL_usuario_boxCampo">
              <label for="edtValor">Operação:</label>
              <br />
              <select
                class="form-control betL_seninha_concurso_select"
                ng-disabled="valoracao.disabled || disabledComboOperacao"
                ng-model="valoracao.operacao"
                id="comboOperacao"
              >
                <option value="D">Todos</option>
                <option value="M">Cada</option>
              </select>
            </div>

            <form
              class="form-cadastro form-group row betL_seninha_form_Valor float-right"
            >
              <div
                class="col-md-2 col-sm-12 col-xs-12 col-12 betL_seninha_Box_Btn_LimparAdicionar"
              >
                <button
                  type="button"
                  class="btn naoAlterar betL_BTN"
                  id="btnAdicionar"
                  ng-click="adicionarApostaSimples()"
                >
                  Adicionar Aposta
                </button>
              </div>
            </form>
          </form>
        </div>
      </div>
      <div ng-show="tipoPalpite == 'multiplo'" class="col-12 mt-3">
        <div class="col-md-12 col-ms-12 col-xs-12">
          <fieldset ng-disabled="comboConcurso.length == 0">
            <form class="form-cadastro row betL_usuario_form">
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <label for="edtPalpiteMultiplo">Palpite:</label>
                <br />
                <input
                  type="text"
                  pattern="\d*"
                  inputmode="numeric"
                  id="edtPalpiteMultiplo"
                  placeholder="Palpite"
                  ng-model="edtPalpite"
                  maxlength="4"
                  ng-change="incluirPalpiteMultiplo()"
                  class="form-control betL_seninha_form_Valor_Input"
                />
              </div>
              <div
                class="form-cadastro form-group row betL_seninha_form_Valor"
                ng-show="palpites.length > 0"
              >
                <md-chips
                  class="col-12"
                  ng-model="palpites"
                  readonly="true"
                  md-removable="true"
                >
                  <md-chip-template> {{$chip.palpite}} </md-chip-template>
                </md-chips>
              </div>
              <div class="col-12 mt-3">
                <fieldset class="row">
                  <input
                    ng-repeat="tipo in listaCfg[0].tipos_jogos_bicho"
                    type="button"
                    value="{{getDescricaoTipoJogoBicho(tipo.codigo)}}"
                    ng-click="togglePalpiteMultiplo(tipo.codigo)"
                    ng-if="!(
                      (tipo.codigo == 'DG6' || tipo.codigo == 'TG6' || tipo.codigo == 'TG10' || tipo.codigo == 'DDZ6' || tipo.codigo == 'TDZ6' || tipo.codigo == 'TDZ10') 
                      && qtd_premios_extracao != 10)"
                    ng-disabled="!habilitarPalpiteMultiplo(tipo.codigo)"
                    class="tipos-jogos-multiplo tipos-jogos-font-size col-md-3 col-6"
                    ng-class="{'toggle-button-checked':possuiPalpiteMultiplo(tipo.codigo)}"
                  />
                </fieldset>
              </div>
            </form>
          </fieldset>
        </div>
        <div ng-show="palpitesMultiplo.length > 0" class="col-12 mt-5">
          <div
            ng-show="palpitesMultiplo.length > 1"
            class="row mt-3 palpites-multiplos-bicho"
          >
            <div class="col-md-3 col-sm-6 col-6 betL_usuario_boxCampo">
              <div class="betL_seninha_nome_box">
                <label>TODOS OS JOGOS:</label>
                <br />
                <md-radio-group
                  ng-model="todosJogosMultiplo.tipo"
                  layout="row"
                  class="mt-3"
                  ng-change="alterarTipoMultiplo()"
                >
                  <md-radio-button value="todos" class="md-primary"
                    >Todos</md-radio-button
                  >
                  <md-radio-button value="cada">Cada</md-radio-button>
                </md-radio-group>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 betL_usuario_boxCampo">
              <div class="betL_seninha_nome_box">
                <label for="edtValor">Valor:</label>
                <br />
                <input
                  type="number"
                  id="edtValor"
                  placeholder="Valor"
                  ng-model="todosJogosMultiplo.valor"
                  ng-change="alterarValorMultiplo()"
                  class="form-control betL_seninha_form_Valor_Input"
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 betL_usuario_boxCampo">
              <label for="comboDoPremio">Do Prêmio:</label>
              <br />
              <select
                class="form-control betL_seninha_concurso_select"
                ng-model="todosJogosMultiplo.premiacao.do"
                ng-change="alterarDoPremioMultiploTodosJogos()"
                id="comboDoPremio"
                ng-options="premio as premio + 'º Prêmio' for premio in [] | range:1:qtd_premios_extracao"
              ></select>
            </div>
            <div class="col-md-3 col-sm-6 col-6 betL_usuario_boxCampo">
              <label for="comboAoPremio">Ao Prêmio:</label>
              <br />
              <select
                class="form-control betL_seninha_concurso_select"
                ng-model="todosJogosMultiplo.premiacao.ao"
                ng-change="alterarAoPremioMultiploTodosJogos()"
                id="comboAoPremio"
                ng-disabled="todosJogosMultiplo.premiacao.disabled"
                ng-options="premio as premio + 'º Prêmio' for premio in [] | range:1:qtd_premios_extracao"
              ></select>
            </div>
          </div>
          <div
            ng-repeat="(key, aposta) in palpitesMultiplo track by $index"
            class="row mt-3 palpites-multiplos-bicho"
          >
            <div class="col-md-3 col-sm-6 col-6 betL_usuario_boxCampo">
              <div
                ng-click="showPalpites(aposta.palpite)"
                class="betL_seninha_nome_box"
              >
                <label for="spanTipoPalpiteMultiplo">{{aposta.tipo}}:</label>
                <br />
                <input
                  id="spanTipoPalpiteMultiplo"
                  class="form-control betL_seninha_form_Valor_Input"
                  ng-model="aposta.palpite"
                  ng-disabled="true"
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 betL_usuario_boxCampo">
              <div class="betL_seninha_nome_box">
                <label for="edtValor">Valor:</label>
                <br />
                <input
                  type="number"
                  id="edtValor"
                  placeholder="Valor"
                  ng-model="aposta.valoracao.valor"
                  ng-disabled="aposta.valoracao.disabled"
                  class="form-control betL_seninha_form_Valor_Input"
                />
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 betL_usuario_boxCampo">
              <label for="comboDoPremio">Do Prêmio:</label>
              <br />
              <select
                class="form-control betL_seninha_concurso_select"
                ng-model="aposta.premiacao.do"
                id="comboDoPremio"
                ng-change="alterarDoPremioMultiplo($index)"
                ng-disabled="aposta.premiacao.disabled"
                ng-options="premio as premio + 'º Prêmio' for premio in [] | range:1:(aposta.premiacao.qtdPremiosVariavel || qtd_premios_extracao)"
              ></select>
            </div>

            <div class="col-md-3 col-sm-6 col-6 betL_usuario_boxCampo">
              <label for="comboAoPremio">Ao Prêmio:</label>
              <br />
              <select
                class="form-control betL_seninha_concurso_select"
                ng-model="aposta.premiacao.ao"
                id="comboAoPremio"
                ng-change="alterarAoPremioMultiplo($index)"
                ng-disabled="aposta.premiacao.disabled"
                ng-options="premio as premio + 'º Prêmio' for premio in [] | range:1:(aposta.premiacao.qtdPremiosVariavel || qtd_premios_extracao)"
              ></select>
            </div>
            <md-menu class="menu-palpite-multiplo-bicho">
              <md-button
                aria-label="Open phone interactions menu"
                class="md-icon-button"
                ng-click="$mdMenu.open($event)"
              >
                <md-icon md-menu-origin aria-label="more_vert"
                  >more_vert</md-icon
                >
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button
                    aria-label="Duplicar"
                    ng-click="duplicarPalpiteMultiplo(key)"
                  >
                    <md-icon>content_copy</md-icon>
                    Duplicar
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button
                    aria-label="Remover"
                    ng-click="removerPalpiteMultiplo(key)"
                  >
                    <md-icon>delete</md-icon>
                    Remover
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div
            class="col-md-2 col-sm-12 col-xs-12 col-12 betL_seninha_Box_Btn_LimparAdicionar"
          >
            <button
              type="button"
              class="btn naoAlterar betL_BTN"
              id="btnAdicionar"
              ng-click="adicionarApostaMultipla()"
            >
              Adicionar Aposta
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-ms-12 col-xs-12" ng-show="mostraMilharBrinde()">
        <form class="form-cadastro form-group row">
          <div class="col-md-3 col-sm-6 col-8 betL_usuario_boxCampo">
            <label for="edtMilharBrinde">MILHAR DE BRINDE:</label>
            <br />
            <input
              type="text"
              pattern="\d*"
              inputmode="numeric"
              id="edtMilharBrinde"
              placeholder="Milhar de Brinde"
              ng-model="edtMilharBrinde"
              class="form-control betL_seninha_form_Valor_Input"
              maxlength="4"
            />
          </div>
        </form>
      </div>

      <!-- APOSTA -->
      <div class="col-md-12 col-sm-12 col-xs-12 betL_seninha_table">
        <div class="betL_seninha_TextSecundario">
          <h5>Apostas</h5>
        </div>

        <div class="table-responsive betL_verBilheteList">
          <table class="table table-hover" width="30%">
            <thead>
              <tr>
                <th style="width: 20%" class="align-middle" scope="col">
                  Concurso
                </th>
                <th style="width: 5%" class="align-middle" scope="col">Tipo</th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Valor da Aposta
                </th>
                <th style="width: 10%" class="align-middle" scope="col">
                  Prêmio
                </th>
                <th style="width: 30%" class="align-middle" scope="col">
                  Números
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Inversões
                </th>
                <th style="width: 10%" class="align-middle" scope="col">
                  Possível Retorno
                </th>
                <th style="width: 15%" class="align-middle" scope="col">
                  Ações
                </th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th class="align-middle" scope="col">Total:</th>
                <th class="align-middle" scope="col">{{ valorTotal}}</th>
                <th class="align-middle" scope="col">&nbsp;</th>
                <th class="align-middle" scope="col">&nbsp;</th>
                <th class="align-middle" scope="col">&nbsp;</th>
                <th class="align-middle" scope="col">&nbsp;</th>
                <th class="align-middle" scope="col">&nbsp;</th>
                <th class="align-middle" scope="col">&nbsp;</th>
              </tr>
            </tfoot>
            <tbody class="container">
              <tr ng-repeat="x in apostas">
                <td class="align-middle">{{ x.extracao }}</td>
                <td class="align-middle">{{ x.tipoJogo}}</td>
                <td class="align-middle">{{ x.valorReal | currency:"R$"}}</td>
                <td class="align-middle">{{ x.premio}}</td>
                <td class="align-middle">{{ x.numeros}}</td>
                <td class="align-middle">{{ x.inversoes}}</td>
                <td class="align-middle">{{ x.possivelRetorno}}</td>
                <td class="align-middle">
                  <div>
                    <button
                        type="button"
                        class="btn betL_BTN_icon betL_BTN mb-2 mb-sm-0"
                        ng-if="comboConcurso.length > 0"
                        ng-click="repetirAposta(x)"
                      >
                      <i class="fas fa-undo-alt"></i>
                    </button>
                    <button
                      type="button"
                      class="btn betL_btn_seninhaQuininha_excluir betL_BTN_icon brtL_BTN_excluir"
                      ng-click="removerAposta($index)"
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- FORM CONCURSO | NOME | TELEFONE -->
      <form class="form-cadastro form-group row betL_seninhaQuininha_form">
        <div class="col-md-3 col-sm-12 col-xs-12 col-12">
          <div class="betL_seninha_nome_box">
            <label for="edtNome">Nome:</label>
            <input
              type="text"
              id="edtNome"
              placeholder="Nome"
              ng-model="edtNome"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-12">
          <div class="float-right betL_seninha_telefone_box">
            <label for="edtTelefone">Telefone:</label>
            <input
              type="tel"
              id="edtTelefone"
              placeholder="Telefone"
              ng-model="edtTelefone"
              class="form-control betL_seninha_telefone_input"
            />
          </div>
        </div>
      </form>

      <div class="col-md-12 col-12">
        <div class="float-right">
          <input
            type="button"
            class="btn naoAlterar betL_BTN betL_BTN_GerarBilhete"
            id="btnGerarBilhete"
            value="Gerar Bilhete"
            ng-click="gerarBilhete()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
