*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: calibri;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

div#mainContent {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/* The sidebar menu */

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 180px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 3;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 0px;
}

/* The navigation menu links */

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav a:active {
  text-decoration: underline;
  color: #f1f1f1;
}

/* Style page content */

.main {
  margin-left: 20px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/*table{
    /*margin-left: 20px; /* Same as the width of the sidebar 
    /*padding: 0px 10px;
    /*width: 100%;
  }*/

.form-cadastro {
  width: 100%;
  padding-left: 20px;
  margin: auto;
}

.botao-baixo {
  padding-top: 35px;
  padding-left: 5px;
  margin: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.menu-bet {
  color: #f1f1f1;
  background-color: #77B303;
  padding: 5px;
  padding-left: 40px;
  align-items: center;
}

.panel-default {
  color: #333;
  background-color: #f5f5f5;
  border-color: #01476E;
}
.panel-heading {
  padding-top: 20px;
  padding-left: 10px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-body {
  padding: 5px;
}
/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  padding-left: 0%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px;
  /* Vertically center the text there */
  background-color: #C7C3C3;
}

/* Custom page CSS
  -------------------------------------------------- */

/* Not required for template or sticky footer method. */

code {
  font-size: 80%;
}

.clsBilhete {
  margin: 0 auto;
  width: 50%;
  background-color: burlywood;
  border: 2px solid;
  border-radius: 5px;
  padding: 25px;
  /* Valor da Largura */
}

@media print {
  .clsBilhete {
    width: 100%;
    border: 0;
    padding: 0;
    page-break-after: avoid;
    page-break-before: avoid;
    margin: 0 0 0 0;
  }
  .no-print, .no-print * {
    display: none !important;
  }
}

.btn-azul {
  color: #fff;
  background-color: #01476E;
  border-color: #01476E;
}

.btn-azul:hover {
  color: #fff;
  background-color: rgb(4, 90, 182);
  border-color: rgb(4, 90, 182);
}

.btn-azul:focus, .btn-azul.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-azul.disabled, .btn-azul:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-azul:not(:disabled):not(.disabled):active, .btn-azul:not(:disabled):not(.disabled).active,
.show > .btn-azul.dropdown-toggle {
  color: #fff;
  background-color: #01476E;
  border-color: #01476E;
}

.btn-azul:not(:disabled):not(.disabled):active:focus, .btn-azul:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-seninha {
  color: #fff;
  background-color: #77B303;
  border-color: #01476E;
}

.btn-seninha:hover {
  color: #fff;
  background-color: #01476E;
  border-color: #77B303;
}

.btn-seninha:focus, .btn-seninha.focus {
  box-shadow: 0 0 0 0.2rem #77B303;
}

.btn-seninha.disabled, .btn-seninha:disabled {
  color: #fff;
  background-color: #77B303;
  border-color: #01476E;
}

.btn-seninha:not(:disabled):not(.disabled):active, .btn-seninha:not(:disabled):not(.disabled).active,
.show > .btn-seninha.dropdown-toggle {
  color: #fff;
  background-color: #77B303;
  border-color: #01476E;
}

.btn-seninha:not(:disabled):not(.disabled):active:focus, .btn-seninha:not(:disabled):not(.disabled).active:focus,
.show > .btn-seninha.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #77B303
}
.btn-outline-seninha {
  color: #fff;
  background-color: #01476E;
  background-image: none;
  border-color: #77B303;
}

.btn-outline-seninha:hover {
  color: #fff;
  background-color: #77B303;
  border-color: #01476E;
}

.btn-outline-seninha:focus, .btn-outline-seninha.focus {
  box-shadow: 0 0 0 0.2rem #77B303;
}

.btn-outline-seninha.disabled, .btn-outline-seninha:disabled {
  color: #77B303;
  background-color: transparent;
}

.btn-outline-seninha:not(:disabled):not(.disabled):active, .btn-outline-seninha:not(:disabled):not(.disabled).active,
.show > .btn-outline-seninha.dropdown-toggle {
  color: #fff;
  background-color: #77B303;
  border-color: #01476E;
}

.btn-outline-seninha:not(:disabled):not(.disabled):active:focus, .btn-outline-seninha:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-seninha.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #77B303
}

.btn-btnsen {
  color: #fff;
  background-color: #77B303;
  border-color: #77B303;
}

.btn-btnsen:hover {
  color: #77B303;
  background-color: #fff;
  border-color: #01476E;
}

.btn-btnsen:focus, .btn-btnsen.focus {
  box-shadow: 0 0 0 0.2rem #fff;
}

.btn-btnsen.disabled, .btn-btnsen:disabled {
  color: #fff;
  background-color: #77B303;
  border-color: #77B303;
}

.btn-btnsen:not(:disabled):not(.disabled):active, .btn-btnsen:not(:disabled):not(.disabled).active,
.show > .btn-btnsen.dropdown-toggle {
  color: #fff;
  background-color: #77B303;
  border-color: #77B303;
}

.btn-btnsen:not(:disabled):not(.disabled):active:focus, .btn-btnsen:not(:disabled):not(.disabled).active:focus,
.show > .btn-btnsen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #77B303
}

.btn-outline-btnsen {
  color: #77B303;
  background-color: transparent;
  background-image: none;
  border-color: #77B303;
}

.btn-outline-btnsen:hover {
  color: #77B303;
  background-color: #fff;
  border-color: #01476E;
}

.btn-outline-btnsen:focus, .btn-outline-btnsen.focus {
  box-shadow: 0 0 0 0.2rem #fff;
}

.btn-outline-btnsen.disabled, .btn-outline-btnsen:disabled {
  color: #77B303;
  background-color: transparent;
}

.btn-outline-btnsen:not(:disabled):not(.disabled):active, .btn-outline-btnsen:not(:disabled):not(.disabled).active,
.show > .btn-outline-btnsen.dropdown-toggle {
  color: #fff;
  background-color: #fff;
  border-color: #77B303;
}

.btn-outline-btnsen:not(:disabled):not(.disabled):active:focus, .btn-outline-btnsen:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-btnsen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #77B303;
}

.btn-outline-btnsen {
  color: #77B303;
  background-color: transparent;
  background-image: none;
  border-color: #77B303;
}

.btn-outline-btnsen:hover {
  color: #77B303;
  background-color: #fff;
  border-color: #01476E;

}

.btn-outline-btnsen:focus, .btn-outline-btnsen.focus {
  box-shadow: 0 0 0 0.2rem #77B303;
}

.btn-outline-btnsen.disabled, .btn-outline-btnsen:disabled {
  color: #77B303;
  background-color: transparent;
}

.btn-outline-btnsen:not(:disabled):not(.disabled):active, .btn-outline-btnsen:not(:disabled):not(.disabled).active,
.show > .btn-outline-btnsen.dropdown-toggle {
  color: #fff;
  background-color: #77B303;
  border-color: #77B303;
}

.btn-outline-btnsen:not(:disabled):not(.disabled):active:focus, .btn-outline-btnsen:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-btnsen.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #77B303;
}


