#logo {
    margin-bottom: 64px; }

body {
    background-color: #8eabbd;
    font-family: 'Roboto', sans-serif;
    height: auto;
}

.boxFormLogin{
    width: 400px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40%;
    border-radius: 5px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    position: absolute;
    margin-top: 7%;
}

form.form-signin div.form-label-group{
    margin-bottom: 24px !important;
}

form.form-signin div.betL_LastInput{
    margin-bottom: 36px !important;
}

form.form-signin div input.betL_inputLogin{
    height: 50px;
    border: 1px solid #ACAFB3 !important;
    border-radius: 5px 5px 5px 5px !important;
}

form.form-signin div input.betL_inputLogin:focus{
    border: 1px solid #356B8A !important;
}

form.form-signin button{
    height: 50px;
    border: none;
    border-radius: 50px !important;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    background: #02466d;
    background: -moz-linear-gradient(left, #02466d 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(left, #02466d 0%,#7db9e8 100%);
    background: linear-gradient(to right, #02466d 0%,#7db9e8 100%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

form.form-signin button:hover{
    background-color: #03476c;
}

.form-label-group {
    transition: 0.2s ease-in-out; }

.form-label-group input.form-control {
    background-color: white;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #4E4C49; }

.form-label-group input.form-control:focus {
    border-bottom: 2px solid #77B302;
    box-shadow: initial;
    padding-top: 20px;
    padding-bottom: 4px; }

.form-label-group input.form-control:focus ~ label {
    color: #77B302;
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px; }

.form-label-group input.form-control:not(:placeholder-shown) ~ label {
    color: #9C9792; }

.form-label-group input.form-control:not(:placeholder-shown):focus ~ label {
    color: #77B302; }


