*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.navbar-nav-rodrigo {
    display: -ms-flexbox;
    display: inherit;
    
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

p, label, option, th, td{
    color: #505B60;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    line-height: 0;
}

input{
    font-weight: 400;
    width: 200px;
    height: 50px !important;
    color: #505B60;
}

select{
    width: 200px !important;
    height: 50px !important;
}

/* retirei por causa do scroll*/

div#mainContent {
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 180px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 3;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0px;
}

/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav a:active {
    text-decoration: underline;
    color: #f1f1f1;
}

/* Style page content */

.main {
    margin-left: 20px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/*table{
    /*margin-left: 20px; /* Same as the width of the sidebar 
    /*padding: 0px 10px;
    /*width: 100%;
  }*/

.form-cadastro {
    width: 100%;
    padding-left: 20px;
    margin: auto;
}

.form-cadastro-trocar-senha {
    width: 100%;
    padding-left: 20px;
    margin: 0;
}

.botao-baixo {
    padding-top: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.menu-bet {
    color: #01466D;
    background-color: #C7C3C3;
    /* cinza menu */
    /*padding: 5px;
    padding-left: 40px;*/
    align-items: center;
}

.menu-bet a:hover {
    color: #01466D;
}

.clsBilhete {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px; 
    width: 500px;
    background-color: #FFFFFF;
    /*border: 1px solid #A6AfB3;*/
    border-radius: 5px;
    /* padding: 30px; */
    /* Valor da Largura */
}

.betL_ExBilhete_Titulo{
    font-weight: 500 !important;
    color: #6790A7 !important;
}

.clsBilhete section p{
    font-weight: 400;
    color: #505B60;
    line-height: 1.4rem !important;
}

.clsBilhete section p strong,
strong.betL_StrongStatus{
    color: #6790A7 !important;
    font-size: 12px;
}

.betL_ExBilhete_TipoJogo{
    font-weight: 700 !important;
    color: #6790A7 !important;
}

@media print {
    .clsBilhete {
        width: 100%;
        border: 0;
        padding: 0;
        page-break-after: avoid;
        page-break-before: avoid;
        margin: 0 0 0 0;
    }
    .no-print, .no-print * {
        display: none !important;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #E5E5E5;
    padding: 0 15px;
}

#footer {
    bottom: 0;
    margin: 0px 0px 0px 0px;
    padding: 0px 0 0 0;
    text-align: left;
    position: absolute;
    width: 90%;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

#footer-left {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 11px;
    padding: 10px 0 10px 0px;
    border-top: 5px solid #A5151E;
    border-bottom: 1px solid #dbdbdb;
    background: #2A2A2A;
    height: 12px;
}

#footer-left a {
    color: #FFFFFF;
    text-decoration: none;
}

#footer-left a.selected, #footer-left a:hover {
    color: red;
    text-decoration: none;
}
/*
.dropleftSeninha  {
    top: 0;
    right: 55%;
    margin-top: 0;
    position: relative;
}
*/


/* ------------------------------------- */
/* MENU */

.navbar{
    padding: 0px !important;
}

.betL_menu{
    height: 80px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.35);
}

.betL_menu img{
    margin-left: 25px;
    max-width: 150px;
    height: 40px;
    width: auto;
    height: auto;
}

img.betL_logoPerfil{
    margin-right: 10px;
    max-width: 40px;
    height: 30px;
    width: auto;
    height: auto;
}

ul.betL_menu_ul{
    margin-left: 25px;
}

ul.betL_menu_ul li.betL_menu_li_principais,
ul.betL_menu_ul li.betL_menu_li_dropdown{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
}

ul.betL_menu_ul li.betL_menu_li_principais a,
ul.betL_menu_ul li.betL_menu_li_dropdown a.betL_dd_linkP{
    margin: -15px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    height: 80px;
    line-height: 80px;
    white-space: nowrap;
    background-color: #FFFFFF;
    color: #6790A7;
    text-transform: uppercase;
    font-size: 14px;
}

ul.betL_menu_ul li.betL_menu_li_principais a:hover,
ul.betL_menu_ul li.betL_menu_li_dropdown a.betL_dd_linkP:hover{
    background-color: #e1e4e6;
    text-decoration: none;
}

ul.betL_menu_ul li.betL_menu_li_dropdown a i{
    margin-left: 5px;
}

li.betL_menu_li_dropdown div.dropdown-menu{
    margin-top: -10px;
}

li.betL_menu_li_dropdown div.dropdown-menu a.betL_dd_link{
    display: block;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
    color: #6790A7;
}

li.betL_menu_li_dropdown div.dropdown-menu a.betL_dd_link i{
    margin-left: -5px;
    margin-right: 5px;
}

li.betL_menu_li_dropdown div.dropdown-menu a.betL_dd_link:hover{
    background-color: #e1e4e6;
    text-decoration: none;
}

li.betL_menu_dd_perfil a.betL_menu_dd_link{
    display: block;
    height: 80px;
    line-height: 80px;
    white-space: nowrap;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    color: #6790A7;
}

li.betL_menu_dd_perfil a.betL_menu_dd_link:hover{
    background-color: #e1e4e6;
    text-decoration: none;
}

li.betL_menu_dd_perfil div.betL_menu_dd_perfil_box{
    right: 0px;
    margin-top: -10px;
}

li.betL_menu_dd_perfil div.betL_menu_dd_perfil_box a.betL_dd_perfil_link{
    display: block;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
    color: #6790A7;
}

li.betL_menu_dd_perfil div.betL_menu_dd_perfil_box a.betL_dd_perfil_link:first-child{
    padding-top: 0px;
}

li.betL_menu_dd_perfil div.betL_menu_dd_perfil_box a.betL_dd_perfil_link:hover{
    background-color: #e1e4e6;
    text-decoration: none;
}

ul.navbar-nav li.betL_menu_dd_perfil div.dropdown-menu{
    left: -30px !important;
}


/* ------------------------------------- */
/* CONTAINER */

.betL_container{
    width: 96%;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 2%;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

.betL_Titulo{
    margin-bottom: 25px;
}

.betL_container h5,
.betL_container div.no-print h5{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 32px;
    color: #6790A7;
    text-transform: uppercase;
}

.betL_CaixaFormSelect select,
.betL_verBilheteFormSelect select{
    margin-right: 15px;
    width: 200px;
}

select.betL_Width_SelectConcurso{
    width: 350px !important;
}

.betL_CaixaList{
    margin-top: 15px;
}
.betL_verBilheteList{
    margin-top: 22px;
}
.betL_resultadosList{
    margin-top: 22px;
}

.betL_CaixaList table thead tr,
.betL_verBilheteList table thead tr{
    height: 50px;
}

.betL_resultadosList table thead tr{
    height: 30px;
}

.betL_CaixaList table thead tr th,
.betL_verBilheteList table thead tr th{
    font-weight: 500;
    font-size: 12px;
    color: #02466D;
}

.betL_resultadosList table thead tr th{
    font-weight: 500;
    font-size: 12px;
    color: #02466D;
}

.betL_CaixaList table tbody tr td,
.betL_CaixaList table tbody tr th,
.betL_verBilheteList table tbody tr td,
.betL_verBilheteList table tbody tr th{
    font-size: 16px;
    color: #6A7980;
    padding-top: 16px;
    padding-bottom: 16px
}

.betL_resultadosList table tbody tr td,
.betL_resultadosList table tbody tr th{
    font-size: 16px;
    color: #6A7980;
    padding-top: 16px;
    padding-bottom: 16px
}

button.betL_BTN{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #356b8a;
    text-transform: uppercase;
}

button.betL_BTN:hover{
    background-color: #023552;
    color: #FFFFFF;
}

button.betL_BTN i{
    padding-right: 5px;
}

.brtL_BTN_excluir{
    background-color: #ff4545 !important;
}

.brtL_BTN_excluir:hover{
    background-color: #cc3737 !important;
}

button.betL_BTN_mRight{
    margin-right: 20px;
}

input.betL_input{
    height: 50px;
    border: 1px solid #ACAFB3 !important;
    border-radius: 5px 5px 5px 5px !important;
}

input.betL_input:focus{
    border: 1px solid #356B8A !important;
}

.betL_input_trocaSenha{
    width: 350px !important;
}

.betL_BTN_icon{
    width: 50px !important;
    height: 50px !important;
}

.betL_BTN_icon i{
    margin-left: -4px;
}

.loaderPrincipal{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; 
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

[ng-cloak].splash {
    display: block !important;
}



/* ------------------------------------- */
/* CAIXA */



/* ------------------------------------- */
/* VER BILHETE / CONFERIR BILHETE */



form.betL_formConfBilhete div{
    margin: 0 !important;
}

.betL_ConfBilhete_boxLabel input{
    color: #505B60 !important;
    width: 130px;
}

div.betL_container div form.betL_formConfBilhete div.betL_ConfBilhete_boxInput{
    margin-left: 20px !important;
}

.betL_ConfBilhete_boxInput input{
    width: 200px;
    border-radius: 5px 0px 0px 5px;
}

.betL_ConfBilhete_boxInput input:focus{
    border: 1px solid #356B8A !important;
}

.betL_ConfBilhete_boxBtn button{
    border: none;
    height: 50px;
    margin-top: 8px !important;
    border-radius: 0px 5px 5px 0px;
}

h5.betL_modal_Titulo{
    margin-bottom: 0 !important;
}

div.betL_verBilhete_Modal_Info p{
    font-weight: 400;
    color: #505B60;
    line-height: 1.4rem !important;
}

div.betL_verBilhete_Modal_Info p strong{
    text-transform: uppercase;
    color: #6790A7 !important;
    font-size: 12px;
}

button.betL_modalBtn{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #889499;
    font-weight: 700;
    background-color: #FFFFFF;
    text-transform: uppercase;
    border: 1px solid #A6AfB3;
}

button.betL_modalBtn:hover{
    background-color: #E5E5E5;
}


/* ------------------------------------- */
/* REGULAMENTO */

.betL_regulamento{
    margin-bottom: 50px;
}

.betL_regulamento div div div.betL_reg_Box{
    border: 1px solid #A6AfB3;
    border-radius: 5px;
    padding: 30px;
}

div.betL_reg_Box h5{
    font-weight: 400;
    font-size: 24px;
}
div.betL_reg_Box p{
    line-height: 1.4em;
}

div.betL_reg_Box p i{
    color: #6790A7;
}


/* ------------------------------------- */
/* FALE CONOSCO */

.betL_fl_card{
    color: #505B60;
}

.betL_fl_card .card-header{
    font-weight: 500;
    background-color: rgba(225, 228, 230, 0.4);
}

.betL_fl_card div div a:hover{
    text-decoration: none;
}

.betL_fl_card div div a img{
    width: 20%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-bottom: 15px;
    transition: all .25s ease-in-out;
}

.betL_fl_card div div a:hover img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
} 


/* ------------------------------------- */
/* USUÁRIO */

.betL_usuario_form div.betL_usuario_boxCampo{
    margin-top: 5px;
}

.betL_usuario_form div .betL_usuario_form_comissao{
    width: 200px;
    margin-right: 20px;
}

button.betL_BTN_usuario_salvar{
    margin-top: 2px;
    background-color: #77B302;
}

button.betL_BTN_usuario_salvar:hover{
    background-color: #598602;
}


/* ------------------------------------- */
/* GERENCIAR JOGOS */

.betL_jogos_form div.betL_jogos_boxCampo{
    margin-right: 20px;
}

button.betL_BTN_jogos_salvar{
    margin-top: 2px;
    background-color: #77B302;
}

.betL_BTN_jogos_salvar span {
    font-size: 13px;
}
    
button.betL_BTN_jogos_salvar:hover{
    background-color: #598602;
}

form.betL_jogos_modalForm div div{
    margin-bottom: 20px;
}

.betL_jogos_boxCampo input[type="checkbox"]{
	width: 25px !important;
	display: block;
}


/* ------------------------------------- */
/* CONFIGURAÇÃO */

.betL_conf_Border{
    border: 1px solid #A6AfB3;
    padding-bottom: 30px;
    border-radius: 5px;
    padding-right: 20px;
}

div.betL_conf_Box h5{
    margin-left: 18px;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}

div.betL_conf_input_box{
    width: 100%;
    margin-bottom: 15px;
}

div.betL_conf_input_box input{
    width: 100% !important;
}

div.betL_conf_input_box select{
    width: 100% !important;
}


/* ------------------------------------- */
/* SENINHA */

:root {
    --marginBtnNumerosAposta: 6px;
}

div.betL_seninha_TextSecundario h5{
    font-weight: 400;
    font-size: 28px;
    text-transform: initial;
    margin-bottom: 10px;
}

div.betL_seninha_btn_qtdNumerosAposta{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

div.betL_seninha_btn_qtdNumerosAposta button{
    margin: 0px !important;
    width: calc((100%/2) - (0px* 2));
    height: 80px;
    border-radius: 0px;
    background-color: #FFFFFF;
    color: #505b60;
    font-weight: 500;
}

div.betL_seninha_btn_qtdNumerosAposta button:hover{
    background-color: #C3C9CC;
    color: #505b60;
}

div.betL_seninha_btn_qtdNumerosAposta button.betL_QTD_Numeros_Select{
    background-color: #356b8a !important;
    color: #FFFFFF;
}

div.betL_seninha_btn_qtdNumerosAposta button span{
    font-size: 0.8rem;
}

button.betL_Seninha_qtdAposta_lt{
    border-left: 1px solid #505b60;
    border-right: 1px solid #505b60;
    border-top: 1px solid #505b60;
    border-bottom: 1px solid #505b60;
    border-radius: 5px 0px 0px 0px !important;
}

button.betL_Seninha_qtdAposta_rt{
    border-right: 1px solid #505b60;
    border-top: 1px solid #505b60;
    border-bottom: 1px solid #505b60;
    border-radius: 0px 5px 0px 0px !important;
}

button.betL_Seninha_qtdAposta_l{
    border-left: 1px solid #505b60;
    border-bottom: 1px solid #505b60;
    border-right: 1px solid #505b60;
}

button.betL_Seninha_qtdAposta_r{
    border-right: 1px solid #505b60;
    border-bottom: 1px solid #505b60;
}

button.betL_Seninha_qtdAposta_40{
    margin: 0px !important;
    width: calc((100%/1) - (0px* 2)) !important;
    border-radius: 0px 0px 5px 5px !important;
    background-color: #FFFFFF;
    border-left: 1px solid #505b60;
    border-right: 1px solid #505b60;
    border-bottom: 1px solid #505b60;
}

#numerosSelecionados{
    margin-bottom: 10px;
    margin-right: 3px;
    color: #505B60;
}

.betL_seninha_numerosBtn{
    display: flex;
    flex-wrap: wrap;
}

.betL_seninha_numerosBtn button{
    margin: var(--marginBtnNumerosAposta);
    width: calc((100%/10) - (var(--marginBtnNumerosAposta)* 2));
    height: 70px;
    border-radius: 0px;
    border: 1px solid #505b60;
    font-weight: 500;
    color: #505b60;
}

.betL_seninha_numerosBtn button:hover{
    background-color: #C3C9CC;
    border: 1px solid #505b60;
    color: #505b60;
}

.betL_seninha_numerosBtn button:focus{
    box-shadow: 0 0 0 0.2rem rgba(53, 107, 138, 0.51) !important;
}

.betL_seninha_numerosBtn button:active{
    background-color: #356b8a !important;
    border-color: #356b8a !important;
}

.betL_seninha_numerosBtn button.btn-danger{
    background-color: #356b8a !important;
    color: #FFFFFF !important;
}

div.betL_seninha_Box_Btn_LimparAdicionar{
    margin-top: 30px;
}

input.betL_seninha_BtnOutline{
    width: auto;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #889499;
    font-weight: 700;
    background-color: #FFFFFF;
    text-transform: uppercase;
    border: 1px solid #A6AfB3;
}

form.betL_seninha_form_Valor,
.betL_BTN_GerarBilhete{
    margin-right: 5px;
}

div form.betL_seninha_form_Valor input.betL_seninha_form_Valor_Input{
    border-radius: 5px 0px 0px 5px !important;
    height: 50px;
    text-align: left !important;
}

form.betL_seninha_form_Valor input.betL_seninha_form_Valor_Btn{
    border-radius: 0px 5px 5px 0px !important;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #356b8a;
    text-transform: uppercase;
}

div.betL_seninha_table{
    margin-top: 15px;
    margin-bottom: 30px;
}

input.betL_BTN_GerarBilhete{
    margin-top: 7px;
    width: auto;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #356b8a;
    text-transform: uppercase;
}

div div.betL_seninha_telefone_box{
    margin-right: -10px !important;
    width: 100%;
}

div div.betL_seninha_telefone_box input.betL_seninha_telefone_input,
.betL_seninha_concurso_select{
    width: 100% !important;
}

div div.betL_seninha_nome_box,
betL_seninha_concurso_box{
    width: 100%;
}

button.bet_seninha_BTN_excluir{
    background-color: rgba(0,0,0,0);
    color: #889499;
}


/* ------------------------------------- */
/* QUININHA */

div.betL_quininha_btn_qtdNumerosAposta button{
    height: 92px !important;
}


/* ------------------------------------- */
/* IMPRIMIR BILHETE */

div.box hr{
    border-top: none;
}

.betL_BTN {
    width: 100%;
}

hr.linha{
    border-bottom: 1px dashed rgba(0,0,0,0.3) !important;
}

#cupomImprimir .box{
    background-color: rgba(255, 255, 224, 1);
    padding: 10px;
}

#cupomImprimir .box div.bloco{
    margin-top: 25px;
    margin-bottom: 25px;
}

#cupomImprimir .box div.bloco h6{
    text-transform: uppercase;
}

div.bloco h6.tipoJogo{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0px;
}

#cupomImprimir .box div div strong,
#cupomImprimir .box div div span{
    font-size: 12px !important;
}

p.cupom_textoInfo{
    font-size: 12px;
    font-weight: 400;
}


.betL_btn_seninhaQuininha_excluir{
    color: #FFFFFF;
}

.betL_imprimirBilhete_Row{
    margin-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: rgb(119, 179, 2) !important;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* ------------------------------------- */
/* IMPRIMIR BILHETE */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    
    div.boxFormLogin{
        width: 90%;
		margin: 0 auto;
        margin-left: 5%;
        padding-top: 20px;
        /*padding-bottom: 50px;*/
        /*bottom: 15%;*/
    }
    
    /* ----- MENU ----- */
    
    .betL_menu button.betL_menuCollapse_BTN{
        width: 50px;
        height: 50px;
        margin-right: 15px;
        background-color: #FFFFFF;
    }
    
    .betL_menu button.betL_menuCollapse_BTN i{
        color: #02466D;
    }
    
    div.collapse.navbar-collapse{
        margin-top: 15px;
        -webkit-box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
        -moz-box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
        box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
    }
    
    ul.betL_menu_ul{
        height: 100%;
        display: contents;
    }
    
    li.betL_menu_li_dropdown div.betL_menu_dd,
    li.betL_menu_dd_perfil div.betL_menu_perfil_dd{
        position: absolute;
        width: 94% !important;
        left: 3% !important;
        -webkit-box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
        -moz-box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
        box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
    }
    
    ul.navbar-nav li.betL_menu_dd_perfil div.dropdown-menu{
        left: 3% !important;
    }
    
    ul.betL_menu_ul li.betL_menu_li_principais a,
    ul.betL_menu_ul li.betL_menu_li_dropdown a.betL_dd_linkP{
        height: 60px;
        line-height: 60px;
    }
    
    
    /* ----- CONTAINER ----- */
    
    .betL_container{
        height: 100%;
        overflow: auto;
        width: 92%;
        margin-top: 60px;
        margin-left: 4%;
        margin-bottom: 4%;
        padding: 0px;
    }
    
    div#mainContent{
        min-height: 0vh;
    }
    
    
    /* ----- CAIXA ----- */
    
    div form.form-cadastro{
        width: 100%;
    }
    
    div.betL_CaixaFormSelect{
        width: 100%;
    }
    
    div.betL_CaixaFormSelect select{
        width: 100% !important;
        margin-bottom: 15px;
    }
    
    
    /* ----- VER BILHETE ----- */
    
    div.betL_verBilheteList table tbody tr th,
    div.betL_verBilheteList table tbody tr td{
        font-size: 12px;
    }

    div.betL_resultadosList table tbody tr th,
    div.betL_resultadosList table tbody tr td{
        font-size: 12px;
    }
    
    div.betL_verBilheteFormSelect{
        width: 100%;
        margin-bottom: 15px;
    }
    
    div.betL_verBilheteFormSelect select{
        width: 100% !important;
    }
    
    
    /* ----- CONFERIR BILHETE ----- */
    
    .clsBilhete{
        width: 100%;
        padding: 0px;
    }
    
    #cupomImprimir .box{
        padding: 10px;
    }
    
    
    /* ----- REGULAMENTO ----- */
    
    .betL_reg_Box{
        margin-bottom: 30px;
    }
    
    
    /* ----- FALE CONOSCO ----- */
    
    .betL_fl_card{
        margin-bottom: 30px;
    }
    
    
    /* ----- CONFIGURAÇÃO ----- */
    
    div.betL_conf_Border{
        width: 100%;
        margin-bottom: 30px;
    }
    
    
    /* ----- USUÁRIO ----- */
    
    div.betL_usuario_boxCampo{
        margin-bottom: 15px;
        width: 100%;
    }
    
    div.betL_usuario_boxCampo select{
        width: 100% !important;
    }
    div.betL_usuario_boxCampo input{
        width: 100% !important;
    }
    
    
    /* ----- JOGOS ----- */
    
    .betL_jogos_boxCampo{
        width: 100%;
        margin-bottom: 15px;
    }
    
    .betL_jogos_boxCampo input,
    .betL_jogos_boxCampo select{
        width: 100% !important;
    }
    
    /* ----- TROCAR ----- */
    
    .betL_trocaSenha_form_box{
        width: 100%;
        margin-bottom: 15px;
    }
    .betL_trocaSenha_form_box input{
        width: 100% !important;
    }
    
    .form-cadastro-trocar-senha{
        padding-left: 0px;
    }
    
    .form-cadastro-trocar-senha div.botao-baixo{
        margin-bottom: 30px;
    }
    
    
    /* ----- SENINHA ----- */
    
    .betL_seninha_numerosBtn button{
        margin: var(--marginBtnNumerosAposta);
        width: calc((100%/6) - (var(--marginBtnNumerosAposta)* 2));
        height: 70px;
        border-radius: 0px;
        border: 1px solid #505b60;
        font-weight: 500;
        color: #505b60;
    }
    
    form.betL_seninha_form_Valor{
        margin-left: 2%;
    }
    
    form.betL_seninhaQuininha_form div{
        margin-bottom: 15px;
    }
    
    form.betL_seninha_form_Valor input{
        width: 50%;
    }
    
    div div.betL_seninha_telefone_box{
        margin-right: 0px !important;
    }
    
    .betL_BTN_GerarBilhete{
        margin-bottom: 30px;
    }
    
    
    /* ----- QUININHA ----- */
    
    div.betL_quininha_numerosBtn button{
        margin: var(--marginBtnNumerosAposta);
        width: calc((100%/8) - (var(--marginBtnNumerosAposta)* 2));
        height: 70px;
        border-radius: 0px;
        border: 1px solid #505b60;
        font-weight: 500;
        color: #505b60;
        padding-left: 5px;
    }
    
    .filtro-jogo {
        width: 100% !important;
    }
    
    
}




@media (max-width: 1200px) {
    
    /* ----- MENU ----- */
    
    .betL_menu button.betL_menuCollapse_BTN{
        width: 50px;
        height: 50px;
        margin-right: 15px;
        background-color: #FFFFFF;
    }
    
    .betL_menu button.betL_menuCollapse_BTN i{
        color: #02466D;
    }
    
    div.collapse.navbar-collapse{
        margin-top: 15px;
        -webkit-box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
        -moz-box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
        box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
    }
    
    ul.betL_menu_ul{
        height: 100%;
        display: contents;
    }
    
    li.betL_menu_li_dropdown div.betL_menu_dd,
    li.betL_menu_dd_perfil div.betL_menu_perfil_dd{
        position: absolute;
        width: 94% !important;
        left: 3% !important;
        -webkit-box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
        -moz-box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
        box-shadow: 0px 15px 44px -19px rgba(117,117,117,1);
    }
    
    ul.navbar-nav li.betL_menu_dd_perfil div.dropdown-menu{
        left: 3% !important;
    }
    
    ul.betL_menu_ul li.betL_menu_li_principais a,
    ul.betL_menu_ul li.betL_menu_li_dropdown a.betL_dd_linkP{
        height: 60px;
        line-height: 60px;
    }
    .filtro-jogo {
        width: 75% !important;
    }
}

.paginator ul li a{
    padding: 10px 15px;
    border-radius: 5px; 
    margin: 2px;
    outline: none;
    list-style: none;
    font-weight: bold;
    border: 1px solid #999;
    color: #356b8a;
}

.paginator ul li.active a {
    background: #356b8a;
    color: #fff;
}

.paginator ul li a:hover {
    text-decoration: none;
    background: #eee;
}

.paginator ul li.active a:hover {
    text-decoration: none;
    background: #356b8a;
    color: #fff;
}

.paginator ul li.disabled a {
    background: #eee;
    border: none;
    cursor: default;
    text-decoration: none;
}

.paginator ul li.disabled a:hover {
    text-decoration: none;
}

.loader {
    border: 20px solid #c3c3c3; /* Light grey */
    border-top: 20px solid #77b302; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }

  .betL_BTN div {
      font-size: 12px;
  }
  .loader-modal {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.4);
  }
  #loader-content {
    max-width: 200px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    background: #02466d;
    border-radius: 15px;
    box-shadow: 5px 10px 5px #999;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
}

#loader-content span {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.carregando-bilhete {
    background-color: #ffffe0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.icon-zapzap {
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    border: 1px solid #50b254;
    box-shadow:  -1px 1px #50b254,
         -2px 2px #50b254,
         -3px 3px #50b254,
         -4px 4px #50b254,
         -5px 5px #50b254;
}
a.icon-zapzap:hover{
   cursor: pointer;
}

.info-bilhete {
    background-color: #e0fbd0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 1px 1px 5px #dedede;
}
.info-bilhete h6 {
    color: #4b4b4b;
    text-transform: uppercase;
}

.info-bilhete h6 span {
    font-weight: bold;
    color: #008000;
}

.info-bilhete button{
    margin-top: 8px;
    background-color: #00a900;
}
.info-bilhete button[disabled='disabled'], .info-bilhete button[disabled='disabled']:hover{
    background-color: #42c442;
}

.info-bilhete button:hover{
    background-color: #008000;
}
a[disabled='disabled'] {
    pointer-events: none;
    cursor: default;
}
.statusPagamentoBilhete {
    position: relative;
}
.statusPagamentoBilhete i {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateY(-50%);
}

.filtro-jogo {
    width: 50%;
}

/* Novo layout das dezenas dos jogos - INICIO */

.btn-grid:first-child > span {
    border-bottom: 1px solid #02466d;
    color: #02466d;
  }
  
  .btn-grid.btn-bg-grid:first-child > span {
    border-bottom: 1px solid #fff;
  }
  
  .btn-grid span {
    font-size: 0.8rem;
    color: #02466d;
  }
  
  .btn-grid:hover {
    background: #02466d !important;
    color: #fff !important;
  }
  
  .btn-grid:hover span {
    color: #fff !important;
  }
  
  .btn-grid:hover:first-child > span {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  .btn-grid:hover label {
    background: #02466d !important;
    color: #fff;
  }
  
  .btn-grid {
    border: 2px solid #02466d !important;
    background-color: #fff;
    border-radius: 10px !important;
  }
  .btn-bg-grid {
    background: #02466d !important;
    color: #fff;
  }
  .btn-bg-grid span {
    color: #fff !important;
  }
  
  .btn-grid:first-child > span.btn-bg-grid {
    border-bottom: 1px solid #fff;
  }
  
  .btn-outline-grid {
    color: #000;
  }
  .btn-bg-grid.btn-outline-grid {
    color: #fff;
  }
  .btn-outline-grid {
    background: transparent;
  }
  
  .quininha {
    grid-template-columns: repeat(10, 1fr);
    display: grid;
    grid-gap: 10px 30px;
  }
  .quininha button {
    padding: 13px;
    border: 2px solid #02466d !important;
    border-radius: 50%;
    font-weight: bold;
  }
  .seninha {
    grid-template-columns: repeat(10, 1fr);
    display: grid;
    grid-gap: 10px;
  }
  .seninha button {
    padding: 15px;
    border: 2px solid #02466d !important;
    border-radius: 50%;
    font-weight: bold;
  }
  /* mobile */
  
  @media screen and (max-width: 424.98px) {
    .quininha {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px 20px;
    }
    .quininha button {
      padding: 8px;
    }
    .seninha {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 10px;
    }
    .seninha button {
      padding: 8px;
    }
  }
  
  @media screen and (min-width: 425px) and (max-width: 767.98px) {
    .quininha {
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 8px;
    }
    .quininha button {
      padding: 8px;
    }
    .seninha {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 10px 20px;
    }
    .seninha button {
      padding: 8px;
    }
  }
  /* tablet */
  @media screen and (min-width: 767px) and (max-width: 991.98px) {
    .btn-outline-grid:hover {
      background: #02466d;
      color: #fff;
    }
    .seninha {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 35px 14px;
    }
    .seninha button {
      padding: 12px;
    }
    .quininha {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 15px 25px;
    }
    .quininha button {
      padding: 12px;
    }
  }
  
  /* notebook 14" */
  @media screen and (min-width: 992px) and (max-width: 1439.98px) {
    .quininha {
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 15px;
    }
    .quininha button {
      padding: 12px;
    }
    .seninha {
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 40px 10px;
    }
    .seninha button {
      padding: 10px;
    }
  }
  
  /* notebook ou pc acima de 15" */
  @media screen and (min-width: 1440px) {
    .quininha {
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 18px;
    }
    .quininha button {
      padding: 16px;
    }
    .seninha {
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 30px 18px;
    }
    .seninha button {
      padding: 16px;
    }
  }
  
  .numerosSelecionados {
    font-weight: bold;
    font-size: 25px;
  }
  .numerosSelecionados span {
    font-size: 18px;
    color: #666;
    padding: 7px 15px;
  }
  .seninha button:focus.btn-bg-grid {
    color: #fff;
  }
  .quininha button:focus.btn-bg-grid {
    color: #fff;
  }
  
  .seninha button:focus {
    background-color: #fff;
    color: #000;
    border: 1px solid #02466d !important;
  }
  
  .quininha button:focus {
    background-color: #fff;
    color: #000;
    border: 1px solid #02466d !important;
  }
  .table-bg {
    background-color: #f5f5f5;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 10px;
    margin-bottom: 1px;
  }
  .btn-bg-grid div.table-bg {
    background-color: #013a5c;
  }
  
  .btn-grid:hover div.table-bg {
    background-color: #013a5c;
  }
  
/* Novo layout das dezenas dos jogos - FIM */

/* Componente multiselect - INICIO */

.md-select-menu-container.md-active md-select-menu > * {
    margin-top: 40px !important;
}
    
md-select-menu.md-default-theme md-content md-option[selected].md-focused, md-select-menu md-content md-option[selected].md-focused, md-select-menu.md-default-theme md-content md-option[selected]:focus, md-select-menu md-content md-option[selected]:focus {
    color: #02466D !important;
}
    
.md-checkbox-enabled.md-default-theme[selected] .md-icon, .md-checkbox-enabled[selected] .md-icon {
    background-color: #02466D !important;
}
    
.md-checkbox-enabled.md-default-theme[selected].md-focused .md-container::before, .md-checkbox-enabled[selected].md-focused .md-container::before {
    background-color: #02466D !important;
}

md-select {
    border: 1px solid #ced4da !important;
    height: 50px !important;
    border-radius: 5px !important;
    margin-top: 0 !important;
}
/* Componente multiselect - FIM */


/** CONFERIR BILHETES **/

.md-nav-bar ul {
    overflow: auto;
}

.md-nav-bar .md-active {
    color: #28a745;
}

.tblResumoConferirBilhete {
    text-align: center;
    border: 1px dashed;
}

.tblResumoConferirBilhete th {
    color: grey;
    border: 1px dashed;
    border-color: grey;
}

.tblResumoConferirBilhete tr {
    color: grey;
    border: 1px dashed;
    border-color: grey;
}

.tblResumoConferirBilhete td {
    color: grey;
    border: 1px dashed;
    border-color: grey;
}


/** FIM CONFERIR BILHETES **/

/** BICHO **/

.toggle-button-checked {
    background-color: rgb(119, 179, 2) !important;
    color: white !important;
}


.tipos-jogos-multiplo {
    white-space: normal; 
    border-color: white; 
    border-style: solid;
    background-color: lightblue;
    color: white;
}

.tipos-jogos-multiplo[disabled]{
    background-color: lightsalmon;
    color: white;
}

.palpites-multiplos-bicho {
    position: relative;
    border: solid;
    border-color: rgb(119, 179, 2);
    padding: 15px 15px;
}

.menu-palpite-multiplo-bicho {
    position:absolute; 
    top:0; 
    right:0;
}

md-select-menu .md-button {
    color: #ffffff;
    background-color: #356b8a;
    text-transform: uppercase;
}

/* Radio Button */
md-radio-button.md-checked .md-off {
    border-color: rgb(119, 179, 2) !important;
}

md-radio-button .md-on {
    background-color: rgb(119, 179, 2) !important;
}

@media (min-width:320px)  { 
    .tipos-jogos-font-size {
        font-size: 10px;
    }
 }
@media (min-width:481px)  { 
    .tipos-jogos-font-size {
        font-size: 12px;
    }
 }
@media (min-width:641px)  { 
    .tipos-jogos-font-size {
        font-size: 15px;
    }
 }