<div ng-include src="'./components/dashboard.html'"></div>
<div ng-controller="conferirBilheteCtrl" class="betL_container">
  <div class="container-fluid">
    <div class="row">
      <!-- TITULO -->
      <div class="col-12 no-print">
        <h5>CONFERIR BILHETE</h5>
        <hr />
      </div>
    </div>
    <form ng-init="conferirBilheteExterno()">
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="form-group">
            <label for="edtCodBilhete">Código do Bilhete: &nbsp;</label>
            <input
              type="text"
              class="form-control betL_ConfBolhete_input"
              id="edtCodBilhete"
              placeholder="Digite..."
              ng-model="edtCodBilhete"
            />
          </div>
        </div>
        <div class="col-md-4 col-12">
          <label for="edtNumeroBilhete">Número do Bilhete: &nbsp;</label>
          <input
            type="number"
            class="form-control betL_ConfBolhete_input"
            id="edtNumeroBilhete"
            placeholder="Digite..."
            ng-model="edtNumeroBilhete"
          />
        </div>
        <div class="col-md-4 col-xs-2 col-12 d-flex pt-4 align-items-center">
          <button
            type="button"
            class="btn btn-outline-success mb-2 betL_BTN"
            ng-click="procurarBilhete()"
          >
            Procurar
          </button>
        </div>
        <div class="d-flex w-100 justify-content-center align-items-center">
          <span style="font-size: 20px; color: #6790a7">{{msgBilhete}}</span>
        </div>
      </div>
    </form>
    <div class="row">
      <!-- FORM -->
      <div class="col-md-12 col-sm-12 col-xs-12 no-print">
        <div class="no-print">
          <hr />
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 texteabc">
        <div class="clsBilhete" ng-show="exibeBilhete">
          <div
            class="d-flex justify-content-center mb-3"
            ng-show="tipo_jogo_bilhete == 'BICHO' || tipo_jogo_bilhete == '2 PRA 500'"
          >
            <button class="btn no-print betL_BTN" ng-click="abrir(txt_pule)">
              Imprimir
            </button>
          </div>
          <div
            class="d-flex justify-content-center mb-3"
            ng-show="tipo_jogo_bilhete != 'BICHO' && tipo_jogo_bilhete != '2 PRA 500'"
          >
            <button
              class="btn no-print betL_BTN"
              ng-click="abrir(txt_pule_pai)"
            >
              Imprimir
            </button>
          </div>
          <section class="screencapture sheet padding-10mm">
            <div id="cupomImprimir">
              <div class="box">
                <div class="col-md-12 col-sm-12 col-12 bloco">
                  <h6 class="text-center">{{nome_banca}}</h6>
                </div>
                <hr class="linha" />
                <div ng-click="deselectAll()" class="row">
                  <!-- DATA -->
                  <div class="col-md-4 col-sm-4 col-6">
                    <div>
                      <strong>DATA:</strong>
                    </div>
                    <div>
                      <span class="float-left"
                        >{{ data_bilhete | date: 'dd/MM/yyyy' }}</span
                      >
                    </div>
                  </div>
                  <!-- COLABORADOR -->
                  <div class="col-md-4 col-sm-4 col-6">
                    <div>
                      <strong>COLABORADOR:</strong>
                    </div>
                    <div>
                      <span class="float-left">{{ cambista}}</span>
                    </div>
                  </div>

                  <!-- CLIENTE -->
                  <div class="col-md-4 col-sm-4 col-6">
                    <div>
                      <strong>CLIENTE:</strong>
                    </div>
                    <div>
                      <span class="float-left"
                        >{{ nome_apostador}} - {{ telefone_apostador}}</span
                      >
                    </div>
                  </div>

                  <!-- BILHETE -->
                  <div class="col-md-4 col-sm-4 col-6">
                    <div>
                      <strong>BILHETE:</strong>
                    </div>
                    <div>
                      <span class="float-left"
                        >{{txt_pule_pai ? txt_pule_pai : txt_pule}}</span
                      >
                    </div>
                  </div>

                  <!-- VALOR BILHETE -->
                  <div class="col-md-4 col-sm-4 col-6">
                    <div>
                      <strong>VALOR:</strong>
                    </div>
                    <div>
                      <span class="float-left"
                        >{{totalApostado | currency:"R$ "}}</span
                      >
                    </div>
                  </div>
                  <!-- IMPRIMIR RESUMO -->
                  <div class="col-md-4 col-sm-4 col-6">
                    <md-button
                      ng-click="txt_pule_pai ? abrirBilheteResumido(txt_pule_pai) : abrirBilheteResumido(txt_pule)"
                      class="md-fab md-mini"
                      aria-label="Imprimir"
                      style="background-color: #77b302"
                    >
                      <md-icon md-svg-src="img/svg/print.svg"></md-icon>
                    </md-button>
                  </div>
                </div>
                <hr class="linha" />
                <div class="row">
                  <div class="col-md-12 col-12">
                    <md-tabs
                      md-selected="tabModalidadeSelected"
                      md-border-bottom
                      md-swipe-content
                    >
                      <div
                        ng-repeat="(modalidade, concursos) in mapModalidade | fromMap"
                      >
                        <md-tab ng-click="selectTabModalidade(modalidade)">
                          {{modalidade}}
                        </md-tab>
                      </div>
                    </md-tabs>
                    <div ng-show="tabModalidadeSelected >= 0">
                      <md-tabs
                        md-selected="tabConcursoSelected"
                        md-border-bottom
                        md-swipe-content
                      >
                        <div
                          ng-repeat="(concurso, bilhete) in getConcursos() | fromMap"
                        >
                          <md-tab ng-click="selectTabConcurso(concurso)">
                            {{concurso}}
                          </md-tab>
                        </div>
                      </md-tabs>
                    </div>
                  </div>
                </div>
                <div ng-if="tabModalidadeSelected < 0" class="row mt-3">
                  <div class="col-md-12 col-sm-12 col-12">
                    <div
                      class="col-md-12 col-sm-12 col-12"
                      style="overflow: auto; padding: 0px"
                    >
                      <table class="col-md-12 tblResumoConferirBilhete">
                        <thead>
                          <tr>
                            <th rowspan="2">Modalidade</th>
                            <th colspan="5">Apostas</th>
                          </tr>
                          <tr>
                            <th>Total</th>
                            <th>Ganhas</th>
                            <th>Perdidas</th>
                            <th>Em Aberto</th>
                            <th>Canceladas</th>
                          </tr>
                        </thead>
                        <tbody>
                          <div>
                            <tr
                              ng-repeat="(modalidade, concursos) in mapModalidade | fromMap"
                            >
                              <td>{{modalidade}}</td>
                              <td>{{getQtdApostasPorModalidade(concursos)}}</td>
                              <td
                                ng-style="{color: getQtdApostasGanhasPorModalidade(concursos) != 0 ? 'green' : 'grey'}"
                              >
                                {{getQtdApostasGanhasPorModalidade(concursos)}}
                              </td>
                              <td
                                ng-style="{color: getQtdApostasPerdidasPorModalidade(concursos) != 0 ? 'red' : 'grey'}"
                              >
                                {{getQtdApostasPerdidasPorModalidade(concursos)}}
                              </td>
                              <td>
                                {{getQtdApostasAbertasPorModalidade(concursos)}}
                              </td>
                              <td>
                                {{getQtdApostasCanceladasPorModalidade(concursos)}}
                              </td>
                            </tr>
                          </div>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div
                  ng-if="tabModalidadeSelected >= 0 && tabConcursoSelected < 0"
                  class="row mt-3"
                >
                  <div class="col-md-12 col-sm-12 col-12">
                    <div
                      class="col-md-12 col-sm-12 col-12"
                      style="overflow: auto; padding: 0px"
                    >
                      <table class="col-md-12 tblResumoConferirBilhete">
                        <thead>
                          <tr>
                            <th rowspan="2">Concurso/Extração</th>
                            <th colspan="5">Apostas</th>
                          </tr>
                          <tr>
                            <th>Total</th>
                            <th>Ganhas</th>
                            <th>Perdidas</th>
                            <th>Em Aberto</th>
                            <th>Canceladas</th>
                          </tr>
                        </thead>
                        <tbody>
                          <div>
                            <tr
                              ng-repeat="(concurso, bilhete) in getConcursos() | fromMap"
                            >
                              <td>{{concurso}}</td>
                              <td>{{getQtdApostasPorConcurso(bilhete)}}</td>
                              <td
                                ng-style="{color: getQtdApostasGanhasPorConcurso(bilhete) != 0 ? 'green' : 'grey'}"
                              >
                                {{getQtdApostasGanhasPorConcurso(bilhete)}}
                              </td>
                              <td
                                ng-style="{color: getQtdApostasPerdidasPorConcurso(bilhete) != 0 ? 'red' : 'grey'}"
                              >
                                {{getQtdApostasPerdidasPorConcurso(bilhete)}}
                              </td>
                              <td>
                                {{getQtdApostasAbertasPorConcurso(bilhete)}}
                              </td>
                              <td>
                                {{getQtdApostasCanceladasPorConcurso(bilhete)}}
                              </td>
                            </tr>
                          </div>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div ng-if="tabConcursoSelected >= 0">
                  <div class="row mt-3">
                    <!-- BILHETE-->
                    <div class="col-md-4 col-sm-4 col-6">
                      <div>
                        <strong>BILHETE:</strong>
                      </div>
                      <div>
                        <span class="float-left"
                          ><strong
                            >{{ txt_pule_aposta}} - {{status_aposta}}</strong
                          ></span
                        >
                      </div>
                    </div>
                    <!-- VALOR BILHETE -->
                    <div class="col-md-3 col-sm-4 col-6">
                      <div>
                        <strong>VALOR BILHETE:</strong>
                      </div>
                      <div>
                        <span class="float-left"
                          ><strong
                            >{{ valor_bilhete | currency:"R$ "}}
                          </strong></span
                        >
                      </div>
                    </div>
                    <!-- TOTAL GANHO -->
                    <div
                      class="col-md-3 col-sm-4 col-6"
                      ng-show="totalGanho > 0"
                    >
                      <div>
                        <strong>TOTAL GANHO:</strong>
                      </div>
                      <div>
                        <span class="float-left">
                          <strong style="color: green"
                            >{{ totalGanho | currency:"R$ "}}</strong
                          >
                        </span>
                      </div>
                    </div>
                    <!-- IMPRIMIR BILHETE UNITARIO -->
                    <div class="col-md-2 col-sm-4 col-6">
                      <md-button
                        ng-click="abrir(txt_pule_aposta)"
                        class="md-fab md-mini"
                        aria-label="Imprimir"
                        style="background-color: #356b8a"
                      >
                        <md-icon md-svg-src="img/svg/print.svg"></md-icon>
                      </md-button>
                    </div>
                  </div>
                  <hr class="linha" />
                  <div class="row betL_imprimirBilhete_Row">
                    <!-- CONCURSO -->
                    <div class="col-md-6 col-sm-6 col-12">
                      <div>
                        <strong>CONCURSO:</strong>
                      </div>
                      <div
                        ng-show="tipo_jogo != 'BICHO' && tipo_jogo != '2 PRA 500'"
                      >
                        <span class="float-left"
                          >{{ concurso}} - {{ data_jogo | date: 'dd/MM/yyyy'
                          }}</span
                        >
                      </div>
                      <div
                        ng-show="tipo_jogo == 'BICHO' || tipo_jogo == '2 PRA 500'"
                      >
                        <span class="float-left">{{ concurso}} </span>
                      </div>
                    </div>
                    <!-- NÚMEROS SORTEADOS -->
                    <div class="col-md-6 col-sm-6 col-12">
                      <div>
                        <strong>NÚMEROS SORTEADOS:</strong>
                      </div>
                      <div>
                        <span class="float-left">{{ numeros_sorteados}}</span>
                      </div>
                    </div>
                  </div>
                  <hr class="linha" />
                  <div ng-repeat="aposta in tabApostas">
                    <div class="row">
                      <!-- QTD NUMEROS -->
                      <div
                        class="col-md-4 col-sm-4 col-6"
                        ng-show="tipo_jogo != 'BICHO'"
                      >
                        <div>
                          <strong>QTD. NÚMEROS:</strong>
                        </div>
                        <div>
                          <span class="float-left"
                            >{{ aposta.qtd_numeros}}</span
                          >
                        </div>
                      </div>
                      <!-- TIPO JOGO -->
                      <div
                        class="col-md-4 col-sm-4 col-6"
                        ng-show="tipo_jogo == 'BICHO'"
                      >
                        <div>
                          <strong>TIPO JOGO:</strong>
                        </div>
                        <div>
                          <span class="float-left text-left">
                            {{ getDescricaoTipoJogo(aposta.tipo_jogo_bicho)}}
                          </span>
                        </div>
                      </div>
                      <!-- PRÊMIO -->
                      <div
                        class="col-md-4 col-sm-4 col-6"
                        ng-show="tipo_jogo == 'BICHO'"
                      >
                        <div>
                          <strong>PRÊMIO:</strong>
                        </div>
                        <div>
                          <span class="float-left text-left">
                            Do {{ aposta.do_premio}}º ao {{ aposta.ao_premio}}º
                            Prêmio
                          </span>
                        </div>
                      </div>
                      <!-- VALOR APOSTADO -->
                      <div class="col-md-4 col-sm-4 col-6">
                        <div>
                          <strong>VALOR APOSTADO:</strong>
                        </div>
                        <div>
                          <span class="float-left"
                            >{{ aposta.valor_aposta | currency:"R$" }}</span
                          >
                        </div>
                      </div>
                      <!-- POSSÍVEL RETORNO -->
                      <div
                        ng-hide="tipo_jogo == 'RIFA'"
                        class="col-md-4 col-sm-4 col-6"
                      >
                        <div>
                          <strong>POSSÍVEL RETORNO:</strong>
                        </div>
                        <div ng-show="aposta.flg_sorte != 'S'">
                          <span class="float-left"
                            >{{ aposta.possivel_retorno | currency:"R$" }}</span
                          >
                        </div>
                        <div
                          ng-show="aposta.flg_sorte == 'S' && tipo_jogo == 'SENINHA'"
                        >
                          <span class="float-left">
                            {{ aposta.possivel_retorno | currency:"R$" }} (Sena)
                            - {{ aposta.retorno5 | currency:"R$" }} (Quina) - {{
                            aposta.retorno4 | currency:"R$" }} (Quadra)
                          </span>
                        </div>
                        <div
                          ng-show="aposta.flg_sorte == 'S' && tipo_jogo == 'QUININHA'"
                        >
                          <span class="float-left">
                            {{ aposta.possivel_retorno | currency:"R$" }}
                            (Quina) - {{ aposta.retorno4 | currency:"R$" }}
                            (Quadra) - {{ aposta.retorno3 | currency:"R$" }}
                            (Terno)
                          </span>
                        </div>
                      </div>
                      <!-- NÚMEROS -->
                      <div class="col-md-8 col-sm-8 col-12">
                        <div>
                          <strong>NÚMEROS:</strong>
                        </div>
                        <div>
                          <span class="float-left text-left">
                            {{ aposta.txt_aposta}}
                          </span>
                        </div>
                      </div>
                      <!-- STATUS -->
                      <div class="col-md-4 col-sm-4 col-6">
                        <div>
                          <strong>STATUS:</strong>
                        </div>
                        <div>
                          <div
                            class="float-left"
                            ng-show="aposta.status == 'Perdido'"
                            style="color: red"
                          >
                            <strong style="text-transform: uppercase"
                              >{{ aposta.status}}</strong
                            >
                          </div>
                          <div
                            class="float-left"
                            ng-show="aposta.status == 'Cancelado'"
                            style="color: red"
                          >
                            <strong style="text-transform: uppercase"
                              >{{ aposta.status}}</strong
                            >
                          </div>
                          <div
                            class="float-left"
                            ng-show="aposta.status == 'Ganho'"
                            style="color: green"
                          >
                            <strong style="text-transform: uppercase"
                              >{{ aposta.status}}</strong
                            >
                          </div>
                          <div
                            class="float-left"
                            ng-show="aposta.status == 'Aberto'"
                            style="color: #505b60"
                          >
                            <strong style="text-transform: uppercase"
                              >{{ aposta.status}}</strong
                            >
                          </div>
                        </div>
                      </div>
                      <!-- VALOR GANHO -->
                      <div
                        ng-show="aposta.status == 'Ganho' && tipo_jogo != 'RIFA'"
                        class="col-md-4 col-sm-4 col-4"
                      >
                        <div>
                          <strong>VALOR GANHO:</strong>
                        </div>
                        <div>
                          <div class="float-left">
                            <strong style="color: green" class="float-left"
                              >{{ aposta.valor_ganho | currency:"R$" }}</strong
                            >
                          </div>
                        </div>
                      </div>
                      <hr class="linha" />
                    </div>
                    <hr class="linha" />
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                      <p class="text-center cupom_textoInfo">
                        {{listaCfg[0].msg_bilhete}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
