<div ng-include src="'./components/menu.html'"></div>
<div ng-show="flg_2pra500" ng-controller="2pra500Ctrl" class="betL_container betL_caixa">

    <div class="container-fluid">
        <script>
            $(document).ready(function () {
                $("#edtTelefone").mask("(00) 00000-0000");
            });
        </script>
        <div class="row">

            <div class="betL_Titulo col-md-12 col-sm-12 col-xs-12">
                <h5>{{desc_2pra500}} </h5>
                <h6>VALOR ACUMULADO {{listaCfg[0].valor_acumulado}} - VALOR APOSTA {{listaCfg[0].valor_aposta}}</h6>
                <hr>
            </div>

            <!-- <form class="form-cadastro form-group row betL_seninha_form_Valor float-right">
                <div class='col-md-2 col-sm-12 col-xs-12 col-12 betL_seninha_Box_Btn_LimparAdicionar'>
                    <input type="button" class="btn naoAlterar betL_seninha_form_Valor_Btn betL_BTN" id="btnAdicionar"
                        value="Adicionar Aposta" ng-click="verificarInversoes()">
                </div>
            </form>  -->

            <form class="form-cadastro form-group row betL_seninhaQuininha_form" ng-init="getJogos()">

                <div class='col-xs-2 betL_CaixaFormSelect'>
                    <label for="edtDataDe">Data: &nbsp;</label>
                    <input type="date" min="2018-01-01" id="edtDataDe" placeholder="Data" ng-model="edtDataDe" class="form-control"
                        ng-change="getJogos()" />
                </div>

                <div class='col-md-3 col-sm-12 col-xs-12 col-12'>
                    <label for="comboConcurso">Extração:</label>
                    <br>
                    <select class="form-control betL_seninha_concurso_select" ng-model="comboConcurso" id="comboConcurso"
                        ng-change="carregaLimite()">
                        <option ng-repeat="x in jogos" value="{{x.cod_jogo}}">
                            {{ x.hora_extracao}} - {{x.desc_hora}}</option>
                    </select>
                </div>



            </form>

            <div class="col-md-12 col-sm-12 col-xs-12 betL_seninha_TextSecundario">
                <h5>Gerar Bilhetes</h5>
                <p>Informe a quantidade de bilhetes que deseja gerar</p>
            </div>

            <!--<form class="form-cadastro form-group row betL_seninhaQuininha_form" ng-init="getJogos()">
                <div class='col-md-2 col-sm-6 col-xs-6 col-6'> -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <form class="form-cadastro form-group row betL_usuario_form">

                    <div class='col-md-2 col-xs-2 col-12 betL_usuario_boxCampo'>
                        <div class="betL_seninha_nome_box">
                            <label for="edtQtdBilhetes">Qtd. de Bilhetes:</label>
                            <br>
                            <input type="number" id="edtQtdBilhetes" placeholder="Qtd" ng-model="edtQtdBilhetes" class="form-control betL_seninha_form_Valor_Input" />
                        </div>
                    </div>

                    <div class='col-md-2 col-sm-12 col-xs-12 col-12'>
                        <label for="agrupaNumeros">Agrupa números na impressão: &nbsp;</label>
                        <br>
                        <label class="switch" style="margin-right: inherit;">
                                <input type="checkbox" id="agrupaNumeros" ng-model="agrupaNumeros"  />
                                <span class="slider round"></span>
                        </label>                    
                    </div>
                </form>

                <!-- FORM CONCURSO | NOME | TELEFONE -->
                <form class="form-group row">

                    <div class="col-md-4 col-sm-12 col-xs-12 col-12">
                        <div class="betL_seninha_nome_box">
                          <md-autocomplete flex
                            md-search-text="edtNome"
                            md-items="item in clientes | filter:{nome: edtNome}"
                            md-item-text="item.nome"
                            md-escape-options="clear"
                            md-floating-label="Nome (Opcional)"
                            md-selected-item-change="onSelectCliente(item)"
                            md-dropdown-position="bottom"
                            >
                            <md-item-template>
                              <span>{{item.nome}}</span>
                            </md-item-template>
                          </md-autocomplete>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col-6">
                        <div class="float-right betL_seninha_telefone_box">
                          <md-input-container>
                            <input
                              type="tel"
                              id="edtTelefone"
                              placeholder="Telefone (Opcional)"
                              ng-model="edtTelefone"
                              class="betL_seninha_telefone_input"
                            />
                          </md-input-container>
                        </div>
                    </div>    
                    <div class="col-md-2 col-sm-6 col-xs-12 col-6">
                        <label for="chkRegistrarCliente">Registrar Cliente</label>
                        <diV class='betL_conf_input_box'>
                            <label class="switch" style="margin-right: inherit;">
                                <input type="checkbox" id="chkRegistrarCliente"
                                    ng-model="chkRegistroCliente" />
                                <span class="slider round"></span>
                            </label>
                        </diV>
                    </div>              
                </form>
                <div class='col-md-2 col-xs-2 col-12 betL_usuario_boxCampo'>
                    <div class="betL_seninha_nome_box">
                        <input type="button" class="btn naoAlterar betL_BTN betL_BTN_GerarBilhete" id="btnGerarBilhete"
                            ng-disabled="botaoHabilitado" value="Gerar Bilhete" ng-click="gerarBilhete()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
