<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="clienteCtrl as ctrl" class="betL_container betL_caixa">
  <div class="container-fluid">
    <div class="row">
      <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
        <div class="row">
          <div class="col-12">
            <div
              class="
                d-flex
                justify-content-between
                align-items-center
                header-mobile
              "
            >
              <h5 class="mt-3 mb-3">
                {{isEdicaoCliente ? 'Editar Cliente' : 'Clientes'}}
              </h5>
              <button
                type="button"
                class="btn betL_BTN betL_BTN_usuario_salvar m-0"
                ng-click="cadastrar()"
                ng-if="!isCadastroCliente && !isEdicaoCliente"
              >
                Cadastrar
              </button>
              <a
                type="button"
                class="m-0 back-link d-flex align-items-center"
                ng-click="cancelar()"
                ng-if="isCadastroCliente || isEdicaoCliente"
              >
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span>Voltar</span>
              </a>
            </div>
            <hr />
          </div>
        </div>
        <form
          ng-show="isEdicaoCliente || isCadastroCliente"
          class="form-cadastro form-group row betL_seninhaQuininha_form"
        >
          <div class="col-md-6 col-sm-12 col-xs-12 col-12">
            <input type="hidden" ng-model="cod_cliente" />
            <div class="betL_seninha_nome_box">
              <label for="edtNome">Nome:</label>
              <input
                type="text"
                id="edtNome"
                placeholder="Nome"
                ng-model="nome"
                class="form-control"
                oninput="this.value = this.value.toUpperCase()"
              />
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 col-12">
            <div class="float-right betL_seninha_telefone_box">
              <label for="edtTelefone">Telefone:</label>
              <input
                type="tel"
                id="edtTelefone"
                placeholder="Telefone"
                ng-model="telefone"
                class="form-control betL_seninha_telefone_input"
              />
            </div>
          </div>

          <div
            class="
              d-flex
              justify-content-between justify-content-md-end
              col-md-12 col-sm-12 col-xs-12 col-12
              mt-3
              mb-4
            "
          >
            <button
              type="button"
              class="btn betL_BTN mr-3"
              ng-click="cancelar()"
              ng-if="isEdicaoCliente"
              style="width: initial"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn betL_BTN mr-3"
              ng-click="cancelar()"
              ng-if="isCadastroCliente"
              style="width: initial"
            >
              Voltar
            </button>
            <button
              type="button"
              class="btn betL_BTN betL_BTN_usuario_salvar mt-0 ml-3"
              style="width: initial"
              ng-click="salvar(cod_cliente)"
            >
              Salvar
            </button>
          </div>
        </form>
        <div ng-show="!isEdicaoCliente && !isCadastroCliente">
          <div class="row pt-4" ng-init="listarClientes();">
            <div class="col-12">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="nomeUsuario">Nome do Cliente: </label>
                  <input
                    type="text"
                    id="nomeUsuario"
                    placeholder="Nome"
                    ng-model="nomeCliente"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-12 col-ms-12 col-xs-12">
              <div
                ng-if="records.length == 0"
                class="
                  d-flex
                  justify-content-center
                  align-items-center
                  p-3
                  mb-4
                "
                id="semDados"
              >
                <span class="mr-2">Sem dados</span>
                <i class="fa fa-thumbs-down ml-4"></i>
              </div>
              <div class="paginacao-mobile">
                <dir-pagination-controls
                  class="paginator"
                  direction-links="true"
                  boundary-links="true"
                  max-size="20"
                ></dir-pagination-controls>
              </div>
              <div class="betL_verBilheteList">
                <table
                  style="text-align: center"
                  class="table table-hover table-card"
                >
                  <thead>
                    <tr>
                      <th style="width: 45%" class="align-middle" scope="col">
                        Nome
                      </th>
                      <th style="width: 45%" class="align-middle" scope="col">
                        Telefone
                      </th>
                      <th style="width: 5%" class="align-middle" scope="col">
                        Editar
                      </th>
                      <th style="width: 5%" class="align-middle" scope="col">
                        Excluir
                      </th>
                    </tr>
                  </thead>
                  <tbody class="container">
                    <tr
                      dir-paginate="x in records | filter:{nome: nomeCliente} | itemsPerPage: itensPorPagina"
                    >
                      <td class="align-middle">
                        <span>{{ x.nome }}</span>
                      </td>
                      <td class="align-middle">
                        <span>{{ x.telefone }}</span>
                      </td>
                      <td class="align-middle">
                        <button
                          class="btn betL_BTN betL_BTN_icon"
                          alt="Alterar"
                          ng-click="alterar(x)"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Alterar"
                        >
                          <i class="fas fa-pen"></i>
                        </button>
                      </td>
                      <td class="align-middle">
                        <button
                          class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir"
                          alt="Excluir"
                          ng-click="excluir(x.cod_cliente, x.nome)"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Excluir"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="paginacao-mobile">
                  <dir-pagination-controls
                    class="paginator"
                    direction-links="true"
                    boundary-links="true"
                    max-size="20"
                  ></dir-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#edtTelefone").mask("(00) 00000-0000");
  });
</script>
