<div id="confirmation-dialog" class="modal fade confirmation-dialog" role="dialog">
  <div class="modal-dialog" style="width: 100%; margin: 0 auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="span5">{{confirmationDialogConfig.message}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-repeat="button in confirmationDialogConfig.buttons"
          ng-click="executeDialogAction(button.action)" class="btn btn-primary">{{button.label}}</button>
      </div>
    </div>
  </div>
</div>