<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="extracaoAutomatizadaCtrl as ctrl" class="betL_container" ng-init="getExtracoesUsuario(); getExtracoes();">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>EXTRAÇÕES - PROCESSAMENTO AUTOMÁTICO</h5>
                <hr>
            </div>
        </div>        
        <div class="row">
            <form class="form-cadastro form-group row betL_usuario_form">
                <div class="col-12" ng-if="notificacoes.extracoes.automatizadas">
                    <p style="text-align: justify; font-size: smaller">
                      <b
                        >Obs.: As seguintes extrações encontram-se sem valores de limites
                        definidos:</b
                      >
                      {{notificacoes.extracoes.automatizadas}}
                    </p>
                  </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <strong>
                            <label for="nomeBanca">Banca</label>
                        </strong>
                        <select class="form-control w-100" ng-model="comboBanca" id="nomeBanca"
                            ng-change="getHorarios(); setBancaEHorarioSelecionados(); getDiasDaSemana();getExtracoesUsuario();">
                            <option value="" selected>--- Selecione uma banca ---</option>
                            <option ng-repeat="x in extracoes" value="{{x.cod_extracao}}">
                                {{ x.nome_banca }}
                            </option>
                        </select>                        
                    </div>
                </div>

                <div class="col-12 col-md-2">
                    <div class="form-group">
                        <strong>
                            <label for="horario">Horário</label>
                        </strong>
                        <select class="form-control w-100" ng-model="comboHorario" id="horario"
                            ng-change="setBancaEHorarioSelecionados(); getDiasDaSemana();">
                            <option value="" selected>--- Selecione um horário ---</option>
                            <option ng-repeat="x in horarios" value="{{x.cod_hora_extracao}}">
                                {{ x.hora }}
                            </option>
                        </select>                        
                    </div>
                </div>                

                <div class='col-12 col-md-2'>
                    <div class="form-group">
                        <strong>
                            <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                        </strong>
                        <select class="form-control w-100" ng-model="comboTipoJogo" id="comboTipoJogo">                             
                            <option value=""> Selecione</option>
                            <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                                {{ x.nome }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class='col-12 col-md-2'>
                    <div class="form-group">
                        <strong>
                            <label for="comboBloqueio">Prazo de Bloqueio: &nbsp;</label>
                        </strong>
                        <select class="form-control w-100" ng-model="comboBloqueio" id="comboBloqueio">                             
                            <option value="-20">+20 minutos</option>
                            <option value="-15">+15 minutos</option>
                            <option value="-10">+10 minutos</option>
                            <option value="-5">+5 minutos</option>
                            <option value="0">0 minutos</option>
                            <option value="5">5 minutos</option>
                            <option value="10">10 minutos</option>
                            <option value="15">15 minutos</option>
                            <option value="20">20 minutos</option>
                            <option value="25">25 minutos</option>
                            <option value="30">30 minutos</option>
                            <option value="35">35 minutos</option>
                            <option value="40">40 minutos</option>                         
                        </select>
                    </div>
                </div>
                <!--
                <div class="col-12 col-md-2">
                    <div class="form-group">
                      <strong>
                        <label for="edtHabilitaCentena">Habilita Centena no 7º Prêmio:</label>
                      </strong>                      
                      <div class="betL_conf_input_box">
                        <label class="switch" style="margin-right: inherit">
                          <input
                            type="checkbox"
                            id="edtHabilitaCentena"
                            ng-model="edtHabilitaCentena"
                          />
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                -->

                <div ng-show="comboTipoJogo == 'B'" class="col-12 col-md-2">
                    <div class="form-group">
                        <strong>
                            <label for="quantidadePremios">Quantidade de Prêmios</label>
                        </strong>
                        <select class="form-control w-100"
                            ng-disabled="isEditando"
                            ng-model="quantidadePremios"
                            id="quantidadePremios"
                            ng-init="quantidadePremios = 10"
                            ng-options="premio as premio for premio in [] | range:1:10">
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <strong>
                        <label for="diasSemana">Dia</label>
                    </strong>     
                </div>                   
                <div class="col-12 col-md-12" ng-if="!bancaEHorarioSelecionados">                    
                    <i class="fa fa-exclamation-triangle pl-3 pr-3 mr-0 text-warning" aria-hidden="true"></i>
                    <span>Selecione uma banca e um horário para visualizar os dias disponíveis!</span>
                </div>
                
                <div class="col-md-1" ng-if="bancaEHorarioSelecionados && temDomingo">
                    <label for="edtCheckDomingo">Domingo:</label>
                    <div class="betL_conf_input_box">
                        <label class="switch" style="margin-right: inherit">
                        <input
                            type="checkbox"
                            id="edtCheckDomingo"
                            ng-model="edtCheckDomingo"
                            ng-change="setDomingo()"
                        />
                        <span class="slider round"></span>
                        </label>
                    </div>
                </div>
    
                <div class="col-md-1" ng-if="bancaEHorarioSelecionados">
                    <label for="edtCheckSegunda">Segunda:</label>
                    <div class="betL_conf_input_box">
                        <label class="switch" style="margin-right: inherit">
                        <input
                            type="checkbox"
                            id="edtCheckSegunda"
                            ng-model="edtCheckSegunda"
                            ng-change="setSegunda()"
                        />
                        <span class="slider round"></span>
                        </label>
                    </div>
                </div>
    
                <div class="col-md-1" ng-if="bancaEHorarioSelecionados">
                    <label for="edtCheckTerca">Terça:</label>
                    <div class="betL_conf_input_box">
                        <label class="switch" style="margin-right: inherit">
                        <input
                            type="checkbox"
                            id="edtCheckTerca"
                            ng-model="edtCheckTerca"
                            ng-change="setTerca()"
                        />
                        <span class="slider round"></span>
                        </label>
                    </div>
                </div>
    
                <div class="col-md-1" ng-if="bancaEHorarioSelecionados">
                    <label for="edtCheckQuarta">Quarta:</label>
                    <div class="betL_conf_input_box">
                        <label class="switch" style="margin-right: inherit">
                        <input
                            type="checkbox"
                            id="edtCheckQuarta"
                            ng-model="edtCheckQuarta"
                            ng-change="setQuarta()"
                        />
                        <span class="slider round"></span>
                        </label>
                    </div>
                </div>
    
                <div class="col-md-1" ng-if="bancaEHorarioSelecionados">
                    <label for="edtCheckQuinta">Quinta:</label>
                    <div class="betL_conf_input_box">
                        <label class="switch" style="margin-right: inherit">
                        <input
                            type="checkbox"
                            id="edtCheckQuinta"
                            ng-model="edtCheckQuinta"
                            ng-change="setQuinta()"
                        />
                        <span class="slider round"></span>
                        </label>
                    </div>
                </div>
    
                <div class="col-md-1" ng-if="bancaEHorarioSelecionados">
                    <label for="edtCheckSexta">Sexta:</label>
                    <div class="betL_conf_input_box">
                        <label class="switch" style="margin-right: inherit">
                        <input
                            type="checkbox"
                            id="edtCheckSexta"
                            ng-model="edtCheckSexta"
                            ng-change="setSexta()"
                        />
                        <span class="slider round"></span>
                        </label>
                    </div>
                </div>
    
                <div class="col-md-1" ng-if="bancaEHorarioSelecionados">
                    <label for="edtCheckSabado">Sábado:</label>
                    <div class="betL_conf_input_box">
                        <label class="switch" style="margin-right: inherit">
                        <input
                            type="checkbox"
                            id="edtCheckSabado"
                            ng-model="edtCheckSabado"
                            ng-change="setSabado()"
                        />
                        <span class="slider round"></span>
                        </label>
                    </div>
                </div>

            </form>
        </div>        
        <div class="row">
            <form
              ng-show="comboTipoJogo == 'B'"
              class="form-cadastro form-group row betL_usuario_form"
            >
              <input type="hidden" ng-model="codigo" />
    
              <div class="col-12 mb-3">
                <h4>Informe os valores de premiação máxima para as modalidades</h4>  
              </div>
              
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <div class="betL_conf_input_box">
                  <label for="edtMilhar">Milhar:</label>
                  <input
                    type="text"
                    id="edtMilhar"
                    placeholder="Milhar"
                    ng-model="edtMilhar"
                    class="dinheiroMask form-control"
                  />
                </div>
              </div>
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <div class="betL_conf_input_box">
                  <label for="edtCentena">Centena:</label>
                  <input
                    type="text"
                    id="edtCentena"
                    placeholder="Centena"
                    ng-model="edtCentena"
                    class="dinheiroMask form-control"
                  />
                </div>
              </div>
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <div class="betL_conf_input_box">
                  <label for="edtGrupo">Grupo:</label>
                  <input
                    type="text"
                    id="edtGrupo"
                    placeholder="Grupo"
                    ng-model="edtGrupo"
                    class="dinheiroMask form-control"
                  />
                </div>
              </div>
    
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <div class="betL_conf_input_box">
                  <label for="edtDuqueGrupo">Duque de Grupo:</label>
                  <input
                    type="text"
                    id="edtDuqueGrupo"
                    placeholder="Duque de Grupo"
                    ng-model="edtDuqueGrupo"
                    class="dinheiroMask form-control"
                  />
                </div>
              </div>
    
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <div class="betL_conf_input_box">
                  <label for="edtTernoGrupo">Terno de Grupo:</label>
                  <input
                    type="text"
                    id="edtTernoGrupo"
                    placeholder="Terno de Grupo"
                    ng-model="edtTernoGrupo"
                    class="dinheiroMask form-control"
                  />
                </div>
              </div>

              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <div class="betL_conf_input_box">
                  <label for="edtQuinaGrupo">Quina de Grupo:</label>
                  <input
                    type="text"
                    id="edtQuinaGrupo"
                    placeholder="Quina de Grupo"
                    ng-model="edtQuinaGrupo"
                    class="dinheiroMask form-control"
                  />
                </div>
              </div>
    
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <div class="betL_conf_input_box">
                  <label for="edtDezena">Dezena:</label>
                  <input
                    type="text"
                    id="edtDezena"
                    placeholder="Dezena"
                    ng-model="edtDezena"
                    class="dinheiroMask form-control"
                  />
                </div>
              </div>
    
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <div class="betL_conf_input_box">
                  <label for="edtDuqueDezena">Duque de Dezena:</label>
                  <input
                    type="text"
                    id="edtDuqueDezena"
                    placeholder="Duque de Dezena"
                    ng-model="edtDuqueDezena"
                    class="dinheiroMask form-control"
                  />
                </div>
              </div>
    
              <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
                <div class="betL_conf_input_box">
                  <label for="edtTernoDezena">Terno de Dezena:</label>
                  <input
                    type="text"
                    id="edtTernoDezena"
                    placeholder="Terno de Dezena"
                    ng-model="edtTernoDezena"
                    class="dinheiroMask form-control"
                  />
                </div>
              </div>
            </form>
            <div class="col-md-12 form-group">
            <button type="button"
            class="btn betL_BTN betL_BTN_jogos_salvar" 
            style="width: initial;" 
            ng-click="salvar()">
            Salvar
            </button>
            <button type="button" 
                class="btn betL_BTN btn-secondary mt-0 mr-2" 
                style="width: initial;" 
                ng-click="cancelar();getExtracoesUsuario();">
                Limpar
            </button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>Suas Extrações</h5>
                <hr>
            </div>
            <div class="col-12">
                <div ng-if="extracoesCadastradas.length == 0" class="d-flex justify-content-center align-items-center p-3" id="semDados">
                    <span class="mr-2">Sem extrações</span>
                    <i class="fa fa-thumbs-down ml-4"></i>
                </div>
                <div ng-if="extracoesCadastradas.length > 0" class="list-card-extracoes">
                    <div ng-repeat="banca in extracoesCadastradas" class="card">
                        <div class="card-header d-flex align-items-center">
                            <span class="mr-2">
                                {{banca.descricao}} - {{getDescHora(banca.hora_extracao)}}
                            </span>
                            <div class="ml-auto">
                                <i class="fa fa-pen edit-icon mr-3"
                                ng-click="editarExtracao(banca)" 
                                data-toggle="modal" 
                                data-target="#modalEditar"
                                title="Editar Extração"
                                aria-hidden="true"></i>
                                <i class="fa fa-times remove-icon"
                                 ng-click="setBancaARemover(banca)" 
                                 data-toggle="modal" 
                                 data-target="#modalRemover" 
                                 title="Remover Extração"
                                 aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="dias col-md-5 mb-4">
                                    <strong class="mb-2">
                                        <span>Dia</span>
                                    </strong>
                                    <div class="mt-1" ng-if="banca.tem_domingo == 'S' && banca.domingo == 'S'">
                                        Domingo
                                    </div>
                                    <div class="mt-1" ng-if="banca.segunda == 'S'">
                                        Segunda
                                    </div>
                                    <div class="mt-1" ng-if="banca.terca == 'S'">
                                        Terça
                                    </div>
                                    <div class="mt-1" ng-if="banca.quarta == 'S'">
                                        Quarta
                                    </div>
                                    <div class="mt-1" ng-if="banca.quinta == 'S'">
                                        Quinta
                                    </div>
                                    <div class="mt-1" ng-if="banca.sexta == 'S'">
                                        Sexta
                                    </div>
                                    <div class="mt-1" ng-if="banca.sabado == 'S'">
                                        Sábado
                                    </div>
                                </div>                                                                
                                <div class="col-md-5 mb-4 text-center d-flex justify-content-center flex-column">
                                    <strong class="mb-2">
                                        <span>Tipo de Jogo</span>
                                    </strong>
                                    <div class="mt-1">
                                        {{getDescTipoJogo(banca.tipo_jogo)}}
                                    </div>
                                    </br>
                                    <strong class="mb-2">
                                        <span>Quantidade de Prêmios</span>
                                    </strong>
                                    <div class="mt-1 d-flex justify-content-center align-items-center">
                                        <span class="d-flex justify-content-center align-items-center" style="background: #356b8a;
                                        border-radius: 50%;
                                        height: 30px !important;
                                        width: 30px !important;
                                        line-height: 24px;
                                        color: #fff;">
                                            {{banca.qtd_premios}}
                                        </span>
                                    </div>
                                    <!--
                                    </br>
                                    <strong class="mb-2">
                                        <span>Habilita Centena</span>
                                    </strong>
                                    <div class="mt-1">
                                        {{getDescSimNao(banca.habilita_centena)}}
                                    </div>
                                    -->
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modalRemover" tabindex="-1" role="dialog" aria-labelledby="modalRemoverLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <span class="modal-title" id="modalRemoverLabel">Extração {{bancaARemover.descricao}} - {{getDescHora(bancaARemover.hora_extracao)}}</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p>Deseja remover <strong>{{bancaARemover.descricao}} - {{getDescHora(bancaARemover.hora_extracao)}}</strong> da sua lista de extrações?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">FECHAR</button>
                <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                ng-click="removerExtracao()" 
                data-dismiss="modal"
                style="width: initial; 
                height: initial; 
                font-size: 1rem; 
                font-weight: normal;">
                Sim
                </button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal Edicao -->
        <div class="modal fade" 
             id="modalEditar" 
             tabindex="-1" 
             role="dialog" 
             aria-labelledby="modalEditarLabel" 
             aria-hidden="true" 
             data-backdrop="static" 
             data-keyboard="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <span class="modal-title" id="modalEditarLabel">
                        Extração {{editandoExtracao.nome_banca}} - {{getDescHora(editandoExtracao.horario)}}
                    </span>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal" ng-click="cancelar()"></button>
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class='col-12'>
                                <div class="form-group">
                                    <strong>
                                        <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                                    </strong>
                                    <select class="form-control" ng-model="comboTipoJogo" id="comboTipoJogo" style="width: 100% !important;">                             
                                        <option value=""> Selecione</option>
                                        <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                                            {{ x.nome }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class='col-12'>
                                <div class="form-group">
                                    <strong>
                                        <label for="comboBloqueio">Prazo de Bloqueio: &nbsp;</label>
                                    </strong>
                                    <select class="form-control" ng-model="comboBloqueio" id="comboBloqueio" style="width: 100% !important;">                             
                                        <option value="-20">+20 minutos</option>
                                        <option value="-15">+15 minutos</option>
                                        <option value="-10">+10 minutos</option>
                                        <option value="-5">+5 minutos</option>
                                        <option value="0">0 minutos</option>
                                        <option value="5">5 minutos</option>
                                        <option value="10">10 minutos</option>
                                        <option value="15">15 minutos</option>
                                        <option value="20">20 minutos</option>
                                        <option value="25">25 minutos</option>
                                        <option value="30">30 minutos</option>
                                        <option value="35">35 minutos</option>
                                        <option value="40">40 minutos</option>
                                    </select>
                                </div>
                            </div>                            
                            <div ng-show="comboTipoJogo == 'B'" class="col-12">
                                <div class="form-group">
                                    <strong>
                                        <label for="quantidadePremios">Quantidade de Prêmios</label>
                                    </strong>
                                    <select class="form-control w-100"
                                        ng-model="quantidadePremios"
                                        id="quantidadePremios"
                                        ng-options="premio as premio for premio in [] | range:1:10">
                                    </select>
                                </div>
                            </div>    
                            <div class="col-12 col-md-5">
                                <strong class="mb-2">
                                    <span>Dia</span>
                                </strong>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col 14%" ng-show="temDomingo">
                                <label for="edtCheckDomingo">Domingo:</label>
                                <div class="betL_conf_input_box">
                                    <label class="switch" style="margin-right: inherit">
                                    <input
                                        type="checkbox"
                                        id="edtCheckDomingo"
                                        ng-model="edtCheckDomingo"
                                    />
                                    <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                
                            <div class="col 14%">
                                <label for="edtCheckSegunda">Segunda:</label>
                                <div class="betL_conf_input_box">
                                    <label class="switch" style="margin-right: inherit">
                                    <input
                                        type="checkbox"
                                        id="edtCheckSegunda"
                                        ng-model="edtCheckSegunda"
                                    />
                                    <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                
                            <div class="col 14%">
                                <label for="edtCheckTerca">Terça:</label>
                                <div class="betL_conf_input_box">
                                    <label class="switch" style="margin-right: inherit">
                                    <input
                                        type="checkbox"
                                        id="edtCheckTerca"
                                        ng-model="edtCheckTerca"
                                    />
                                    <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                
                            <div class="col 14%">
                                <label for="edtCheckQuarta">Quarta:</label>
                                <div class="betL_conf_input_box">
                                    <label class="switch" style="margin-right: inherit">
                                    <input
                                        type="checkbox"
                                        id="edtCheckQuarta"
                                        ng-model="edtCheckQuarta"
                                    />
                                    <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                
                            <div class="col 14%">
                                <label for="edtCheckQuinta">Quinta:</label>
                                <div class="betL_conf_input_box">
                                    <label class="switch" style="margin-right: inherit">
                                    <input
                                        type="checkbox"
                                        id="edtCheckQuinta"
                                        ng-model="edtCheckQuinta"
                                    />
                                    <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                
                            <div class="col 14%">
                                <label for="edtCheckSexta">Sexta:</label>
                                <div class="betL_conf_input_box">
                                    <label class="switch" style="margin-right: inherit">
                                    <input
                                        type="checkbox"
                                        id="edtCheckSexta"
                                        ng-model="edtCheckSexta"
                                    />
                                    <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                
                            <div class="col 14%">
                                <label for="edtCheckSabado">Sábado:</label>
                                <div class="betL_conf_input_box">
                                    <label class="switch" style="margin-right: inherit">
                                    <input
                                        type="checkbox"
                                        id="edtCheckSabado"
                                        ng-model="edtCheckSabado"
                                    />
                                    <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <form
                              ng-show="comboTipoJogo == 'B'"
                              class="form-cadastro form-group row betL_usuario_form"
                            >
                              <input type="hidden" ng-model="codigo" />

                              <div class="col-12 mb-3">
                                <h4>Informe os valores de premiação máxima para as modalidades</h4>  
                              </div>
                    
                              <div class="col-md-3 col-xs-3 col-12 betL_usuario_boxCampo">
                                <div class="betL_conf_input_box">
                                  <label for="modalEditar_edtMilhar">Milhar:</label>
                                  <input
                                    type="text"
                                    id="modalEditar_edtMilhar"
                                    placeholder="Milhar"
                                    ng-model="edtMilhar"
                                    class="dinheiroMask form-control"
                                  />
                                </div>
                              </div>
                              <div class="col-md-3 col-xs-3 col-12 betL_usuario_boxCampo">
                                <div class="betL_conf_input_box">
                                  <label for="modalEditar_edtCentena">Centena:</label>
                                  <input
                                    type="text"
                                    id="modalEditar_edtCentena"
                                    placeholder="Centena"
                                    ng-model="edtCentena"
                                    class="dinheiroMask form-control"
                                  />
                                </div>
                              </div>
                              <div class="col-md-3 col-xs-3 col-12 betL_usuario_boxCampo">
                                <div class="betL_conf_input_box">
                                  <label for="modalEditar_edtGrupo">Grupo:</label>
                                  <input
                                    type="text"
                                    id="modalEditar_edtGrupo"
                                    placeholder="Grupo"
                                    ng-model="edtGrupo"
                                    class="dinheiroMask form-control"
                                  />
                                </div>
                              </div>      
                              <div class="col-md-3 col-xs-3 col-12 betL_usuario_boxCampo">
                                <div class="betL_conf_input_box">
                                  <label for="modalEditar_edtDuqueGrupo">Duque de Grupo:</label>
                                  <input
                                    type="text"
                                    id="modalEditar_edtDuqueGrupo"
                                    placeholder="Duque de Grupo"
                                    ng-model="edtDuqueGrupo"
                                    class="dinheiroMask form-control"
                                  />
                                </div>
                              </div>          
                              <div class="col-md-3 col-xs-3 col-12 betL_usuario_boxCampo">
                                <div class="betL_conf_input_box">
                                  <label for="modalEditar_edtTernoGrupo">Terno de Grupo:</label>
                                  <input
                                    type="text"
                                    id="modalEditar_edtTernoGrupo"
                                    placeholder="Terno de Grupo"
                                    ng-model="edtTernoGrupo"
                                    class="dinheiroMask form-control"
                                  />
                                </div>
                              </div>   
                              <div class="col-md-3 col-xs-3 col-12 betL_usuario_boxCampo">
                                <div class="betL_conf_input_box">
                                  <label for="modalEditar_edtQuinaGrupo">Quina de Grupo:</label>
                                  <input
                                    type="text"
                                    id="modalEditar_edtQuinaGrupo"
                                    placeholder="Quina de Grupo"
                                    ng-model="edtQuinaGrupo"
                                    class="dinheiroMask form-control"
                                  />
                                </div>
                              </div>   
                              <div class="col-md-3 col-xs-3 col-12 betL_usuario_boxCampo">
                                <div class="betL_conf_input_box">
                                  <label for="modalEditar_edtDezena">Dezena:</label>
                                  <input
                                    type="text"
                                    id="modalEditar_edtDezena"
                                    placeholder="Dezena"
                                    ng-model="edtDezena"
                                    class="dinheiroMask form-control"
                                  />
                                </div>
                              </div>
                              <div class="col-md-3 col-xs-3 col-12 betL_usuario_boxCampo">
                                <div class="betL_conf_input_box">
                                  <label for="modalEditar_edtDuqueDezena">Duque de Dezena:</label>
                                  <input
                                    type="text"
                                    id="modalEditar_edtDuqueDezena"
                                    placeholder="Duque de Dezena"
                                    ng-model="edtDuqueDezena"
                                    class="dinheiroMask form-control"
                                  />
                                </div>
                              </div>
                              <div class="col-md-3 col-xs-3 col-12 betL_usuario_boxCampo">
                                <div class="betL_conf_input_box">
                                  <label for="modalEditar_edtTernoDezena">Terno de Dezena:</label>
                                  <input
                                    type="text"
                                    id="modalEditar_edtTernoDezena"
                                    placeholder="Terno de Dezena"
                                    ng-model="edtTernoDezena"
                                    class="dinheiroMask form-control"
                                  />
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" 
                                class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvar()"
                                id="btnSalvarEdicao" 
                                data-dismiss="modal"
                                style="width: initial; 
                                height: initial; 
                                font-size: 1rem; 
                                font-weight: normal;">
                            Salvar
                        </button>
                        <button type="button" 
                                class="btn btn-secondary" 
                                ng-click="cancelar()" 
                                data-dismiss="modal">
                            CANCELAR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.dinheiroMask').mask('#.##0,00', { reverse: true });
    });
</script>