<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="gerenciarJogosCtrl" class="betL_container">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5>JOGOS</h5>
                <hr>
            </div>
        </div>
        <form>
            <div class="row">
                <div class='col-md-4 col-lg-3 col-xs-2 col-12 betL_jogos_boxCampo'>
                    <div class="form-group">
                        <label for="edtData">Data: &nbsp;</label>
                        <input type="date" min="2018-01-01" id="edtData" placeholder="Data" ng-model="edtData"
                            class="form-control" />
                    </div>
                </div>

                <div class='col-md-4 col-lg-3 col-xs-2 col-12 betL_jogos_boxCampo'>
                    <div class="form-group">
                        <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                        <select class="form-control w-100" ng-model="comboTipoJogo" id="comboTipoJogo"
                            ng-change="getExtracoes()">
                            <option value="" selected> Todos </option>
                            <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                                {{ x.nome }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class='col-md-4 col-lg-3 col-xs-2 col-12 betL_jogos_boxCampo'
                    ng-show="comboTipoJogo != 'B' && comboTipoJogo != '2' && comboTipoJogo != 'R'">
                    <div class="form-group">
                        <label for="edtConcurso">Concurso: &nbsp;</label>
                        <input type="text" id="edtConcurso" placeholder="Concurso" ng-model="edtConcurso"
                            class="form-control" />
                    </div>
                </div>

                <div class='col-md-4 col-lg-3 col-xs-2 col-12 betL_jogos_boxCampo'
                    ng-show="comboTipoJogo == 'B' || comboTipoJogo == '2'">
                    <div class="form-group">
                        <label for="edtHora">Hora da Extração:</label>
                        <select class="form-control w-100" ng-model="comboExtracao" id="comboExtracao">
                            <option ng-repeat="x in extracoes| orderBy:'hora_extracao'"
                                value="{{x.cod_extracao}}-{{x.hora_extracao}}-{{x.descricao}}">
                                {{x.hora_extracao}} - {{x.descricao}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class='col-md-4 col-lg-3 col-xs-2 col-12 betL_jogos_boxCampo'
                    ng-show="comboTipoJogo == 'R'">
                    <div class="form-group">
                        <label for="edtConcurso">Descrição: &nbsp;</label>
                        <input type="text" id="edtDescricao" placeholder="Descricao" ng-model="edtDescricao"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="edtValor">Valor: &nbsp;</label>
                        <input type="number" id="edtValor" placeholder="Valor" ng-model="edtValor"
                            class="form-control" />
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 col-lg-2 d-flex align-items-center mt-3">
                    <button type="button" class="btn betL_BTN" style="background-color: #77B302;"
                        ng-click="salvarProcessar(0)">Salvar</button>
                </div>
                
            </div>

            <div class="d-flex ml-auto mr-auto rounded mt-4 border p-3 filtro-jogo">
                <div class="row mt-3 justify-content-center w-100">
                    <div class='col-md-6 col-12 betL_jogos_boxCampo'>
                        <div class="form-group">
                            <label for="comboFiltroStatus">FILTRO: Status &nbsp;</label>
                            <select class="form-control w-100" ng-model="comboFiltroStatus" id="comboFiltroStatus">
                                <option value="" selected> Todos </option>
                                <option value="B">Bloqueado</option>
                                <option value="L">Liberado</option>
                                <option value="P">Processado</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-md-6 col-12 d-flex align-items-center mt-4'>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mt-lg-2 mt-md-3">
                                <input type="checkbox" class="custom-control-input" ng-model="chkExibirFinalizados"
                                    id="chkExibirFinalizados" ng-click="exibirFinalizados()" />
                                <label class="custom-control-label" for="chkExibirFinalizados">Exibir Finalizados
                                    &nbsp;</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="row">
            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div class="table-responsive betL_verBilheteList" ng-init="listarJogos()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('cod_jogo')">#</a>
                                </th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('data_jogo')">Data</a></th>
                                <th class="align-middle" scope="col">Tipo de Jogo</th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('tp_status')">Status</a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('concurso')">Concurso</a></th>
                                <th class="align-middle" scope="col">Números Sorteados</th>
                                <th class="align-middle" scope="col">Resultado Automatizado</th>
                                <th class="align-middle" scope="col">Gerenciar</th>
                                <!-- COLOCAR REGRA ANGULAR PARA ALTERAR NOME ENTRE GERENCIAR E PROCESSAR RESULTADO -->
                            </tr>
                        </thead>
                        <tbody class="container">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <tr
                                ng-repeat="x in records| filter: {concurso: edtConcurso, tipo_jogo:comboTipoJogo, tp_status:comboFiltroStatus} | filter:filterDate ">
                                <!--| orderBy:['-data_jogo', '-concurso', '-tp_status'] -->
                                <th class="align-middle" scope="row">{{ x.cod_jogo}} </th>
                                <td class="align-middle">{{ x.data_jogo | date: 'dd/MM/yyyy'}}</td>
                                <td class="align-middle">{{ getDescricaoTipoJogo(x.tipo_jogo)}}</td>
                                <td class="align-middle">{{ getDescricaoStatus(x.tp_status)}}</td>
                                <td class="align-middle">{{ getDescricaoConcurso(x)}}</td>
                                <td class="align-middle">{{ x.numeros_sorteados}}</td>
                                <td class="align-middle">{{ getDescSimNao(x.automatizado)}}</td>
                                <td class="align-middle">
                                    <button class="btn betL_BTN betL_BTN_icon mr-2 mt-2" alt="Gerenciar"
                                        data-toggle="modal" data-target="#modalJogos" ng-click="alterar(x)"
                                        ng-show="x.tp_status != 'P' && x.tp_status != 'F'" data-tt="tooltip"
                                        data-placement="top" title="Gerenciar">
                                        <i class="fas fa-cog"></i>
                                        <!--Gerenciar-->
                                    </button>
                                    <button class="btn betL_BTN betL_BTN_icon mt-2"
                                        alt="{{x.tp_status == 'L' ? 'Bloquear Jogo' : 'Desbloquear Jogo'}}"
                                        ng-click="bloquearJogo(x.cod_jogo, x.tp_status)"
                                        ng-show="x.tp_status == 'L' || x.tp_status == 'B'" data-tt="tooltip"
                                        data-placement="top"
                                        title="{{x.tp_status == 'L' ? 'Bloquear Jogo' : 'Desbloquear Jogo'}}">
                                        <i class="fas fa-door-closed" ng-if="x.tp_status == 'L'"></i>
                                        <i class="fas fa-door-open" ng-if="x.tp_status == 'B'"></i>
                                        <!--Bloquear Jogo-->
                                    </button>
                                    <button ng-show="x.tp_status == 'P'" class="btn betL_BTN betL_BTN_icon mr-2 mt-2"
                                        alt="Finalizar concurso" ng-click="finalizarConcurso(x.cod_jogo)"
                                        data-tt="tooltip" data-placement="top" title="Finalizar concurso">
                                        <i class="fas fa-lock"></i>
                                        <!--Finalizar concurso-->
                                    </button>
                                    <button ng-show="x.tp_status == 'F'" class="btn betL_BTN betL_BTN_icon mt-2"
                                        alt="Reabrir concurso" ng-click="reabrirConcurso(x.cod_jogo)" data-tt="tooltip"
                                        data-placement="top" title="Reabrir concurso">
                                        <i class="fas fa-lock-open"></i>
                                        <!--Reabrir concurso-->
                                    </button>
                                    <button ng-show="x.tp_status == 'P'" class="btn betL_BTN betL_BTN_icon mt-2"
                                        alt="Reabrir jogo" ng-click="reabrirJogo(x.cod_jogo)" data-tt="tooltip"
                                        data-placement="top" title="Reabrir jogo">
                                        <i class="fas fa-lock-open"></i>
                                        <!--Reabrir jogo-->
                                    </button>
                                </td>

                            </tr>
                        </tbody>

                        <script>
                            $(function () {
                                $('[data-tt="tooltip"]').tooltip();
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>

                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalJogos" tabindex="-1" role="dialog" aria-labelledby="modalJogosLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalJogosLabel">Gerenciar Jogos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-cadastro betL_jogos_modalForm">
                        <div class="form-row">
                            <input type="hidden" ng-model="cod_jogo" />
                            <div class='col-6'>
                                <label for="edtData">Data:</label>
                                <input type="date" id="edtData" placeholder="Data" ng-model="edtData"
                                    class="form-control" ng-readonly="tipo_jogo != 'R'" />
                            </div>
                            <div class='col-6'>
                                <div ng-show="tipo_jogo != 'B'">
                                    <label for="edtConcursoEdit">Concurso:</label>
                                    <input type="text" id="edtConcursoEdit" placeholder="Concurso"
                                        ng-model="edtConcursoEdit" class="form-control" readonly />
                                </div>
                            </div>
                            <div ng-show="showInputPremio(1)" class='col-4'>
                                <label for="edtNumero1Edit">Número 1</label>
                                <input type="text" id="edtNumero1Edit" placeholder="Número 1" ng-model="edtNumero1Edit"
                                    class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(2)" class='col-4'>
                                <label for="edtNumero2Edit">Número 2</label>
                                <input type="text" id="edtNumero2Edit" placeholder="Número 2" ng-model="edtNumero2Edit"
                                    class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(3)" class='col-4'>
                                <label for="edtNumero3Edit">Número 3</label>
                                <input type="text" id="edtNumero3Edit" placeholder="Número 3" ng-model="edtNumero3Edit"
                                    class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(4)" class='col-4'>
                                <label for="edtNumero4Edit">Número 4</label>
                                <input type="text" id="edtNumero4Edit" placeholder="Número 4" ng-model="edtNumero4Edit"
                                    class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(5)" class='col-4'>
                                <label for="edtNumero5Edit">Número 5</label>
                                <input type="text" id="edtNumero5Edit" placeholder="Número 5" ng-model="edtNumero5Edit"
                                    class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(6)" class='col-4'>
                                <label for="edtNumero6Edit">Número 6</label>
                                <input type="text" id="edtNumero6Edit" placeholder="Número 6" ng-model="edtNumero6Edit"
                                    class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(7)" class='col-4'>
                                <label for="edtNumero7Edit">Número 7</label>
                                <input type="text" id="edtNumero7Edit" placeholder="Número 7" ng-model="edtNumero7Edit"
                                    class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(8)" class='col-4'>
                                <label for="edtNumero8Edit">Número 8</label>
                                <input type="text" id="edtNumero8Edit" placeholder="Número 8" ng-model="edtNumero8Edit"
                                    class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(9)" class='col-4'>
                                <label for="edtNumero7Edit">Número 9</label>
                                <input type="text" id="edtNumero9Edit" placeholder="Número 9" ng-model="edtNumero9Edit"
                                    class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(10)" class='col-4'>
                                <label for="edtNumero7Edit">Número 10</label>
                                <input type="text" id="edtNumero10Edit" placeholder="Número 10"
                                    ng-model="edtNumero10Edit" class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(11)" class='col-4'>
                                <label for="edtNumero11Edit">Número 11</label>
                                <input type="text" id="edtNumero10Edit" placeholder="Número 11"
                                    ng-model="edtNumero11Edit" class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(12)" class='col-4'>
                                <label for="edtNumero12Edit">Número 12</label>
                                <input type="text" id="edtNumero12Edit" placeholder="Número 12"
                                    ng-model="edtNumero12Edit" class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(13)" class='col-4'>
                                <label for="edtNumero13Edit">Número 13</label>
                                <input type="text" id="edtNumero13Edit" placeholder="Número 13"
                                    ng-model="edtNumero13Edit" class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(14)" class='col-4'>
                                <label for="edtNumero14Edit">Número 14</label>
                                <input type="text" id="edtNumero14Edit" placeholder="Número 14"
                                    ng-model="edtNumero14Edit" class="form-control" inputmode="numeric"/>
                            </div>
                            <div ng-show="showInputPremio(15)" class='col-4'>
                                <label for="edtNumero15Edit">Número 15</label>
                                <input type="text" id="edtNumero15Edit" placeholder="Número 15"
                                    ng-model="edtNumero15Edit" class="form-control" inputmode="numeric"/>
                            </div>
                        </div>

                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_usuario_salvar"
                                ng-click="salvarProcessar(cod_jogo)">Salvar/Processar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn betL_modalBtn" data-dismiss="modal"
                        id="btnFecharModal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>