<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="limiteBichoCtrl as ctrl" class="betL_container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-ms-12 col-xs-12">
        <h5>CONFIG. LIMITE BICHO</h5>
        <hr />
      </div>

      <!-- FORM -->
      <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
        <div class="col-12" ng-if="notificacoes.extracoes">
          <p style="text-align: justify; font-size: smaller">
            <b
              >Obs.: As seguintes extrações encontram-se sem valores de limites
              definidos:</b
            >
            {{notificacoes.extracoes.manuais + notificacoes.extracoes.automatizadas}}
          </p>
        </div>
        <form class="form-cadastro form-group row betL_usuario_form">
          <input type="hidden" ng-model="codigo" />

          <div
            class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo"
            ng-init="listarExtracoes()"
          >
            <label for="comboExtracao">Extração:</label>
            <br />
            <select
              class="form-control betL_seninha_concurso_select"
              ng-model="comboExtracao"
              id="comboExtracao"
            >
              <option ng-repeat="x in extracoes" value="{{x.cod_extracao}}">
                {{ x.hora_extracao}} - {{x.descricao}}
              </option>
            </select>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtMilhar">Milhar:</label>
              <input
                type="text"
                id="edtMilhar"
                placeholder="Milhar"
                ng-model="edtMilhar"
                class="dinheiroMask form-control"
              />
            </div>
          </div>
          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtCentena">Centena:</label>
              <input
                type="text"
                id="edtCentena"
                placeholder="Centena"
                ng-model="edtCentena"
                class="dinheiroMask form-control"
              />
            </div>
          </div>
          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtGrupo">Grupo:</label>
              <input
                type="text"
                id="edtGrupo"
                placeholder="Grupo"
                ng-model="edtGrupo"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtDuqueGrupo">Duque de Grupo:</label>
              <input
                type="text"
                id="edtDuqueGrupo"
                placeholder="Duque de Grupo"
                ng-model="edtDuqueGrupo"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtTernoGrupo">Terno de Grupo:</label>
              <input
                type="text"
                id="edtTernoGrupo"
                placeholder="Terno de Grupo"
                ng-model="edtTernoGrupo"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtQuinaGrupo">Quina de Grupo:</label>
              <input
                type="text"
                id="edtQuinaGrupo"
                placeholder="Quina de Grupo"
                ng-model="edtQuinaGrupo"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtDezena">Dezena:</label>
              <input
                type="text"
                id="edtDezena"
                placeholder="Dezena"
                ng-model="edtDezena"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtDuqueDezena">Duque de Dezena:</label>
              <input
                type="text"
                id="edtDuqueDezena"
                placeholder="Duque de Dezena"
                ng-model="edtDuqueDezena"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtTernoDezena">Terno de Dezena:</label>
              <input
                type="text"
                id="edtTernoDezena"
                placeholder="Terno de Dezena"
                ng-model="edtTernoDezena"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div
            class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo botao-baixo"
          >
            <button
              type="button"
              class="btn betL_BTN betL_BTN_usuario_salvar"
              ng-click="salvar(codigo)"
            >
              Salvar
            </button>
          </div>
        </form>
      </div>

      <!-- TABLE -->
      <div class="col-md-12 col-ms-12 col-xs-12">
        <div
          class="table-responsive betL_verBilheteList"
          ng-init="listarConfig()"
        >
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 8%" class="align-middle" scope="col">#</th>
                <th style="width: 10%" class="align-middle" scope="col">
                  EXTRAÇÃO
                </th>
                <th style="width: 8%" class="align-middle" scope="col">
                  MILHAR
                </th>
                <th style="width: 8%" class="align-middle" scope="col">
                  CENTENA
                </th>
                <th style="width: 8%" class="align-middle" scope="col">
                  GRUPO
                </th>
                <th style="width: 8%" class="align-middle" scope="col">
                  DUQUE GRUPO
                </th>
                <th style="width: 8%" class="align-middle" scope="col">
                  TERNO GRUPO
                </th>
                <th style="width: 8%" class="align-middle" scope="col">
                  QUINA GRUPO
                </th>
                <th style="width: 8%" class="align-middle" scope="col">
                  DEZENA
                </th>
                <th style="width: 8%" class="align-middle" scope="col">
                  DUQUE DEZENA
                </th>
                <th style="width: 8%" class="align-middle" scope="col">
                  TERNO DEZENA
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Editar
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Excluir
                </th>
              </tr>
            </thead>
            <tbody class="container">
              <!-- <tr ng-repeat="x in lista | object2Array"> -->
              <tr ng-repeat="x in records | orderBy:'cod_extracao'">
                <th class="align-middle" scope="row">{{ x.codigo}}</th>
                <td class="align-middle">
                  {{ x.hora_extracao}} - {{x.descricao}}
                </td>
                <td class="align-middle">{{ x.milhar | currency: "R$"}}</td>
                <td class="align-middle">{{ x.centena | currency: "R$"}}</td>
                <td class="align-middle">{{ x.grupo | currency: "R$"}}</td>
                <td class="align-middle">
                  {{ x.duque_grupo | currency: "R$"}}
                </td>
                <td class="align-middle">
                  {{ x.terno_grupo | currency: "R$"}}
                </td>
                <td class="align-middle">
                  {{ x.quina_grupo | currency: "R$"}}
                </td>
                <td class="align-middle">{{ x.dezena | currency: "R$"}}</td>
                <td class="align-middle">
                  {{ x.duque_dezena | currency: "R$"}}
                </td>
                <td class="align-middle">
                  {{ x.terno_dezena | currency: "R$"}}
                </td>

                <td>
                  <button
                    class="btn betL_BTN betL_BTN_icon betL_BTN_mRight"
                    alt="Editar"
                    ng-click="alterar(x)"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Editar"
                  >
                    <i class="fas fa-pen"></i>
                    <!--Editar-->
                  </button>
                </td>
                <td>
                  <button
                    class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir"
                    alt="Excluir"
                    ng-click="excluir(x.codigo)"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Excluir"
                  >
                    <i class="far fa-trash-alt"></i>
                    <!--Excluir-->
                  </button>
                </td>
              </tr>
            </tbody>
            <script>
              $(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $(".dinheiroMask").mask("#.##0,00", { reverse: true });
              });
            </script>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
