<div class="col-md-12 col-sm-12 col-xs-12 texteabc">
    <div class="d-block">
        <div ng-show="detalhesBilhetePremiado.mostrarInformacoesBilhetePremiado" class="info-bilhete">
            <h6 style="text-align: left; font-weight: normal;">Valor do prêmio: 
                <span ng-show="detalhesBilhetePremiado.tipo_jogo == 'RIFA'">{{detalhesBilhetePremiado.valorPremio }}</span>
                <span ng-show="detalhesBilhetePremiado.tipo_jogo != 'RIFA'">{{detalhesBilhetePremiado.valorPremio | currency:"R$ " }}</span>
            </h6>
            <h6 style="text-align: left; font-weight: normal;">Situação de pagamento: <span ng-style="{ 'color' : (detalhesBilhetePremiado.statusPagamento.toLowerCase() === 'efetivado') ? 'green' : 'red' }">{{detalhesBilhetePremiado.statusPagamento}}</span></h6>
            <button class="btn no-print betL_BTN col-md-12" style="margin-bottom: 5px; "
             ng-click="atualizarStatusPagamento()"
             ng-show="detalhesBilhetePremiado.statusPagamento.toLowerCase() === 'pendente'"
             ng-disabled="detalhesBilhetePremiado.statusPagamento.toLowerCase() === 'efetivado' || desabilitarBotaoPagarBilhete">
                <div ng-if="!desabilitarBotaoPagarBilhete">
                    Pagar bilhete
                </div>
                <div ng-if="desabilitarBotaoPagarBilhete">
                        <span class="fa fa-spinner fa-spin"></span>Carregando
                </div>
            </button>
        </div>
        <button ng-disabled="loading || desabilitarBotaoPagarBilhete" class="btn no-print betL_BTN col-md-12" style="margin-bottom: 5px;" ng-click="imprimir()">Imprimir</button>
    </div>
    <section class='screencapture sheet padding-10mm'>
        <div id="cupomImprimir">
            <div ng-show="loading" class="carregando-bilhete">
                <span class="fa fa-spinner fa-spin"></span>Carregando
            </div>
            <div ng-show="!loading" ng-repeat="y in bilhete">
                <div class="box"> 

                    <div class="col-md-12 col-sm-12 col-xs-12 bloco">
                        <h6 class="text-center">{{nome_banca}}</h6>
                    </div>

                    <hr class="linha">

                    <!-- DATA -->
                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>DATA:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left">{{ data_bilhete | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                    <!-- COLABORADOR -->
                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>COLABORADOR:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left">{{ cambista}}</span>
                        </div>
                    </div>
                    <!-- CLIENTE -->
                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>CLIENTE:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left">{{ nome_apostador}} - {{ telefone_apostador}}</span>
                        </div>
                    </div>
                    <!-- CONCURSO -->
                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>CONCURSO:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12" ng-show="tipo_jogo != 'BICHO' && tipo_jogo != '2 PRA 500'">
                            <span class="float-left">{{ concurso}} - {{ data_jogo | date: 'dd/MM/yyyy'
                                }}</span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12" ng-show="tipo_jogo == 'BICHO' || tipo_jogo == '2 PRA 500'">
                            <span class="float-left">{{ concurso}} </span>
                        </div>
                    </div>

                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>NÚMERO BILHETE:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left"><strong>{{ y.numero_bilhete}} </strong></span>
                        </div>
                    </div>

                    <!-- NÚMEROS SORTEADOS -->
                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>NÚMEROS SORTEADOS:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left">{{ numeros_sorteados}}</span>
                        </div>
                    </div>

                    <hr class="linha">

                    <!-- TIPO JOGO -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12 bloco"
                            ng-show="tipo_jogo == '2 PRA 500'">
                            <h6 class="text-left tipoJogo">{{ getDescricaoTipoJogo('2')}}</h6>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12 bloco"
                            ng-show="tipo_jogo != '2 PRA 500'">
                            <h6 class="text-left tipoJogo">{{ tipo_jogo}}</h6>
                        </div>                        
                    </div>

                    <hr class="linha">

                    <div ng-repeat="x in y.apostas">

                    <!-- QTD NUMEROS -->
                    <div class="row betL_imprimirBilhete_Row" ng-show="tipo_jogo != 'BICHO'">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>QTD. NÚMEROS:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left">{{ x.qtd_numeros}}</span>
                        </div>
                    </div>

                    <div class="row betL_imprimirBilhete_Row" ng-show="tipo_jogo == 'BICHO'">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>TIPO JOGO:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left text-left">
                                {{ descricaoModalidadeJogo(x.tipo_jogo_bicho)}}
                            </span>
                        </div>
                    </div>
                    <div class="row betL_imprimirBilhete_Row" ng-show="tipo_jogo == 'BICHO'">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>PRÊMIO:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left text-left">
                                Do {{ x.do_premio}}º ao {{ x.ao_premio}}º Prêmio
                            </span>
                        </div>
                    </div>


                    <!-- NÚMEROS -->
                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>NÚMEROS:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left text-left">
                                {{ x.txt_aposta}}
                            </span>
                        </div>
                    </div>
                    <!-- VALOR APOSTADO -->
                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>VALOR APOSTADO:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left">{{ x.valor_aposta | currency:"R$" }}</span>
                        </div>
                    </div>
                    <!-- POSSÍVEL RETORNO -->
                    <div ng-hide="tipo_jogo == 'RIFA'" class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>POSSÍVEL RETORNO:</strong>
                        </div>
                        <div ng-show="x.flg_sorte != 'S'" class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left">{{ x.possivel_retorno | currency:"R$" }}</span>
                        </div>
                        <div ng-show="x.flg_sorte == 'S' && (tipo_jogo == 'SENINHA' || tipo_jogo == 'SUPER SENA')" class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left">
                                {{ x.possivel_retorno | currency:"R$" }} (Sena) - {{ x.retorno5 | currency:"R$" }} (Quina) - {{ x.retorno4 | currency:"R$" }} (Quadra)
                            </span>
                        </div>
                        <div ng-show="x.flg_sorte == 'S' && tipo_jogo == 'QUININHA'" class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left">
                                {{ x.possivel_retorno | currency:"R$" }} (Quina) - {{ x.retorno4 | currency:"R$" }} (Quadra) - {{ x.retorno3 | currency:"R$" }} (Terno)
                            </span>
                        </div>                                                           
                    </div>
                    <!-- STATUS -->
                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>STATUS:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <div class="float-left" ng-show="x.status == 'Perdido'" style="color: red">
                                <strong style="text-transform: uppercase">{{ x.status}}</strong>
                            </div>
                            <div class="float-left" ng-show="x.status == 'Cancelado'" style="color: red">
                                <strong style="text-transform: uppercase">{{ x.status}}</strong>
                            </div>
                            <div class="float-left" ng-show="x.status == 'Ganho'" style="color: green">
                                <strong style="text-transform: uppercase">{{ x.status}}</strong>
                            </div>
                            <div class="float-left" ng-show="x.status == 'Aberto'" style="color: #505B60">
                                <strong style="text-transform: uppercase">{{ x.status}}</strong>
                            </div>
                        </div>
                    </div>
                    <!-- VALOR GANHO -->
                    <div ng-show="x.status == 'Ganho' && (x.flg_sorte == 'S' || tipo_jogo == 'BICHO')" class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>RETORNO:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <div class="float-left" style="color: green">
                                <strong class="float-left">{{ x.valor_ganho | currency:"R$" }}</strong>
                            </div>
                        </div>
                    </div>                    

                    ---------------------------------

                     </div>

                    <hr class="linha">

                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>BILHETE:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12"
                            ng-show="tipo_jogo != 'BICHO' && tipo_jogo != '2 PRA 500'">
                            <span class="float-left">
                                <strong>{{ y.txt_pule_pai}} - {{y.status_bilhete}}</strong>
                            </span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12"
                            ng-show="tipo_jogo == 'BICHO' || tipo_jogo == '2 PRA 500'">
                            <span class="float-left">
                                <strong>{{ y.txt_pule}} - {{y.status_bilhete}}</strong>
                            </span>
                        </div>
                    </div>

                    <div class="row betL_imprimirBilhete_Row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <strong>VALOR BILHETE:</strong>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <span class="float-left"><strong>{{ valor_bilhete | currency:"R$ "}}
                                </strong></span>
                        </div>
                    </div>



                    <hr class="linha">

                    <!--<div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                        <p class="text-center cupom_textoInfo"> Apostando na BETloteria.com você estará aceitando o nosso regulamento que consta no site. Não pagaremos prêmios
                            sem apresentação de bilhete. Participantes terão que ser maiores de 18 anos de idade. Dúvidas: contato@betloteria.com
                        </p>
                    </div>
                </div> -->

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                            <p class="text-center cupom_textoInfo">
                                {{listaCfg[0].msg_bilhete}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>
