<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="relatorioBilheteConcursoCtrl" class="betL_container">
    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>RELATÓRIO - BILHETES POR CONCURSO</h5>
                <hr>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro row" ng-init="getJogos()">
                    <div class='col-12 col-md-6 col-lg-3 betL_CaixaFormSelect'>
                        <div class="form-group">
                            <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                            <select class="form-control" ng-model="comboTipoJogo" id="comboTipoJogo"
                                style="width: 100% !important">
                                <option value="" selected> Selecione </option>
                                <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                                    {{ x.nome }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class='col-12 col-md-6 col-lg-3 betL_CaixaFormSelect'>
                        <div class="form-group">
                            <label for="comboConcurso">Concurso:</label>
                            <br>
                            <select class="form-control betL_Width_SelectConcurso" ng-model="comboConcurso"
                                id="comboConcurso" style="width: 100% !important">
                                <option value="" selected> Selecione </option>
                                <option ng-repeat="x in jogos| orderBy:'-cod_jogo' | filter: filterByTipo"
                                    value="{{x}}">{{ x.data_jogo | date: 'dd/MM/yyyy'}} -
                                    {{getDescricaoConcurso(x)}} 
                                    TIPO: {{ getDescricaoTipoJogo(x.tipo_jogo)}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar" ng-click="gerarRelatorio()">
                            Gerar Relatório
                        </button>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>