<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="trocarSenhaCtrl as ctrl" class="betL_container">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-sm-12 col-xs-12 col-12">
                <h5>TROCAR SENHA</h5>
                <hr>
            </div>

            <!-- FORM -->
            <div class="col-md-12 col-ms-12 col-xs-12 col-12">
                <form class="form-cadastro-trocar-senha">
                    <input type="hidden" ng-model="cod_usuario">
                    <div class='col-md-2 col-xs-2 col-12 betL_trocaSenha_form_box'>
                        <label for="edtNovaSenha">Nova Senha:</label>
                        <input type="password" id="edtNovaSenha" placeholder="Nova Senha..." ng-model="edtNovaSenha" class="form-control betL_input betL_input_trocaSenha" maxlength="20" />
                    </div>
                    <br>
                    <div class='col-md-2 col-xs-2 col-12 betL_trocaSenha_form_box'>
                        <label for="edtConfirmarSenha">Confirmar Senha:</label>
                        <input type="password" id="edtConfirmarSenha" placeholder="Confirmar Senha..." ng-model="edtConfirmarSenha" class="form-control betL_input betL_input_trocaSenha" maxlength="20" />
                    </div>        
                    <div class="col-md-2 col-xs-2 col-12 botao-baixo">
                        <button type="button" class="btn betL_BTN" ng-click="trocarSenha()">Salvar</button>
                        <button type="reset" class="btn betL_modalBtn" >Cancelar</button>
                    </div>
                </form>  
            </div>
        </div>
    </div>

</div>