<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="verBilhetesCtrl" class="betL_container betL_verBilhete">

    <div class="container-fluid">
        <div class="row">

            <!-- TITULO -->
            <div class="betL_Titulo col-md-12 col-sm-12 col-xs-12">
                <h5>VER BILHETES</h5>
                <hr>
            </div>

            <!-- FORM -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro row" ng-init="getJogos(); getCambistas()">
                    <div class='col-12 col-md-6 col-lg-3 betL_verBilheteFormSelect'>
                        <div class="form-group">
                            <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                            <select class="form-control" style="width: 100% !important" ng-model="comboTipoJogo"
                                id="comboTipoJogo">
                                <option value="" selected> Todos </option>
                                <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                                    {{ x.nome }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class='col-12 col-md-6 col-lg-3 betL_verBilheteFormSelect'>
                        <div class="form-group">
                            <label for="comboConcurso">Concurso:</label>
                            <select class="form-control betL_Width_SelectConcurso" ng-model="comboConcurso"
                                id="comboConcurso" style="width: 100% !important">
                                <option value="" selected> Todos </option>
                                <option ng-repeat="x in jogos| orderBy:'-data_jogo' | filter: filterByTipo" 
                                    value="{{x.cod_jogo}}">{{ x.data_jogo | date: 'dd/MM/yyyy'}} - 
                                    {{getDescricaoConcurso(x)}}
                                    TIPO: {{ getDescricaoTipoJogo(x.tipo_jogo)}}</option>
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class='col-12 col-md-6 col-lg-3 betL_verBilheteFormSelect'>
                        <div class="form-group">
                            <label for="edtNome">Nome Apostador:</label>
                            <input type="text" id="edtNome" placeholder="Nome" ng-model="edtNome" class="form-control"
                                style="width: 100% !important" />
                        </div>
                    </div>

                    <div class='col-12 col-md-6 col-lg-3 betL_verBilheteFormSelect'>
                        <div class="form-group">
                            <label for="comboStatusBilhete">Status Bilhete: &nbsp;</label>
                            <select class="form-control" ng-model="comboStatusBilhete" id="comboStatusBilhete"
                                style="width: 100% !important">
                                <option value="" selected> Todos </option>
                                <option value="A"> Aberto </option>
                                <option value="C"> Cancelado </option>
                                <option value="P"> Processado </option>
                                <option value="G"> Premiado </option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro form-group row">

                    <div class='col-md-2 betL_verBilheteFormSelect' ng-show="perfil != 'C'">
                        <div class="form-group">
                            <label for="comboCambista" ng-show="perfil == 'A'">Gerente:</label>
                            <label for="comboCambista" ng-show="perfil == 'G'">Cambista:</label>
                            <select class="form-control" ng-model="comboCambista" id="comboCambista"
                                style="width: 100% !important">
                                <option value="" selected> Todos </option>
                                <option ng-repeat="x in cambistas" value="{{x.nome}}">{{ x.nome}}</option>
                            </select>
                        </div>
                    </div>

                    <div class='col-md-2'>
                        <div class="form-group">
                            <label for="edtDataDe">Período De: &nbsp;</label>
                            <input type="date" min="2018-01-01" id="edtDataDe" placeholder="Data" ng-model="edtDataDe"
                                class="form-control" style="width: 100% !important" ng-change="ajustaDataFimPeriodo()" />
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class="form-group">
                            <label for="edtDataAte">Período Ate: &nbsp;</label>
                            <input type="date" min="2018-01-01" id="edtDataAte" placeholder="Data" ng-model="edtDataAte"
                                class="form-control" style="width: 100% !important" />
                        </div>
                    </div>

                    <div class="col-md-2 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar" ng-click="pesquisarBilhetes()">
                            Pesquisar
                        </button>
                    </div>

                    <div class="col-md-2 botao-baixo">
                        <div style="display: flex;align-items: center;justify-content: space-evenly;">
                            <span ng-class="{'first-choice': !eh_pdf}" class="first-choice">XLS</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="eh_pdf" ng-change="alteraTipoRelatorio()" 
                                    class="ng-pristine ng-untouched ng-valid">
                                <span class="slider2 round slider-choice"></span>
                            </label>
                            <span ng-class="{'second-choice': eh_pdf}" class="second-choice">PDF</span>
                        </div>      
                    </div>           

                    <div class="col-md-2 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                            ng-click="gerarRelatorio()">
                            Gerar Relatório
                        </button>
                    </div> 
                </form>
            </div>

            <!-- TABLE -->
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 50px;">
                <div class="flex-column align-items-center justify-content-center mb-4 ml-auto mr-auto visible-grid"
                    ng-class="isExibirGrids ? 'border-color-isgrid' : ''">
                    <label for="exibirGrids" >
                        <i class="fa fa-list-alt" id="icon-grid" aria-hidden="true"></i>
                    </label>
                    <label class="switch">
                        <input type="checkbox" ng-model="isExibirGrids" id="exibirGrid" ng-click="exibirGrids()"/>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="paginacao-mobile">
                    <dir-pagination-controls class="paginator" direction-links="true" boundary-links="true"
                        on-page-change="alterarPagina(newPageNumber)" id="dir-paginator-top" max-size="5">
                    </dir-pagination-controls>
                </div>
                <div class="table-responsive betL_verBilheteList" ng-class="isExibirGrids ? 'table-card' : ''">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('CODIGO')">#</a>
                                </th>
                                <th class="align-middle" scope="col" ng-if="perfil == 'A'"><a href=""
                                        ng-click="orderFilter('GERENTE')">Gerente </a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('CAMBISTA')">Cambista</a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('CONCURSO')">Concurso</a></th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('TIPO_JOGO')">Tipo
                                        de Jogo</a></th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('DATA')">Data</a>
                                </th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('APOSTADOR')">Nome
                                        Apostador </a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('TELEFONE')">Telefone </a></th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('QTD_APOSTAS')">Qtd. Apostas </a></th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('TOTAL')">Total
                                        (R$) </a> </th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('COMISSAO')">Comissão (R$)</a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('RETORNO')">Retorno (R$) </a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('STATUS_BILHETE')">Status Bilhete</a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('STATUS_PGTO')">Situação Pagamento</a></th>
                                <th class="align-middle" scope="col">Ver Aposta</th>
                                <th class="align-middle" scope="col" ng-if="perfil == 'C'">Repetir Bilhete</th>
                            </tr>
                        </thead>
                        
                        <tbody class="container" id="conteudoTabela">
                            <tr dir-paginate="x in recordsFiltered | itemsPerPage: itensPorPagina"
                                total-items="totalItens" current-page="paginacao.atual">
                                <td class="align-middle" scope="row">
                                    <span style="font-weight: bold;">
                                        <a href="" ng-click="procurarBilhete(x.txt_pule)"
                                        data-toggle="modal" data-target="#modalConferirBilhetes">{{ x.txt_pule_para_visualizar}} </a>
                                    </span>
                                </td>
                                <td class="align-middle" ng-if="perfil == 'A'"><span>{{ x.gerente}}</span></td>
                                <td class="align-middle"><span>{{ x.cambista}}</span></td>
                                <td class="align-middle"><span>{{ x.concurso}}</span> </td>
                                <td class="align-middle"><span>{{ getDescricaoTipoJogo(x.tipo_jogo)}}</span> </td>
                                <td class="align-middle"><span>{{ x.data_hora_bilhete}}</span></td>
                                <td class="align-middle"><span>{{ x.nome_apostador}}</span></td>
                                <td class="align-middle"><span>{{ x.telefone_apostador}}</span></td>
                                <td class="align-middle"><span>{{ x.qtd_bilhetes}}</span></td>
                                <td class="align-middle"><span>{{ x.total | currency:"R$" }}</span></td>
                                <td class="align-middle"><span>{{ x.comissao | currency:"R$" }}</span></td>
                                <td class="align-middle"><span>{{ x.possivel_retorno | currency:"R$" }}</span></td>
                                <td class="align-middle"><span>{{ x.status_bilhete}}</span></td>
                                <td class="align-middle">
                                    <div ng-if="x.bilhete_premiado">
                                        <span class="statusPagamentoBilhete" ng-if="x.status_pagamento == 'S'"
                                            style="color: #008000; font-weight: bold;">
                                            <i ng-if="x.txt_pule == txt_pule && processarPagamento"
                                                class="fa fa-spinner fa-spin"></i>
                                            Efetivado
                                        </span>
                                        <span class="statusPagamentoBilhete" ng-if="x.status_pagamento == 'N'"
                                            style="color: #ff0000; font-weight: bold;">
                                            <i ng-if="x.txt_pule == txt_pule && processarPagamento"
                                                class="fa fa-spinner fa-spin"></i>
                                            Pendente
                                        </span>
                                    </div>
                                </td>

                                <td>
                                    <button class="btn betL_BTN betL_BTN_icon betL_BTN_mRight" alt="Ver aposta"
                                        data-toggle="modal" data-target="#modalBilhetes"
                                        ng-click="listarApostas(x.cod_bilhete, x.tipo_jogo)" data-tt="tooltip"
                                        data-placement="top" title="Ver Aposta">
                                        <i class="far fa-eye"></i>
                                    </button>
                                </td>
                                <td ng-if="perfil == 'C'">
                                    <button ng-if="x.tipo_jogo != '2' && x.tipo_jogo != 'R'" class="btn betL_BTN betL_BTN_icon betL_BTN_mRight" alt="Repetir Jogo"
                                        ng-click="repetirJogo(x.txt_pule, x.tipo_jogo)" data-tt="tooltip"
                                        data-placement="top" title="Repetir Jogo">
                                        <i class="fas fa-redo-alt"></i>
                                        <!--Repetir Jogo-->
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="mostrarFooterTabela && recordsFiltered.length != 0" ng-class="isExibirGrids ? 'table-card-footer' : ''">
                            <tr>
                                <td scope="col">&nbsp;</td>
                                <td scope="col" ng-if="perfil == 'A'">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col"><span style="font-weight: bold;">{{ totalizador.total | currency:"R$"}}</span></td>
                                <td scope="col"><span style="font-weight: bold;">{{ totalizador.comissao | currency:"R$"}}</span></td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col">&nbsp;</td>
                                <td scope="col" ng-if="perfil == 'C'">&nbsp;</td>
                            </tr>
                        </tfoot>
                        <script>
                            $(function () {
                                $('[data-tt="tooltip"]').tooltip();
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>

                    </table>
                    <div class="paginacao-mobile">
                        <dir-pagination-controls class="paginator" direction-links="true" boundary-links="true"
                            on-page-change="alterarPagina(newPageNumber)" id="dir-paginator-bottom" max-size="5">
                        </dir-pagination-controls>
                    </div>
                </div>
                <div ng-if="consulta && records.length == 0" class="d-flex justify-content-center align-items-center p-3" id="semDados">
                    <div ng-show="!loading">
                        <span class="mr-2">Sem Dados</span>
                        <i class="fa fa-thumbs-down ml-4"></i>
                    </div>
                    <div ng-show="loading">
                        <i class="fa fa-spinner fa-spin"></i>
                        <span class="mr-2">Carregando</span>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal" id="modalBilhetes" tabindex="-1" role="dialog" aria-labelledby="modalBilhetesLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title betL_modal_Titulo" id="modalBilhetesLabel">Apostas </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="betL_verBilhete_Modal_Info" ng-repeat="x in apostasList">
                        <p> <strong class="betL_strongAposta">Aposta:</strong>
                            <br> {{ x.txt_aposta}}
                            <br>
                            <br> <strong>Qtd. Números:</strong> {{ x.qtd_numeros}}
                            <br> <strong>Valor Aposta:</strong> {{ x.valor_aposta | currency:"R$" }}
                        <div ng-hide="x.tipo_jogo == 'R'">
                            <div ng-show="x.flg_sorte == 'S' && (x.tipo_jogo == 'S' || x.tipo_jogo == 'U')">
                            <br> <strong>Possível Retorno:</strong> {{ x.possivel_retorno | currency:"R$" }} (6) -
                            {{ x.retorno5 | currency:"R$" }} (5) - {{ x.retorno4 | currency:"R$" }} (4)
                            </div>
                            <div ng-show="x.flg_sorte == 'S' && x.tipo_jogo == 'Q'">
                            <br> <strong>Possível Retorno:</strong> {{ x.possivel_retorno | currency:"R$" }} (5) -
                            {{ x.retorno4 | currency:"R$" }} (4) - {{ x.retorno3 | currency:"R$" }} (3)
                            </div>
                            <div ng-show="x.flg_sorte != 'S'">
                            <br> <strong>Possível Retorno:</strong> {{ x.possivel_retorno | currency:"R$" }}
                            </div>
                        </div>
                        <div ng-show="x.status == 'Perdido'" style="color: red">
                            Status: {{ x.status}}
                        </div>
                        <div ng-show="x.status == 'Ganho'" style="color: green">
                            Status: {{ x.status}}
                        </div>
                        <div ng-show="x.status == 'Aberto'" style="color: black">
                            Status: {{ x.status}}
                        </div>
                        <div ng-show="x.status == 'Ganho' && x.flg_sorte == 'S'">
                            <strong>Retorno:</strong> {{ x.valor_ganho | currency:"R$" }}
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div ng-include src="'./components/confirmation_dialog.html'"></div>
    <div class="modal" id="modalConferirBilhetes" tabindex="-1" role="dialog"
        aria-labelledby="modalConferirBilhetesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 ng-if="!detalhesBilhetePremiado.mostrarInformacoesBilhetePremiado"
                        class="modal-title betL_modal_Titulo" id="modalConferirBilhetesLabel">Bilhete</h5>
                    <h5 ng-if="detalhesBilhetePremiado.mostrarInformacoesBilhetePremiado"
                        class="modal-title betL_modal_Titulo" id="modalConferirBilhetesLabel">Bilhete premiado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div ng-include src="'./components/modalVerBilhete.html'"></div>
                </div>
                <div class="modal-footer" style="flex-direction: column;">
                    <div style="text-align: center;">
                        <a ng-click="confirmationDialog()" style="cursor: pointer;"
                            ng-disabled="loading || desabilitarBotaoPagarBilhete">
                            <img class="img-fluid" src="img/Whatsapp-256.png" width="48px" height="48px"
                                alt="Bilhete WhatsApp">
                        </a>
                    </div>
                    <button ng-show="verificaPodeCancelar(status_bilhete)"
                        ng-disabled="desabilitarBotaoCancelar || desabilitarBotaoPagarBilhete"
                        class="btn no-print betL_BTN " ng-click="cancelarBilhete()"
                        style="color: #fff; background: #ff0000; width: 100%;">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(window).on('popstate', function () {
        if ($(".modal").hasClass('show')) {
            $('body').removeClass('modal-open');
            $('.modal-backdrop').hide();
        }
    });
</script>
