<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="verBilhetesCtrl" class="betL_container betL_verBilhete">

    <div class="container-fluid">
        <div class="row">

            <!-- TITULO -->
            <div class="betL_Titulo col-md-12 col-sm-12 col-xs-12">
                <h5>VER BILHETES</h5>
                <hr>
            </div>

            <!-- FORM -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro form-group row" ng-init="getCambistas(); getJogos()">
                    <div class='col-md-2 col-12 betL_verBilheteFormSelect'>
                        <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                        <select class="form-control" ng-model="comboTipoJogo" id="comboTipoJogo" ng-change="mudancaDeFiltro()">
                            <option value="" selected> Todos </option>
                            <option value="S"> Seninha </option>
                            <option value="Q">Quininha</option>
                            <option value="B">Bicho</option>
                            <option value="2">2 pra 500</option>
                        </select>
                    </div>

                    <div class='col-md-3 col-12 betL_verBilheteFormSelect'>
                        <label for="comboConcurso">Concurso:</label>
                        <br>
                        <select class="form-control betL_Width_SelectConcurso" ng-model="comboConcurso" id="comboConcurso" ng-change="mudancaDeFiltro()">
                            <option value="" selected> Todos </option>
                            <option ng-repeat="x in jogos| orderBy:'-cod_jogo'" value="{{x.concurso}}">{{ x.data_jogo | date:
                                'dd/MM/yyyy'}} - {{getDescricaoConcurso(x.concurso, x.tipo_jogo, x.hora_extracao )}} TIPO: {{ getDescricaoTipoJogo(x.tipo_jogo)}}</option>
                            </option>
                        </select>
                    </div>
                    
                    <div class='col-md-2 col-12 betL_verBilheteFormSelect' ng-show="perfil != 'C'">
                        <label for="comboCambista" ng-show="perfil == 'A'">Gerente:</label>
                        <label for="comboCambista" ng-show="perfil == 'G'">Cambista:</label>
                        <br>
                        <select class="form-control" ng-model="comboCambista" id="comboCambista" ng-change="mudancaDeFiltro()">
                            <option value="" selected> Todos </option>
                            <option ng-repeat="x in cambistas" value="{{x.nome}}">{{ x.nome}}</option>
                        </select>
                    </div>

                    <div class='col-md-2 col-12 betL_verBilheteFormSelect'>
                        <label for="edtNome">Nome Apostador:</label>
                        <input type="text" id="edtNome" placeholder="Nome" ng-model="edtNome" class="form-control" ng-change="mudancaDeFiltro()" />
                    </div>
                    <div class='col-md-2 col-12 betL_verBilheteFormSelect'>
                        <label for="comboStatusBilhete">Status Bilhete: &nbsp;</label>
                        <select class="form-control" ng-model="comboStatusBilhete" id="comboStatusBilhete" ng-change="mudancaDeFiltro()">
                            <option value="" selected> Todos </option>
                            <option value="Aberto"> Aberto </option>
                            <option value="Cancelado"> Cancelado </option>
                            <option value="Processado"> Processado </option>
                        </select>
                    </div>



                    
                    
                    
                </form>
            </div>

            <!-- TABLE -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive betL_verBilheteList" ng-init="listarBilhetes()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('cod_bilhete')">#</a></th>
                                <th class="align-middle" scope="col" ng-show="perfil == 'A'">Gerente</th>
                                <th class="align-middle" scope="col">Cambista</th>
                                <!--<th scope="col">Data</th> -->
                                <th class="align-middle" scope="col">Concurso</th>
                                <th class="align-middle" scope="col">Tipo de Jogo</th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('data_hora_bilhete')">Data </a> </th>
                                <th class="align-middle" scope="col">Nome Apostador</th>
                                <th class="align-middle" scope="col">Telefone</th>
                                <th class="align-middle" scope="col">Qtd. Apostas</th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('total')">Total (R$) </a> </th>
                                <th class="align-middle" scope="col">Comissão (R$)</th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('possivel_retorno')">Retorno (R$) </a></th>
                                <th class="align-middle" scope="col">Status Bilhete</th>
                                <th class="align-middle" scope="col">Ver Aposta</th>                                
                                <th class="align-middle" scope="col" ng-show="perfil == 'C'">Repetir Bilhete</th>    
                            </tr>
                        </thead>
                        <tfoot>
                            <tr ng-show="(records|filter:{tipo_jogo: comboTipoJogo, nome_apostador: edtNome, status_bilhete: comboStatusBilhete} | filter: filtroCambistas).length > 0">
                                <th scope="col">&nbsp;</th>
                                <th scope="col" ng-show="perfil == 'A'">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">{{ total | currency:"R$"}}</th>
                                <th scope="col">{{ totalComissao | currency:"R$"}}</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col" ng-show="perfil == 'C'">&nbsp;</th>
                            </tr>
                        </tfoot>
                        <tbody class="container">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                                <tr ng-repeat="x in records | filter:{tipo_jogo: comboTipoJogo, nome_apostador: edtNome, status_bilhete: comboStatusBilhete} | filter: filtroCambistas">
                                <th class="align-middle" scope="row"><a href="" ng-click="imprimirBilhete(x.txt_pule)">{{ x.txt_pule}} </a> </th>
                                <td class="align-middle" ng-show="perfil == 'A'">{{ x.gerente}}</td>
                                <td class="align-middle">{{ x.cambista}}</td>
                                <!-- <td>{{ x.data_bilhete | date: 'dd/MM/yyyy'}}</td> -->
                                <td class="align-middle">{{ x.concurso}} </td>
                                <td class="align-middle">{{ getDescricaoTipoJogo(x.tipo_jogo)}} </td>
                                <td class="align-middle">{{ x.data_hora_bilhete}}</td>
                                <td class="align-middle">{{ x.nome_apostador}}</td>
                                <td class="align-middle">{{ x.telefone_apostador}}</td>
                                <td class="align-middle">{{ x.qtd_bilhetes}}</td>
                                <td class="align-middle">{{ x.total | currency:"R$" }}</td>
                                <td class="align-middle">{{ x.comissao | currency:"R$" }}</td>
                                <td class="align-middle">{{ x.possivel_retorno | currency:"R$" }}</td>
                                <td class="align-middle">{{ x.status_bilhete}}</td>
                                <td>
                                    <button class="btn betL_BTN betL_BTN_icon betL_BTN_mRight" alt="Ver aposta" data-toggle="modal" data-target="#modalBilhetes" ng-click="listarApostas(x.cod_bilhete)" data-tt="tooltip" data-placement="top" title="Ver Aposta">
                                        <i class="far fa-eye"></i> <!--Ver Apostas-->
                                    </button>                                    
                                </td>                                
                                <td>
                                    <button ng-show="getDescricaoTipoJogo(x.tipo_jogo) == 'Bicho' && perfil == 'C'" class="btn betL_BTN betL_BTN_icon betL_BTN_mRight" alt="Repetir Jogo" ng-click="repetirJogo(x.txt_pule)" data-tt="tooltip" data-placement="top" title="Repetir Jogo">
                                        <i class="fas fa-redo-alt"></i> <!--Repetir Jogo-->
                                    </button>                                    
                                </td>        
                            </tr>
                        </tbody>
                        
                        <script>
                            $(function () {
                                $('[data-tt="tooltip"]').tooltip();
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>
                        
                    </table>
                </div>
            </div>


        </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="modalBilhetes" tabindex="-1" role="dialog" aria-labelledby="modalBilhetesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title betL_modal_Titulo" id="modalBilhetesLabel">Apostas </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="betL_verBilhete_Modal_Info" ng-repeat="x in apostasList">
                        <p> <strong class="betL_strongAposta">Aposta:</strong>
                            <br> {{ x.txt_aposta}}
                            <br>
                            <br> <strong>Qtd. Números:</strong> {{ x.qtd_numeros}}
                            <br> <strong>Valor Aposta:</strong> {{ x.valor_aposta | currency:"R$" }}
                            <br> <strong>Possível Retorno:</strong> {{ x.possivel_retorno | currency:"R$" }}
                        <div ng-show="x.status == 'Perdido'" style="color: red">
                            Status: {{ x.status}}
                        </div>
                        <div ng-show="x.status == 'Ganho'" style="color: green">
                            Status: {{ x.status}}
                        </div>
                        <div ng-show="x.status == 'Aberto'" style="color: black">
                            Status: {{ x.status}}
                        </div>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary betL_modalBtn" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>