<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="areasExtracaoCtrl as ctrl" class="betL_container">

    <div class="container-fluid" ng-init="carregarExtracoesArea(0)">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>ÁREAS > EXTRAÇÕES</h5>
                <hr>
            </div>

            <!-- FORM -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <form class="form-cadastro form-group row betL_usuario_form">
                    <div class='col-md-5 betL_jogos_boxCampo' ng-show="areas.length > 1">
                        <label for="comboAreas">Áreas:</label>
                        <select class="form-control" ng-model="comboAreas" id="comboAreas" style="width: 100% !important;"
                                ng-change="carregarExtracoesArea(this.comboAreas)">
                            <option value=""> Selecione</option>
                            <option ng-repeat="x in areas" value="{{x.cod_area}}">{{ x.nome }}</option>
                        </select>
                    </div>                   
                </form>
            </div>

            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div class="table-responsive betL_verBilheteList" ng-show="areas.length == 1 || comboAreas != undefined">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 70%;" class="align-middle" scope="col">Descrição</th>
                                <th style="width: 20%;" class="align-middle" scope="col">Tipo de Jogo</th>
                                <th style="width: 10%;" class="align-middle" scope="col">Status</th>
                                <th style="width: 10%;" class="align-middle" scope="col">Automatizada</th>
                                <th style="width: 5%;" class="align-middle" scope="col">Ativar/Desativar</th>
                            </tr>
                        </thead>
                        <tbody class="container">
                            <tr ng-repeat="x in areas_extracoes | orderBy:'hora_extracao'">                                
                                <td class="align-middle">{{ x.descricao}}</td>
                                <td class="align-middle">{{ getDescTipoJogo(x.tipo_jogo)}}</td>
                                <td class="align-middle">{{ getStatusArea(x.status)}}</td>
                                <td class="align-middle">{{ getDescSimNao(x.automatizada)}}</td>
                                <td>
                                    <button class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir" alt="Ativar/Desativar" 
                                        ng-click="excluir(x.cod_extracao, x.descricao, x.status, x.cod_area)" data-toggle="tooltip"
                                        data-placement="top" title="Ativar/Desativar">
                                        <i ng-if="x.status == 'A'" class="fas fa-lock-open"></i>
                                        <i ng-if="x.status == 'I'" class="fas fa-lock"></i>
                                    </button>                                    
                                </td>

                            </tr>
                        </tbody>

                        <script>
                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip();
                                $('.dinheiroMask').mask('#.##0,00', { reverse: true });
                                $('.timepicker').timepicker({
                                    timeFormat: 'HH:mm',
                                    interval: 30,
                                    minTime: '10',
                                    maxTime: '10:00pm',
                                    defaultTime: '11',
                                    startTime: '10:00',
                                    dynamic: false,
                                    dropdown: true,
                                    scrollbar: true
                                });
                            });
                        </script>


                    </table>
                </div>
            </div>
        </div>
    </div>

</div>