<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="caixaCtrl as ctrl" class="betL_container betL_caixa">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>CAIXA CAMBISTA</h5>
                <hr>
            </div>
        </div>
        <form ng-init="getJogos(); getCambistas();">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="comboTipoJogo">Tipo de Jogo:</label>
                        <select class="form-control" ng-model="comboTipoJogo" id="comboTipoJogo"
                            style="width: 100% !important">
                            <option value="" selected> Todos </option>
                            <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                                {{ x.nome }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="comboStatus">Status:</label>
                        <select class="form-control w-100" ng-model="comboStatus" id="comboStatus">
                            <option value="" selected> Todos </option>
                            <option value="L"> Liberado </option>
                            <option value="B"> Bloqueado </option>
                            <option value="P"> Processado </option>
                            <option value="F"> Finalizado </option>
                        </select>
                    </div>
                </div>  
                <div class="col-12 col-md-6 col-lg-3">                            
                    <div class="form-group">
                        <label for="edtDataDe">Período De:</label>
                        <input type="date" min="2019-01-01" id="edtDataDe" placeholder="Data" 
                            ng-model="edtDataDe" class="form-control"
                            ng-change="ajustaDataFimPeriodo()" />
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="edtDataAte">Período Ate:</label>
                        <input type="date" min="2019-01-01" id="edtDataAte" placeholder="Data" 
                            ng-model="edtDataAte" class="form-control" />
                    </div>
                </div>


                <div class="col-md-3" ng-class="selecionarGerente.gerenteSelecionado.cod_usuario ? 'col-lg-3' : 'col-lg-6'">
                    <div class="form-group">
                        <label for="selecionarGerente">Gerente:</label>
                        <select 
                            class="form-control w-100" ng-model="selecionarGerente.gerenteSelecionado" 
                            id="selecionarGerente" 
                            ng-options="item.nome for item in selecionarGerente.gerentes track by item.nome"
                            ng-change="lidarSelecaoGerente()">
                        </select>
                    </div>
                </div>
                
                <div ng-if="selecionarGerente.gerenteSelecionado.cod_usuario" class="col-md-3">
                    <div class="form-group">
                        <label for="selecionarCambista">Cambista:</label>
                        <select 
                            class="form-control w-100" ng-model="selecionarCambista.cambistaSelecionado" 
                            id="selecionarCambista" 
                            ng-options="item.nome for item in selecionarCambista.cambistas track by item.nome">
                        </select>
                    </div>
                </div>

                <div class='col-md-2 betL_jogos_boxCampo'>
                    <label for="chkExibirFinalizados" >Exibir Finalizados: &nbsp;</label>
                    <label class="switch" style="margin-top: 5px;">
                        <input type="checkbox" ng-model="chkExibirFinalizados" id="chkExibirFinalizados" 
                            ng-click="exibirFinalizados()" />
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class='col-md-2 betL_jogos_boxCampo'>
                    <label for="chkRelatorioSintetico" >Relatório Sintético: &nbsp;</label>
                    <label class="switch" style="margin-top: 5px;">
                        <input type="checkbox" ng-model="chkRelatorioSintetico" id="chkRelatorioSintetico" 
                            ng-click="exibirRelatorioSintetico()" />
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar mt-2" ng-disabled="loading" 
                        ng-click="pesquisar()" >
                            <div ng-if="!loading">
                                Pesquisar
                            </div>
                            <div ng-if="loading">
                                    <span class="fa fa-spinner fa-spin"></span>Carregando
                            </div>
                        </button>
                    </div>
                </div>

                <div ng-if="false" class="col-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar mt-2" ng-click="gerarPdfCaixa()">
                            Gerar Pdf
                        </button>
                    </div>
                </div>

                <div class="col-md-2">
                    <div style="display: flex;align-items: center;justify-content: space-evenly;">
                        <span ng-class="{'first-choice': !eh_pdf}" class="first-choice">XLS</span>
                        <label class="switch">
                            <input type="checkbox" ng-model="eh_pdf" ng-change="alteraTipoRelatorio()" 
                                class="ng-pristine ng-untouched ng-valid">
                            <span class="slider2 round slider-choice"></span>
                        </label>
                        <span ng-class="{'second-choice': eh_pdf}" class="second-choice">PDF</span>
                    </div>      
                </div>           
    
                <div class="col-md-2">
                    <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                        ng-click="gerarRelatorioCaixaCambista()">
                        Gerar Relatório
                    </button>
                </div>                
            </div>
        </form>
       
        <div class="row">
       
            <!-- FORM -->
            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12" style="margin-top: 50px;">        
                <div class="paginacao-mobile">
                    <dir-pagination-controls
                        class="paginator"
                        direction-links="true"
                        boundary-links="true"
                        on-page-change="alterarPagina(newPageNumber)"
                        id="dir-paginator-top"
                        pagination-id="apostas"
                        max-size="5"></dir-pagination-controls>
                </div>  
                <div class="table-responsive betL_CaixaList">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th ng-if="exibirColuna" class="align-middle" scope="col"><a href="" ng-click="orderFilter('data_jogo')">Data</a></th>
                                <th ng-if="exibirColuna" class="align-middle" scope="col">Status</th>
                                <th ng-if="exibirColuna" class="align-middle" scope="col">Tipo de Jogo</th>
                                <th class="align-middle" scope="col">Gerente</th>
                                <th class="align-middle" scope="col">Cambista</th>
                                <th class="align-middle" scope="col">Qtd. Apostas</th>
                                <th class="align-middle" scope="col">
                                    <a href="" ng-click="orderFilter('entradas')">
                                        Entradas
                                    </a>
                                </th> 
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('saidas')">Saídas </a></th>
                                <th class="align-middle" scope="col">Comissão</th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('saldo')">Saldo </a></th>
                            </tr>
                        </thead>
                        <tfoot ng-show="mostrarFooterTabela">
                            <tr>
                                <th ng-if="exibirColuna" scope="col">&nbsp;</th>
                                <th ng-if="exibirColuna" scope="col">&nbsp;</th>
                                <th ng-if="exibirColuna" scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col" ng-show="perfil != 'C'">&nbsp;</th>
                                <th scope="col">{{ totalizador.apostas }}</th>
                                <th scope="col">{{ totalizador.entradas | currency:"R$"}}</th>
                                <th scope="col">{{ totalizador.saidas | currency:"R$"}}</th>
                                <th scope="col">{{ totalizador.comissao | currency:"R$"}}</th>
                                <th scope="col" ng-show="perfil != 'C' && totalizador.comissao_gerente < 0"> {{ '0' | currency:"R$"}}</th>
                                
                                <th scope="col" ng-style="{ 'color' : (totalizador.saldo_par >= 0) ? 'green' : 'red' }">{{ totalizador.saldo_par | currency:"R$"}}</th>
                            </tr>
                        </tfoot>
                        <tbody class="container" id="conteudoTabela">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <tr dir-paginate="x in records| itemsPerPage: itensPorPagina"
                            total-items="totalItens" current-page="paginacao.atual"
                            pagination-id="apostas">
                                <td ng-if="exibirColuna">{{ x.data_jogo }}</td>
                                <td ng-if="exibirColuna">{{getDescricaoStatus(x.tp_status) }}</td>
                                <td ng-if="exibirColuna">{{ getDescricaoTipoJogo(x.tipo_jogo)}}</td>
                                <td>{{ x.nome_gerente}}</td>
                                <td>{{ x.nome_cambista}}</td>
                                <td>{{ x.qtd_apostas}}</td>
                                <td>{{ x.entradas | currency:"R$" }}</td>
                                <td>{{ x.saidas | currency:"R$" }}</td>
                                <td>{{ x.comissao | currency:"R$" }}</td>
                                <td>
                                    <!-- <div ng-style="{ 'color' : (x.saldo >= 0) ? 'green' : 'red' }"> {{ x.saldo | currency:"R$"}}</div> -->
                                    <div ng-style="{ 'color' : (x.saldo_par >= 0) ? 'green' : 'red' }"> {{ x.saldo_par | currency:"R$"}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="paginacao-mobile">
                        <dir-pagination-controls
                            class="paginator"
                            direction-links="true"
                            boundary-links="true"
                            on-page-change="alterarPagina(newPageNumber)"
                            id="dir-paginator-bottom"
                            pagination-id="apostas"
                            max-size="5"></dir-pagination-controls>
                    </div>
                </div>
            </div>

        </div>
        <div class="loader-modal" style="display: none;">
            <div id="loader-content">
                <span><i class="fa fa-spinner fa-spin"></i>Carregando</span>
    
            </div>
        </div>
    </div>
    
</div>
