<div ng-include src="'./components/menu.html'"></div>
<div class="betL_container betL_caixa" ng-controller="dashboardCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
        <h5>ACESSO RÁPIDO</h5>
        <hr />
      </div>
    </div>
    <div class="buttonSection">
      <div class="row">
        <div ng-show="perfil=='C' && flg_multijogos" class="col-6 col-md-3">
          <a href="#!/multi_jogos">
            <div class="buttonSection-item">
              <img src="img/dashboard/multijogos.png" alt="" />
              <span class="buttonSection-item-title">Multijogos</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil=='C' && flg_seninha" class="col-6 col-md-3">
          <a ng-click="reiniciaRepeticaoDeBilhete('seninha')">
            <div class="buttonSection-item">
              <img src="img/dashboard/seninha.png" alt="" />
              <span class="buttonSection-item-title">Seninha</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil=='C' && flg_supersena" class="col-6 col-md-3">
          <a ng-click="reiniciaRepeticaoDeBilhete('supersena')">
            <div class="buttonSection-item">
              <img src="img/dashboard/supersena.png" alt="" />
              <span class="buttonSection-item-title">Super Sena</span>
            </div>
          </a>
        </div>        

        <div ng-show="perfil=='C' && flg_quininha" class="col-6 col-md-3">
          <a ng-click="reiniciaRepeticaoDeBilhete('quininha')">
            <div class="buttonSection-item">
              <img src="img/dashboard/quininha.png" alt="" />
              <span class="buttonSection-item-title">Quininha</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil=='C' && flg_lotinha" class="col-6 col-md-3">
          <a ng-click="reiniciaRepeticaoDeBilhete('lotinha')">
            <div class="buttonSection-item">
              <img src="img/dashboard/lotinha.png" alt="" />
              <span class="buttonSection-item-title">Lotinha</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil=='C' && flg_bicho" class="col-6 col-md-3">
          <a href="#!/bicho">
            <div class="buttonSection-item">
              <img src="img/dashboard/jogo_bicho.png" alt="" />
              <span class="buttonSection-item-title">Jogo do Bicho</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil=='C' && flg_2pra500" class="col-6 col-md-3">
          <a href="#!/2pra500">
            <div class="buttonSection-item">
              <img src="img/dashboard/2pra500.png" alt="" />
              <span class="buttonSection-item-title">{{desc_2pra500}}</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil=='C' && flg_rifa" class="col-6 col-md-3">
          <a href="#!/rifa">
            <div class="buttonSection-item">
              <img src="img/dashboard/rifa.png" alt="" />
              <span class="buttonSection-item-title">Rifa</span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-3">
          <a href="#!/ver_bilhetes">
            <div class="buttonSection-item">
              <img src="img/dashboard/ver_bilhetes.png" alt="" />
              <span class="buttonSection-item-title">Ver Bilhetes</span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-3">
          <a href="#!/conferir_bilhete">
            <div class="buttonSection-item">
              <img src="img/dashboard/conferir_bilhete.png" alt="" />
              <span class="buttonSection-item-title">Conferir Bilhete</span>
            </div>
          </a>
        </div>

        <div class="col-6 col-md-3">
          <a href="#!/premiacoes">
            <div class="buttonSection-item">
              <img src="img/dashboard/premiacoes.png" alt="" />
              <span class="buttonSection-item-title">Premiações</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil == 'A'" class="col-6 col-md-3">
          <a href="#!/limite_bicho">
            <div class="buttonSection-item">
              <img src="img/dashboard/config_limite_bicho.png" alt="" />
              <span class="buttonSection-item-title">Config. Limite Bicho</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil == 'A'" class="col-6 col-md-3">
          <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="buttonSection-item">
              <img src="img/dashboard/relatorios.png" alt="" />
              <span class="buttonSection-item-title">Relatórios</span>
            </div>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#!/relatorioprestacaoconta">
              <i class="far fa-hand-point-right"></i>
              Prestação de Conta
            </a>
            <a class="dropdown-item" href="#!/relatoriobilheteconcurso">
              <i class="far fa-hand-point-right"></i>
              Bilhetes por Concurso
            </a>
          </div>
        </div>

        <div ng-show="perfil == 'A'" class="col-6 col-md-3">
          <a href="#!/mapaAposta">
            <div class="buttonSection-item">
              <img src="img/dashboard/mapa_aposta.png" alt="" />
              <span class="buttonSection-item-title">Mapa de Aposta</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil == 'A' || perfil == 'G'" class="col-6 col-md-3">
          <a href="#!/usuario">
            <div class="buttonSection-item">
              <img src="img/dashboard/usuario.png" alt="" />
              <span class="buttonSection-item-title">Usuários</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil == 'A' || perfil == 'G'" class="col-6 col-md-3">
          <a href="#!/lancamento">
            <div class="buttonSection-item">
              <img src="img/dashboard/lancamento.png" alt="" />
              <span class="buttonSection-item-title">Lançamentos</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil == 'A'" class="col-6 col-md-3">
          <a href="#!/prestacaoConta">
            <div class="buttonSection-item">
              <img src="img/dashboard/prestacao_conta.png" alt="" />
              <span class="buttonSection-item-title">Prestação de Conta</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil != 'A'" class="col-6 col-md-3">
          <a href="#!/caixa">
            <div class="buttonSection-item">
              <img src="img/dashboard/caixa.png" alt="" />
              <span class="buttonSection-item-title">Caixa</span>
            </div>
          </a>
        </div>

        <div ng-show="perfil == 'A'" class="col-6 col-md-3">
          <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="buttonSection-item">
              <img src="img/dashboard/caixa.png" alt="" />
              <span class="buttonSection-item-title">Caixa</span>
            </div>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownCaixa">
            <a class="dropdown-item" href="#!/caixa">
              <i class="far fa-hand-point-right"></i>
              Caixa Gerentes
            </a>
            <a class="dropdown-item" href="#!/caixa_cambista">
              <i class="far fa-hand-point-right"></i>
              Caixa Cambistas
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
