<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="extracaoCtrl as ctrl" class="betL_container">
  <div class="container-fluid">
    <div class="row">
      <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
        <h5>EXTRAÇÕES</h5>
        <hr />
      </div>

      <!-- FORM -->
      <div class="col-md-12 col-ms-12 col-xs-12">
        <div class="col-12" ng-if="notificacoes.extracoes.manuais">
          <p style="text-align: justify; font-size: smaller">
            <b
              >Obs.: As seguintes extrações encontram-se sem valores de limites
              definidos:</b
            >
            {{notificacoes.extracoes.manuais}}
          </p>
        </div>
        <form class="form-cadastro form-group row betL_usuario_form">
          <div class="col-12 col-md-2">
            <div class="form-group">
              <input type="hidden" ng-model="cod_extracao" />
              <label for="edtHora">Hora da Extração:</label>
              <input
                class="form-control timepicker"
                type="text"
                id="edtHora"
                ng-model="edtHora"
              />
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="form-group">
              <label for="edtDescricao">Descrição:</label>
              <input
                type="text"
                id="edtDescricao"
                placeholder="Descrição"
                ng-model="edtDescricao"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-12 col-md-2">
            <div class="form-group">
              <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
              <select class="form-control betL_seninha_concurso_select"
                ng-model="comboTipoJogo"
                id="comboTipoJogo">
                <option value="">Selecione</option>
                <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                  {{ x.nome }}
                </option>
              </select>
            </div>
          </div>         
 
          <div class="col-12 col-md-2">
            <div class="form-group">
              <label for="comboBloqueio">Prazo de Bloqueio: &nbsp;</label>
              <select class="form-control betL_seninha_concurso_select" ng-model="comboBloqueio" id="comboBloqueio">
                  <option value="0">0 minutos</option>                             
                  <option value="5">5 minutos</option>
                  <option value="10">10 minutos</option>
                  <option value="15">15 minutos</option>
                  <option value="20">20 minutos</option>
                  <option value="25">25 minutos</option>
                  <option value="30">30 minutos</option>
                  <option value="35">35 minutos</option>
                  <option value="40">40 minutos</option>
              </select>
            </div>
          </div>

          <div ng-show="comboTipoJogo == 'B'" class="col-12 col-md-2">
            <div class="form-group">
              <label for="edtHabilitaCentena">Habilita Centena no 7º Prêmio:</label>
              <div class="betL_conf_input_box">
                <label class="switch" style="margin-right: inherit">
                  <input
                    type="checkbox"
                    id="edtHabilitaCentena"
                    ng-model="edtHabilitaCentena"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
         
          <div ng-show="comboTipoJogo == 'B'" class="col-12 col-md-2">
            <div class="form-group">
              <label for="comboDoPremio">Qtd. Prêmios:</label>
              <select
                class="form-control betL_seninha_concurso_select"
                ng-model="comboPremios"
                id="comboPremios"
                ng-init="comboPremios = 10"
                ng-options="premio as premio for premio in [] | range:1:10">
              </select>
            </div>
          </div> 

        </form>
      </div>
      <div class="col-md-12 col-ms-12 col-xs-12">
        <form class="form-cadastro form-group row betL_usuario_form">
          <div class="col-md-1 betL_usuario_boxCampo">
            <label for="edtCheckDomingo">Domingo:</label>
            <div class="betL_conf_input_box">
              <label class="switch" style="margin-right: inherit">
                <input
                  type="checkbox"
                  id="edtCheckDomingo"
                  ng-model="edtCheckDomingo"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="col-md-1 betL_usuario_boxCampo">
            <label for="edtCheckSegunda">Segunda:</label>
            <div class="betL_conf_input_box">
              <label class="switch" style="margin-right: inherit">
                <input
                  type="checkbox"
                  id="edtCheckSegunda"
                  ng-model="edtCheckSegunda"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="col-md-1 betL_usuario_boxCampo">
            <label for="edtCheckTerca">Terça:</label>
            <div class="betL_conf_input_box">
              <label class="switch" style="margin-right: inherit">
                <input
                  type="checkbox"
                  id="edtCheckTerca"
                  ng-model="edtCheckTerca"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="col-md-1 betL_usuario_boxCampo">
            <label for="edtCheckQuarta">Quarta:</label>
            <div class="betL_conf_input_box">
              <label class="switch" style="margin-right: inherit">
                <input
                  type="checkbox"
                  id="edtCheckQuarta"
                  ng-model="edtCheckQuarta"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="col-md-1 betL_usuario_boxCampo">
            <label for="edtCheckQuinta">Quinta:</label>
            <div class="betL_conf_input_box">
              <label class="switch" style="margin-right: inherit">
                <input
                  type="checkbox"
                  id="edtCheckQuinta"
                  ng-model="edtCheckQuinta"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="col-md-1 betL_usuario_boxCampo">
            <label for="edtCheckSexta">Sexta:</label>
            <div class="betL_conf_input_box">
              <label class="switch" style="margin-right: inherit">
                <input
                  type="checkbox"
                  id="edtCheckSexta"
                  ng-model="edtCheckSexta"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="col-md-1 betL_usuario_boxCampo">
            <label for="edtCheckSabado">Sábado:</label>
            <div class="betL_conf_input_box">
              <label class="switch" style="margin-right: inherit">
                <input
                  type="checkbox"
                  id="edtCheckSabado"
                  ng-model="edtCheckSabado"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-12 col-ms-12 col-xs-12">
        <form
          ng-show="comboTipoJogo == 'B'"
          class="form-cadastro form-group row betL_usuario_form"
        >
          <input type="hidden" ng-model="codigo" />

          <div class="col-12 mb-3">
            <h4>Informe os valores de premiação máxima para as modalidades</h4>  
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtMilhar">Milhar:</label>
              <input
                type="text"
                id="edtMilhar"
                placeholder="Milhar"
                ng-model="edtMilhar"
                class="dinheiroMask form-control"
              />
            </div>
          </div>
          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtCentena">Centena:</label>
              <input
                type="text"
                id="edtCentena"
                placeholder="Centena"
                ng-model="edtCentena"
                class="dinheiroMask form-control"
              />
            </div>
          </div>
          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtGrupo">Grupo:</label>
              <input
                type="text"
                id="edtGrupo"
                placeholder="Grupo"
                ng-model="edtGrupo"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtDuqueGrupo">Duque de Grupo:</label>
              <input
                type="text"
                id="edtDuqueGrupo"
                placeholder="Duque de Grupo"
                ng-model="edtDuqueGrupo"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtTernoGrupo">Terno de Grupo:</label>
              <input
                type="text"
                id="edtTernoGrupo"
                placeholder="Terno de Grupo"
                ng-model="edtTernoGrupo"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtQuinaGrupo">Quina de Grupo:</label>
              <input
                type="text"
                id="edtQuinaGrupo"
                placeholder="Quina de Grupo"
                ng-model="edtQuinaGrupo"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtDezena">Dezena:</label>
              <input
                type="text"
                id="edtDezena"
                placeholder="Dezena"
                ng-model="edtDezena"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtDuqueDezena">Duque de Dezena:</label>
              <input
                type="text"
                id="edtDuqueDezena"
                placeholder="Duque de Dezena"
                ng-model="edtDuqueDezena"
                class="dinheiroMask form-control"
              />
            </div>
          </div>

          <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo">
            <div class="betL_conf_input_box">
              <label for="edtTernoDezena">Terno de Dezena:</label>
              <input
                type="text"
                id="edtTernoDezena"
                placeholder="Terno de Dezena"
                ng-model="edtTernoDezena"
                class="dinheiroMask form-control"
              />
            </div>
          </div>
        </form>
        <div class="col-md-2 betL_usuario_boxCampo">
          <button
            type="button"
            class="btn betL_BTN betL_BTN_usuario_salvar"
            ng-click="salvar(cod_extracao)"
          >
            Salvar
          </button>
        </div>
      </div>

      <!-- TABLE -->
      <div class="col-md-12 col-ms-12 col-xs-12">
        <div
          class="table-responsive betL_verBilheteList"
          ng-init="listarExtracoes()"
        >
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 5%" class="align-middle" scope="col">#</th>
                <th style="width: 10%" class="align-middle" scope="col">
                  Hora
                </th>    
                <th style="width: 20%" class="align-middle" scope="col">
                  Descrição
                </th>            
                <th style="width: 5%" class="align-middle" scope="col">
                  Domingo
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Segunda
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Terça
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Quarta
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Quinta
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Sexta
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Sábado
                </th>
                <th style="width: 10%" class="align-middle" scope="col">
                  Tipo de Jogo
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Habilita Centena
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Editar
                </th>
                <th style="width: 5%" class="align-middle" scope="col">
                  Excluir
                </th>
              </tr>
            </thead>
            <tbody class="container">
              <!-- <tr ng-repeat="x in lista | object2Array"> -->
              <tr ng-repeat="x in records | orderBy:'hora_extracao'">
                <th class="align-middle" scope="row">{{ x.cod_extracao}}</th>
                <td class="align-middle">{{ x.hora_extracao}}</td>
                <td class="align-middle">{{ x.descricao}}</td>
                <td class="align-middle">{{ getDescSimNao(x.domingo)}}</td>
                <td class="align-middle">{{ getDescSimNao(x.segunda)}}</td>
                <td class="align-middle">{{ getDescSimNao(x.terca)}}</td>
                <td class="align-middle">{{ getDescSimNao(x.quarta)}}</td>
                <td class="align-middle">{{ getDescSimNao(x.quinta)}}</td>
                <td class="align-middle">{{ getDescSimNao(x.sexta)}}</td>
                <td class="align-middle">{{ getDescSimNao(x.sabado)}}</td>
                <td class="align-middle">{{ getDescTipoJogo(x.tipo_jogo)}}</td>
                <td class="align-middle">{{ getDescSimNao(x.habilita_centena)}}</td>
                <td>
                  <button
                    class="btn betL_BTN betL_BTN_icon betL_BTN_mRight"
                    alt="Alterar"
                    ng-click="alterar(x)"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Alterar"
                  >
                    <i class="fas fa-pen"></i>
                    <!--Alterar-->
                  </button>
                </td>
                <td>
                  <button
                    class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir"
                    alt="Excluir"
                    ng-click="excluir(x.cod_extracao, x.hora_extracao)"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Excluir"
                  >
                    <i class="far fa-trash-alt"></i>
                    <!--Excluir-->
                  </button>
                </td>
              </tr>
            </tbody>

            <script>
              $(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $(".dinheiroMask").mask("#.##0,00", { reverse: true });
                $(".timepicker").timepicker({
                  timeFormat: "HH:mm",
                  interval: 30,
                  minTime: "10",
                  maxTime: "10:00pm",
                  defaultTime: "11",
                  startTime: "10:00",
                  dynamic: false,
                  dropdown: true,
                  scrollbar: true,
                });
              });
            </script>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
