<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="lancamentoCtrl as ctrl" class="betL_container">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-12">
                <h5>LANÇAMENTOS</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <!-- FORM -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <form ng-init="getCambistas();">
                    <div class="row">
                        <input type="hidden" ng-model="cod_lancamento">
                        <div class='col-sm-12 col-12 col-md-6 col-lg-3  betL_CaixaFormSelect'
                        ng-show="perfil != 'C'">
                            <div class="form-group">
                                <label for="comboCambista" ng-show="perfil == 'G'">Retirar de:</label>
                                <label for="comboCambista" ng-show="perfil == 'A'">Colaborador:</label>
                                <select class="form-control w-100" ng-model="comboColaborador" id="comboColaborador">
                                    <option value="" selected> Todos </option>
                                    <option ng-repeat="x in cambistas" value="{{x}}">{{x.nome}}</option>
                                </select>
                            </div>
                        </div>

                        <div class='col-sm-12 col-md-6 col-12 betL_CaixaFormSelect'
                        ng-show="perfil == 'G'"
                        ng-class="perfil == 'G' ? 'col-lg-3' : 'col-lg-2'">
                            <div class="form-group">
                                <label for="comboCambista">Enviar para:</label>
                                <br>
                                <select class="form-control w-100" ng-model="comboColaboradorEntrada" id="comboColaboradorEntrada">
                                    <option value="" selected> Todos </option>
                                    <option ng-repeat="x in cambistas" value="{{x}}">{{ x.nome}}</option>
                                </select>
                            </div>
                        </div>

                        <div class='col-sm-12 col-12 col-md-6 betL_usuario_boxCampo'
                        ng-show="perfil == 'A'" 
                        ng-class="perfil == 'G' ? 'col-lg-3' : 'col-lg-2'">
                            <div class="form-group">
                                <label for="cmbTipo">Tipo:</label>
                                <select id="cmbTipo" ng-model="cmbTipo" class="form-control w-100">
                                    <option value=""> Selecione</option>
                                    <option value="E">Entrada</option>
                                    <option value="S">Saída</option>
                                </select>
                            </div>
                        </div>

                        <div class='col-md-3 col-12 betL_usuario_boxCampo' ng-class="perfil == 'G' ? 'col-lg-2' : 'col-lg-2'">
                            <div class="form-group">
                                <label for="edtMotivo">Motivo:</label>
                                <input type="text" id="edtMotivo" placeholder="Motivo" ng-model="edtMotivo"
                                    class="form-control" />
                            </div>
                        </div>

                        <div class='col-md-3 col-lg-2 col-12 betL_usuario_boxCampo'>
                            <div class="form-group">
                                <label for="edtLimite">Valor (R$):</label>
                                <input type="text" id="edtValor" placeholder="Valor" ng-model="edtValor"
                                    class="form-control dinheiroMask" />
                            </div>
                        </div>

                        <div class='col-md-4 col-lg-3 col-xl-2 col-12 betL_jogos_boxCampo d-flex align-items-center mt-4' ng-show="perfil == 'A'">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mt-lg-2 mt-md-3">
                                    <input type="checkbox" ng-model="chkAjudaCusto"  class="custom-control-input" id="chkAjudaCusto">
                                    <label class="custom-control-label" for="chkAjudaCusto">Ajuda de Custo &nbsp;</label>
                                </div>
                               
                               
                            </div>
                                                
                        </div>
                        <div class="col-auto mt-auto mb-auto">
                            <button type="button" class="btn betL_BTN betL_BTN_usuario_salvar mt-3 p-3"
                            ng-click="salvar()">Salvar</button>
                        </div>
                    </div>

                    

                    

                </form>
            </div>
        </div>
        <div class="row">
            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div class="table-responsive betL_verBilheteList" ng-init="listarLancamentos()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10%;" class="align-middle" scope="col">Data</th>
                                <th style="width: 10%;" class="align-middle" scope="col">Criado Por</th>
                                <th style="width: 10%;" class="align-middle" scope="col">Tipo</th>
                                <th style="width: 20%;" class="align-middle" scope="col">Colaborador</th>
                                <th style="width: 20%;" class="align-middle" scope="col">Motivo</th>
                                <th style="width: 5%;" class="align-middle" scope="col">Ajuda de Custo</th>
                                <th style="width: 10%;" class="align-middle" scope="col">Valor</th>
                                <th style="width: 15%;" class="align-middle" scope="col">Excluir</th>
                            </tr>
                        </thead>
                        <tbody class="container">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <tr ng-repeat="x in records | orderBy:'-data_hora'">
                                <th class="align-middle" scope="row">{{ x.data_hora}} </th>
                                <td class="align-middle">{{ x.criador}}</td>
                                <td class="align-middle"
                                    ng-style="{ 'color' : (x.tipo_lancamento == 'ENTRADA') ? 'green' : 'red' }">
                                    {{ x.tipo_lancamento}}</td>
                                <td class="align-middle">{{ x.nome}}</td>
                                <td class="align-middle">{{ x.motivo}}</td>
                                <td class="align-middle">{{ getAjudaCusto(x.ajuda_custo) }}</td>
                                <td class="align-middle"
                                    ng-style="{ 'color' : (x.tipo_lancamento == 'ENTRADA') ? 'green' : 'red' }">
                                    {{ x.valor | currency: "R$" }}</td>
                                <td>
                                    <button class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir" alt="Excluir"
                                        ng-click="excluir(x.cod_lancamento, x.data_hora, x.criador, x.tipo_lancamento,
                                        x.nome, x.motivo, x.ajuda_custo, x.valor)" data-toggle="tooltip" data-placement="top"
                                        title="Excluir">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                        <script>
                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip();
                                $('.dinheiroMask').mask('#.##0,00', { reverse: true });
                            });
                        </script>


                    </table>
                </div>
            </div>
        </div>
    </div>

</div>