<div id="FormLoginPrincipal" class="boxFormLogin" ng-controller="loginCtrl">	
    <form class="form-signin"> 
        <img class="img-fluid" id="logo" ng-src="{{logomarca}}" alt="">									
        <div class="form-label-group" ng-show="!(idEscolhido)" >        
            <input ng-model="edtSite" type="text" inputmode="numeric" 
            id="edtSite" class="form-control betL_inputLogin" placeholder="Cód. Site" 
            required autofocus maxlength="4">
            <label for="edtSite">PIN</label>
        </div>
        <div class="form-label-group">        
            <input ng-model="edtUsuario" type="text" id="edtUsuario" class="form-control betL_inputLogin" placeholder="Usuário" required autofocus maxlength="20">
            <label for="edtUsuario">Usuário</label>
        </div>
        <div class="form-label-group betL_LastInput">        
            <input ng-model="edtSenha" type="password" id="edtSenha" class="form-control betL_inputLogin betL_inputLogin" placeholder="Senha" required maxlength="20">      
            <label for="edtSenha">Senha</label>
        </div>
        <div class="custom-control custom-checkbox mt-lg-2 mt-md-3">
            <input type="checkbox" ng-model="chkLembrar"  class="custom-control-input" id="chkLembrar">
            <label class="custom-control-label" for="chkLembrar">Lembrar </label>
        </div>
        <button ng-click="login()" class="btn btn-lg btn-success btn-block">Entrar</button>        
        <button ng-click="abrirConferir()" class="btn btn-lg btn-success btn-block" >Bilhete Virtual</a></button>
        <div class="centralizado-displaynone">
            <a ng-click="clickZap()" style="cursor: pointer">
              <img
                class="img-fluid"
                style="margin: auto"
                src="img/Whatsapp-256.png"
                width="48px"
                height="48px"
                alt="WhatsApp"
              />
            </a>
          </div>
    </form>


</div>
                
          


