<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="mapaApostaCtrl as ctrl" class="betL_container">

    <div class="container-fluid">
        
        <div class="betL_Titulo col-12">
            <h5>Mapa de apostas</h5>
            <hr>
        </div>

        <form class="col-12" ng-init="listarExtracoes();">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">                            
                        <label for="dataInicial">Data Inicial</label>
                        <input type="date" min="2019-01-01" max="2030-12-31" id="dataInicial" ng-model="dataInicial" class="form-control" ng-change="ajustaDataFimPeriodo()" />
                    </div>
                </div>
               <div class="col-sm-12 col-md-3">
                   <div class="form-group">
                       <label for="dataFinal">Data Final</label>
                       <input type="date" min="2019-01-01" max="2030-12-31" id="dataFinal" ng-model="dataFinal" class="form-control" />
                   </div>
               </div>
               <div class="col-sm-12 col-md-3">
                   <div class="form-group">
                       <label for="comboModalidade">Modalidade</label>
                       <select class="form-control w-100"       
                       ng-options="item.descricao for item in comboModalidade.opcoesModalidade track by item.valor"
                       ng-model="comboModalidade.opcaoSelecionada" id="comboModalidade">
                       </select>
                   </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="comboModalidade">Extrações</label>
                        <select class="form-control w-100"       
                        ng-options="item.descricao for item in comboExtracao.extracoes track by item.cod_extracao"
                        ng-model="comboExtracao.extracaoSelecionada" id="comboExtracao">
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="comboDoPremio">Do 1º Prêmio Ao:</label>
                        <select class="form-control w-100" ng-model="comboPremio"
                            id="comboPremio">
                            <option value=""> ---Selecione--- </option>
                            <option value="1"> 1º Prêmio </option>
                            <option value="2"> 2º Prêmio </option>
                            <option value="3"> 3º Prêmio </option>
                            <option value="4"> 4º Prêmio </option>
                            <option value="5"> 5º Prêmio </option>
                            <option value="6"> 6º Prêmio </option>
                            <option value="7"> 7º Prêmio </option>
                            <option value="8" ng-show="verificaSite()"> 8º Prêmio </option>
                            <option value="9" ng-show="verificaSite()"> 9º Prêmio </option>
                            <option value="10" ng-show="verificaSite()"> 10º Prêmio </option>
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-end mb-3 ml-3">
                    <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar" ng-click="pesquisar()">
                        Pesquisar
                    </button>   
                </div>
            </div>
        </form>

        <div class="table-responsive col-12 mt-4 pt-3">
            <dir-pagination-controls 
                max-size="25" 
                class="paginator"
                boundary-links="true">
            </dir-pagination-controls>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Bicho</th>
                    <th scope="col">Palpite</th>
                    <th scope="col">Jogos</th>
                    <th scope="col">Valor Total Aposta</th>
                    <th scope="col">Valor Total Possível Retorno</th>
                </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in dataRank|itemsPerPage:25">
                        <td>{{item.index}}</td>
                        <td>{{item.bicho}}</td>
                        <td>{{item.numeroBicho}}</td>
                        <td>{{item.quantidadeJogos}}</td>
                        <td>{{ item.totalAposta | currency:"R$" }}</td>
                        <td>{{ item.totalPossivelRetorno | currency:"R$" }}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls 
                max-size="25" 
                class="paginator"
                boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>
</div>