<div ng-controller="menuCtrl" class="no-print">
    <nav class="navbar navbar-expand-xl navbar-dark fixed-menu-top-will betL_menu">
        <a href="#!/dashboard"><img class="img-fluid" ng-src="{{logomarca}}" alt="BETloteria" style="height: 40px;"></a>
        <button class="navbar-toggler betL_menuCollapse_BTN" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav-rodrigo mr-auto betL_menu_ul" style="align-items: center;">
                <li ng-if="perfil != 'A'" class="nav-item betL_menu_li_principais">
                    <a class="menu-bet" href="#!/caixa">Caixa</a>
                </li>
                <li ng-if="perfil == 'A'" class="dropdown betL_menu_li_dropdown">
                    <a style="cursor: pointer" class="menu-bet betL_dd_linkP" id="dropdownCaixa" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Caixa <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu betL_menu_dd" aria-labelledby="dropdownCaixa">
                        <a class="dropdown-item betL_dd_link" href="#!/caixa">
                            <i class="fas fa-caret-right"></i>
                            Caixa Gerentes
                        </a>
                        <a class="dropdown-item betL_dd_link" href="#!/caixa_cambista">
                            <i class="fas fa-caret-right"></i>
                            Caixa Cambistas
                        </a>
                    </div>
                </li>

                <ng-show ng-show="perfil == 'C'">
                    <li class="dropdown betL_menu_li_dropdown">
                        <a style="cursor: pointer" class="menu-bet betL_dd_linkP" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Apostar <i class="fas fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu betL_menu_dd" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item betL_dd_link" href="#!/multi_jogos" 
                                ng-if="(flg_seninha || flg_quininha || flg_lotinha || flg_bicho || flg_2pra500 || flg_rifa) && flg_multijogos">
                                <i class="fas fa-caret-right"></i>
                                Multi Jogos</a>                            
                            <a class="dropdown-item betL_dd_link" ng-if="flg_seninha" ng-click="reiniciaRepeticaoDeBilhete('seninha')">
                                <i class="fas fa-caret-right"></i>
                                Seninha</a>
                            <a class="dropdown-item betL_dd_link" ng-if="flg_supersena" ng-click="reiniciaRepeticaoDeBilhete('supersena')">
                                <i class="fas fa-caret-right"></i>
                                Super Sena</a>                                
                            <a class="dropdown-item betL_dd_link" ng-if="flg_quininha" ng-click="reiniciaRepeticaoDeBilhete('quininha')">
                                <i class="fas fa-caret-right"></i>
                                Quininha</a>
                            <a class="dropdown-item betL_dd_link" ng-if="flg_lotinha" ng-click="reiniciaRepeticaoDeBilhete('lotinha')">
                                <i class="fas fa-caret-right"></i>
                                Lotinha</a>
                            <a class="dropdown-item betL_dd_link" href="#!/bicho" ng-if="flg_bicho"><i
                                    class="fas fa-caret-right"></i>
                                Bicho</a>
                            <a class="dropdown-item betL_dd_link" href="#!/2pra500" ng-if="flg_2pra500"><i
                                    class="fas fa-caret-right"></i>
                                {{ desc_2pra500 }}</a>
                            <a class="dropdown-item betL_dd_link" href="#!/rifa" ng-if="flg_rifa"><i
                                    class="fas fa-caret-right"></i>
                                Rifa</a>
                        </div>
                    </li>
                </ng-show>

                <li class="dropdown betL_menu_li_dropdown">
                    <a style="cursor: pointer" class="menu-bet betL_dd_linkP" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bilhetes <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu betL_menu_dd" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item betL_dd_link" href="#!/ver_bilhetes"><i class="fas fa-caret-right"></i>
                            Ver Bilhetes</a>
                        <a class="dropdown-item betL_dd_link" href="#!/conferir_bilhete"><i
                                class="fas fa-caret-right"></i>Conferir Bilhete</a>
                    </div>
                </li>

                <li class="dropdown betL_menu_li_dropdown">
                    <a style="cursor: pointer" class="menu-bet betL_dd_linkP" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jogos <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu betL_menu_dd" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item betL_dd_link" href="#!/resultados"><i class="fas fa-caret-right"></i>
                            Resultados</a>
                        <a class="dropdown-item betL_dd_link" href="#!/premiacoes"><i
                                class="fas fa-caret-right"></i>Premiações</a>
                    </div>
                </li>

                <!-- Ainda será implementado (Apenas Cambistas) -->
                <li class="nav-item betL_menu_li_principais" ng-if="perfil == 'C'">
                    <a class="menu-bet" href="#!/clientes">Clientes</a>
                </li>

                <ng-show ng-show="perfil != 'C'">
                    <li class="dropdown betL_menu_li_dropdown">
                        <a style="cursor: pointer" class="menu-bet betL_dd_linkP" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gerenciar <i class="fas fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu betL_menu_dd" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item betL_dd_link" href="#!/gerenciar_areas" ng-show="perfil == 'A'"><i
                                    class="fas fa-caret-right"></i>
                                Áreas</a>
                            <a class="dropdown-item betL_dd_link" href="#!/configuracao" ng-show="perfil == 'A'"><i
                                    class="fas fa-caret-right"></i>
                                Configuração</a>
                            <a class="dropdown-item betL_dd_link" href="#!/limite_bicho" ng-show="perfil == 'A' && existe_area_bicho"><i
                                    class="fas fa-caret-right"></i>
                                Config. Limite Bicho <span ng-if="notificacoes.extracoes" class="notificacao"></span> </a>
                            <a class="dropdown-item betL_dd_link" href="#!/extracoes" ng-show="perfil == 'A'"><i
                                    class="fas fa-caret-right"></i>
                                Extrações Manuais <span ng-if="notificacoes.extracoes.manuais" class="notificacao"></span></a>
                            <a class="dropdown-item betL_dd_link" href="#!/extracoes_automatizadas" ng-show="perfil == 'A'"><i
                                class="fas fa-caret-right"></i>
                                Extrações Automáticas <span ng-if="notificacoes.extracoes.automatizadas" class="notificacao"></span></a>                                
                            <a class="dropdown-item betL_dd_link" href="#!/areas_extracoes" ng-show="perfil == 'A'"><i
                                    class="fas fa-caret-right"></i>
                                Áreas > Extrações</a>                                
                            <a class="dropdown-item betL_dd_link" href="#!/mapaAposta" ng-show="perfil == 'A' && existe_area_bicho"><i
                                    class="fas fa-caret-right"></i>
                                Mapa De Apostas</a>
                            <a class="dropdown-item betL_dd_link" href="#!/usuario"><i class="fas fa-caret-right"></i>
                                Usuários</a>
                            <!--	<div class="dropdown-divider"></div>	-->
                            <a class="dropdown-item betL_dd_link" href="#!/gerenciar_jogos" ng-show="perfil == 'A'"><i
                                    class="fas fa-caret-right"></i>
                                Jogo</a>
                            <a class="dropdown-item betL_dd_link" href="#!/lancamento"><i
                                    class="fas fa-caret-right"></i>
                                Lançamentos</a>
                            <a class="dropdown-item betL_dd_link" href="#!/prestacaoConta" ng-show="perfil == 'A'"><i
                                    class="fas fa-caret-right"></i>
                                Prestação de Conta</a>
                            <a class="dropdown-item betL_dd_link" href="#!/auditoria" ng-show="perfil == 'A'"><i
                                    class="fas fa-caret-right"></i>
                                Auditoria</a>
                        </div>
                    </li>
                </ng-show>

                <ng-show ng-show="perfil == 'A'">
                    <li class="dropdown betL_menu_li_dropdown">
                        <a style="cursor: pointer" class="menu-bet betL_dd_linkP" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Relatórios <i class="fas fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu betL_menu_dd" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item betL_dd_link" href="#!/relatorioprestacaoconta"
                                ng-show="perfil == 'A'"><i class="fas fa-caret-right"></i>
                                Prestação de Conta
                            </a>
                            <a class="dropdown-item betL_dd_link" href="#!/relatoriobilheteconcurso"
                                ng-show="perfil == 'A'"><i class="fas fa-caret-right"></i>
                                Bilhetes por Concurso
                            </a>
                        </div>
                </li>
                </ng-show>

                <li class="dropdown betL_menu_li_dropdown">
                    <a style="cursor: pointer" class="menu-bet betL_dd_linkP" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ajuda <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu betL_menu_dd" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item betL_dd_link" href="#!/regulamento">
                            <i class="fas fa-caret-right"></i>
                            Regulamento
                        </a>
                        <!--a class="dropdown-item betL_dd_link" href="#!/fale_conosco">
                            <i class="fas fa-caret-right"></i>
                            Fale Conosco
                        </a!-->                  
                    </div>
                </li>
            </ul>
            <!--<img class="betL_logoPerfil" src="img/logo.png" href="#!/dashboard">-->
            <ul class="navbar-nav">
                <li class="dropdown betL_menu_dd_perfil">
                    <a style="cursor: pointer;" class="menu-bet betL_menu_dd_link" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ nome}} <span ng-show="perfil != 'A'"> {{saldo | currency:"R$" }} </span>
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu betL_menu_dd_perfil_box betL_menu_perfil_dd"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item betL_dd_perfil_link" href="#!/trocar_senha" ng-show="site != 500"><i
                                class="fas fa-caret-right"></i>
                            Trocar Senha</a>
                        <a class="dropdown-item betL_dd_perfil_link" href="#!/logout"><i class="fas fa-caret-right"></i>
                            Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>