<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="premiacoesCtrl" class="betL_container">
    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>PREMIAÇÕES</h5>
                <hr>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro form-group row" ng-init="getJogos(); getCambistas()">
                    <div class='col-md-3 betL_CaixaFormSelect'>
                        <label for="comboTipoJogo">Tipo de Jogo:</label>
                        <br />
                        <select class="form-control betL_Width_SelectConcurso" ng-model="comboTipoJogo"
                            id="comboTipoJogo" style="width: 100% !important">
                            <option value="" selected> Todos </option>
                            <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                                {{ x.nome }}
                            </option>
                        </select>
                    </div>

                    <div class='col-md-3 betL_CaixaFormSelect'>
                        <label for="comboConcurso">Concurso:</label>
                        <br />
                        <select class="form-control betL_Width_SelectConcurso" ng-model="comboConcurso"
                            id="comboConcurso" style="width: 100% !important">
                            <option value="" selected> Todos </option>
                            <option ng-repeat="x in jogos| orderBy:'-data_jogo' | filter: filterByTipo" 
                                value="{{x.cod_jogo}}">{{ x.data_jogo | date: 'dd/MM/yyyy'}} -
                                {{getDescricaoConcurso(x)}}
                                TIPO: {{ getDescricaoTipoJogo(x.tipo_jogo)}}</option>
                        </select>
                    </div>

                    <div class='col-md-3 betL_CaixaFormSelect' ng-show="perfil != 'C'">
                        <label for="comboVendedor" ng-show="perfil == 'A'">Gerente:</label>
                        <label for="comboVendedor" ng-show="perfil == 'G'">Cambista:</label>
                        <br>
                        <select class="form-control" ng-model="comboVendedor" id="comboVendedor"
                            style="width: 100% !important">
                            <option value="" selected> Todos </option>
                            <option ng-repeat="x in cambistas" value="{{x.cod_usuario}}">{{ x.nome}}</option>
                        </select>
                    </div>

                    <div class='col-md-3 betL_CaixaFormSelect'>
                        <label for="comboPagos">Status Pagamento:</label>
                        <br />
                        <select class="form-control betL_Width_SelectConcurso" ng-model="comboPagos" id="comboPagos"
                            style="width: 100% !important">
                            <option value="" selected> Todos </option>
                            <option value="S"> Efetivados </option>
                            <option value="N"> Pendentes </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro form-group row">
                    <div class='col-md-2 betL_CaixaFormSelect'>
                        <label for="edtDataDe">Período De: &nbsp;</label>
                        <input type="date" min="2019-01-01" id="edtDataDe" placeholder="Data" ng-model="edtDataDe"
                            class="form-control" ng-change="ajustaDataFimPeriodo()" />
                    </div>
                    <div class='col-md-2 betL_CaixaFormSelect'>
                        <label for="edtDataAte">Período Ate: &nbsp;</label>
                        <input type="date" min="2019-01-01" id="edtDataAte" placeholder="Data" ng-model="edtDataAte"
                            class="form-control" />
                    </div>                    
                    <div class='col-md-2 betL_jogos_boxCampo'>
                        <div class="form-group">
                            <label for="chkExibirFinalizados">Exibir Finalizados: &nbsp;</label>
                            <div>
                                <label class="switch" style="margin-top: 5px;">
                                    <input type="checkbox" ng-model="chkExibirFinalizados" id="chkExibirFinalizados" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                            ng-click="pesquisarBilhetesPremiados()">
                            Pesquisar
                        </button>
                    </div>
                    <div class="col-md-2 col-lg-2 botao-baixo">
                        <div style="display: flex;align-items: center;justify-content: space-evenly;">
                            <span ng-class="{'first-choice': !eh_pdf}" class="first-choice">XLS</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="eh_pdf" ng-change="alteraTipoRelatorio()" 
                                    class="ng-pristine ng-untouched ng-valid">
                                <span class="slider2 round slider-choice"></span>
                            </label>
                            <span ng-class="{'second-choice': eh_pdf}" class="second-choice">PDF</span>
                        </div>      
                    </div>           

                    <div class="col-md-2 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                            ng-click="gerarRelatorio()">
                            Gerar Relatório
                        </button>
                    </div>                     
                </form>
            </div>                    

            <!-- TABLE -->
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 50px;">
                <dir-pagination-controls class="paginator" direction-links="true" boundary-links="true"
                    on-page-change="alterarPagina(newPageNumber)" id="dir-paginator-top" max-size="5">
                </dir-pagination-controls>
                <div class="table-responsive betL_verBilheteList">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('CODIGO')">#</a>
                                </th>
                                <th class="align-middle" scope="col" ng-show="perfil == 'A'"><a href=""
                                        ng-click="orderFilter('GERENTE')">Gerente </a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('CAMBISTA')">Cambista </a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('CONCURSO')">Concurso</a></th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('TIPO_JOGO')">Tipo
                                        de Jogo</a></th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('DATA')">Data</a>
                                </th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('RETORNO')">Retorno</a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="orderFilter('STATUS_PGTO')">Situação Pagamento</a></th>
                            </tr>
                        </thead>
                        <tbody class="container" id="conteudoTabela">
                            <tr dir-paginate="x in records | itemsPerPage: itensPorPagina" total-items="totalItens"
                                current-page="paginacao.atual">
                                <th class="align-middle" scope="row"><a href="" ng-click="procurarBilhete(x.txt_pule)"
                                        data-toggle="modal" data-target="#modalConferirBilhetes">{{ x.txt_pule}} </a>
                                </th>
                                <td class="align-middle" ng-show="perfil == 'A'">{{ x.gerente}}</td>
                                <td class="align-middle">{{ x.cambista}}</td>
                                <td class="align-middle">
                                    {{getResumoDescricaoConcurso(x)}}
                                </td>
                                <td class="align-middle">{{ getDescricaoTipoJogo(x.tipo_jogo)}} </td>
                                <td class="align-middle">{{ x.data_bilhete }}</td>
                                <td class="align-middle">{{ x.valor_ganho | currency:"R$" }}</td>
                                <td class="align-middle">
                                    <span class="statusPagamentoBilhete" ng-show="x.status_pagamento == 'S'"
                                        style="color: #008000; font-weight: bold;">
                                        Efetivado
                                    </span>
                                    <span class="statusPagamentoBilhete" ng-show="x.status_pagamento == 'N'"
                                        style="color: #ff0000; font-weight: bold;">
                                        Pendente
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls class="paginator" direction-links="true" boundary-links="true"
                        on-page-change="alterarPagina(newPageNumber)" id="dir-paginator-bottom" max-size="5">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div ng-include src="'./components/confirmation_dialog.html'"></div>
    <div class="modal" id="modalConferirBilhetes" tabindex="-1" role="dialog"
        aria-labelledby="modalConferirBilhetesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title betL_modal_Titulo" id="modalConferirBilhetesLabel">Bilhete premiado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div ng-include src="'./components/modalVerBilhete.html'"></div>
                </div>
                <div class="modal-footer" style="flex-direction: column;">
                    <div style="text-align: center;">
                        <a ng-click="confirmationDialog()" style="cursor: pointer;"
                            ng-disabled="loading || desabilitarBotaoPagarBilhete">
                            <img class="img-fluid" src="img/Whatsapp-256.png" width="48px" height="48px"
                                alt="Bilhete WhatsApp">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(window).on('popstate', function () {
        if ($(".modal").hasClass('show')) {
            $('body').removeClass('modal-open');
            $('.modal-backdrop').hide();
        }
    });
</script>