<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="prestacaoContaCtrl as ctrl" class="betL_container betL_caixa">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>PRESTAÇÃO DE CONTAS</h5>
                <hr>
            </div>

            <div class="col-md-2">
                <div style="display: flex;align-items: center;justify-content: space-evenly;" class="botao-baixo">
                    <span ng-class="{'first-choice': !eh_pdf}" class="first-choice">XLS</span>
                    <label class="switch">
                        <input type="checkbox" ng-model="eh_pdf" ng-change="alteraTipoRelatorio()" 
                            class="ng-pristine ng-untouched ng-valid">
                        <span class="slider2 round slider-choice"></span>
                    </label>
                    <span ng-class="{'second-choice': eh_pdf}" class="second-choice">PDF</span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="botao-baixo">
                    <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                        ng-click="gerarRelatorio()">
                        Gerar Relatório
                    </button>
                </div>    
            </div>             

            <div class="col-md-2">
                <div class="botao-baixo" ng-show="perfil == 'A'">
                    <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                        ng-click="prestarConta()">
                        Prestar Conta
                    </button>
                </div>    
            </div>            

            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div class="table-responsive betL_CaixaList" ng-init="listarCaixa()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                
                                <th class="align-middle" scope="col" ng-show="perfil == 'G'">Cambista</th>

                                <th class="align-middle" scope="col" ng-show="chkExibirCambistas == true">Cambista</th>
                                <th class="align-middle" scope="col" ng-show="perfil == 'A'">Gerente</th>
                                
                                <th class="align-middle" scope="col">Qtd. Apostas</th>

                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('entradas')">Entradas
                                    </a></th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('saidas')">Saídas </a></th>
                                <th class="align-middle" scope="col">Comissão</th>
                                <th class="align-middle" scope="col" ng-show="perfil != 'C'">Comissão Gerente</th>
                                <th class="align-middle" scope="col" ng-show="perfil != 'C'">Lanc. Cambista</th>
                                <th class="align-middle" scope="col" ng-show="perfil != 'C'">Lanc. Gerente</th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('saldo')">Saldo </a></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr ng-show="(records|filter:{concurso:comboConcurso, nome:comboCambista, tipo_jogo: comboTipoJogo, tp_status: comboStatus }).length > 0">
                                
                                <th scope="col">TOTAL</th>
                                <th ng-show="chkExibirCambistas == true"> - </th>
                                <th scope="col">{{ getTotalizador('qtd_apostas') }}</th>
                                <th scope="col">{{ getTotalizador('entradas') | currency:"R$"}}</th>
                                <th scope="col">{{ getTotalizador('saidas') | currency:"R$"}}</th>
                                <th scope="col">{{ getTotalizador('comissao') | currency:"R$"}}</th>
                                <th scope="col" ng-show="getTotalizador('comissao_gerente') >= 0"> {{ getTotalizador('comissao_gerente') | currency:"R$"}}
                                <th scope="col" ng-show="getTotalizador('comissao_gerente') < 0"> {{'0' | currency:"R$"}}
                                <th scope="col">{{ getTotalizador('saldo_lancamento_cambista') | currency:"R$"}}</th>
                                <th scope="col">{{ getTotalizador('saldo_lancamento_gerente') | currency:"R$"}}</th>
                                </th>
                                <th scope="col">
                                    <div ng-show="getTotalizador('comissao_gerente') >= 0" ng-style="{ 'color' : ((getTotalizador('saldo')*1) + (getTotalizador('saldo_lancamento_cambista')*1) + (getTotalizador('saldo_lancamento_gerente')*1) >= 0) ? 'green' : 'red' }">{{ (getTotalizador('saldo')*1) + (getTotalizador('saldo_lancamento_cambista')*1) + (getTotalizador('saldo_lancamento_gerente')*1)
                                        | currency:"R$"}}</div>

                                        <div ng-show="getTotalizador('comissao_gerente') < 0" ng-style="{ 'color' : ((getTotalizador('saldo_par')*1) + (getTotalizador('saldo_lancamento_cambista')*1) + (getTotalizador('saldo_lancamento_gerente')*1) >= 0) ? 'green' : 'red' }">{{ (getTotalizador('saldo_par')*1) + (getTotalizador('saldo_lancamento_cambista')*1) + (getTotalizador('saldo_lancamento_gerente')*1)
                                                | currency:"R$"}}</div>
                                </th>
                            </tr>
                        </tfoot>
                        <tbody class="container">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <tr ng-repeat="x in records| filter:{concurso:comboConcurso, nome:comboCambista, tipo_jogo: comboTipoJogo, tp_status: comboStatus }">
                                
                                
                                <td>{{ x.gerente}}</td>
                                <td>{{ x.qtd_apostas}}</td>
                                <td>{{ x.entradas | currency:"R$" }}</td>
                                <td>{{ x.saidas | currency:"R$" }}</td>
                                <td>{{ x.comissao | currency:"R$" }}</td>
                                <td ng-show="x.comissao_gerente >= 0"> {{ x.comissao_gerente | currency:"R$" }}</td>
                                <td ng-show="x.comissao_gerente < 0"> {{ '0' | currency:"R$" }}</td>
                                <td>{{ x.saldo_lancamento_cambista | currency:"R$" }}</td>
                                <td>{{ x.saldo_lancamento_gerente | currency:"R$" }}</td>
                                
                                <td>
                                    <div ng-show="x.comissao_gerente >= 0" ng-style="{ 'color' : (((x.saldo*1) + (x.saldo_lancamento_cambista*1) + (x.saldo_lancamento_gerente*1)) >= 0) ? 'green' : 'red' }"> {{ (x.saldo*1) + (x.saldo_lancamento_cambista*1) + (x.saldo_lancamento_gerente*1) | currency:"R$"}}
                                        </div>
                                        <div ng-show="x.comissao_gerente < 0" ng-style="{ 'color' : (((x.saldo*1) + (x.saldo_lancamento_cambista*1) + (x.saldo_lancamento_gerente*1)) >= 0) ? 'green' : 'red' }"> {{ (x.saldo_par*1) + (x.saldo_lancamento_cambista*1) + (x.saldo_lancamento_gerente*1) | currency:"R$"}}
                                        </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>