<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="relatorioPrestacaoContaCtrl" class="betL_container">
    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>RELATÓRIO - PRESTAÇÃO DE CONTA</h5>
                <hr>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 betL_seninha_TextSecundario">
                <p>Somente será possível visualizar os relatórios se o seu site configurou a 
                    prestação de contas automatizada a partir do menu: "Gerenciar > Configuração > Conf. Geral".</p>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro row">
                    <div class='col-12 col-md-6 col-lg-3 betL_CaixaFormSelect'>                            
                        <div class="form-group">
                            <label for="edtDataDe">Período De: &nbsp;</label>
                            <input type="date" min="2019-01-01" id="edtDataDe" placeholder="Data" 
                                ng-model="edtDataDe" class="form-control" style="width: 100% !important"
                                ng-change="ajustaDataFimPeriodo()" />
                        </div>
                    </div>                    

                    <div class='col-12 col-md-6 col-lg-3 betL_CaixaFormSelect'>
                        <div class="form-group">
                            <label for="edtDataAte">Período Ate: &nbsp;</label>
                            <input type="date" min="2019-01-01" id="edtDataAte" placeholder="Data" 
                                ng-model="edtDataAte" class="form-control" style="width: 100% !important" />
                        </div>
                    </div>

                    <div class="col-12 col-md-3 col-lg-2 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar" 
                            ng-click="listarRelatorios()" >
                            Pesquisar
                        </button>
                    </div>

                    <div class="col-12 col-md-3 col-lg-2 betL_CaixaFormSelect">
                        <div class="form-group">
                            <label>Tipo de Relatório:</label>
                            <div style="display: flex;align-items: center;justify-content: space-evenly;">
                                <span ng-class="{'first-choice': !eh_pdf}" class="first-choice">XLS</span>
                                <label class="switch">
                                    <input type="checkbox" ng-model="eh_pdf" ng-change="alteraTipoRelatorio()" 
                                        class="ng-pristine ng-untouched ng-valid">
                                    <span class="slider2 round slider-choice"></span>
                                </label>
                                <span ng-class="{'second-choice': eh_pdf}" class="second-choice">PDF</span>
                            </div> 
                        </div>
                    </div>

                </form>                
            </div>

            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div ng-if="consulta && records.length == 0" class="d-flex justify-content-center align-items-center p-3" id="semDados">
                    <div ng-show="!loading">
                        <span class="mr-2">Sem Dados</span>
                        <i class="fa fa-thumbs-down ml-4"></i>
                    </div>
                    <div ng-show="loading">
                        <i class="fa fa-spinner fa-spin"></i>
                        <span class="mr-2">Carregando</span>
                    </div>
                </div>                
                <div class="table-responsive betL_verBilheteList">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 30%;" class="align-middle" scope="col">Data</th>
                                <th style="width: 30%; text-align: center;" class="align-middle" scope="col">Ação</th>
                            </tr>
                        </thead>
                        <tbody class="container">
                            <tr ng-repeat="x in records">
                                <th class="align-middle" scope="row">{{ x.data_prestacao_conta}} </th>
                                <td class="align-middle">
                                    <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                        ng-click="gerarRelatorio(x.cod_prestacao_conta, x.data_prestacao_conta)">
                                        Gerar Relatório
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>