body.receipt .sheet {
    width: 58mm;
    height: 100mm
}

/* change height as you like */

@media print {
    body.receipt {
        width: 58mm
    }    
}

.no-print {
    display: none;
}

.print {
    display: block;
}

/* this line is needed for fixing Chrome's bug */