<div ng-controller="seninhaVirtualCtrl" class="no-print">
    <nav class="navbar navbar-expand-xl navbar-dark fixed-top betL_menu">

        <img class="img-fluid" ng-src="{{logomarca}}" href="#!/dashboard" style="height: 40px;" alt="BETloteria">
        <button class="navbar-toggler betL_menuCollapse_BTN" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto betL_menu_ul" style="align-items: center;">
                <li class="nav-item betL_menu_li_principais">
                    <a class="menu-bet" href="{{'#!/' + currentId}}">Conferir Bilhete</a>
                </li>

                <li class="dropdown betL_menu_li_dropdown">
                    <a style="cursor: pointer" class="menu-bet betL_dd_linkP" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Apostar <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu betL_menu_dd" aria-labelledby="navbarDropdown">
                        <a ng-if="flgSeninha" class="dropdown-item betL_dd_link" href="{{'#!/seninha/' + currentId}}" + currentId><i
                                class="fas fa-caret-right"></i>
                            Seninha</a>
                        <a ng-if="flgSuperSena" class="dropdown-item betL_dd_link" href="{{'#!/supersena/' + currentId}}" + currentId><i
                                class="fas fa-caret-right"></i>
                            Super Sena</a>                            
                        <a ng-if="flgQuininha" class="dropdown-item betL_dd_link" href="{{'#!/quininha/' + currentId}}" + currentId><i
                                class="fas fa-caret-right"></i>
                            Quininha</a>
                        <a ng-if="flgLotinha" class="dropdown-item betL_dd_link" href="{{'#!/lotinha/' + currentId}}" + currentId><i
                                class="fas fa-caret-right"></i>
                            Lotinha</a>
                        <a ng-if="flgBicho" class="dropdown-item betL_dd_link" href="{{'#!/bicho/' + currentId}}" + currentId><i
                                class="fas fa-caret-right"></i>
                            Bicho</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>