<div ng-include src="'./components/dashboard.html'"></div>
<div ng-show="flg_supersena" ng-controller="superSenaVirtualCtrl" class="betL_container betL_caixa">

    <div class="container-fluid">
        <div class="row">


            <div class="betL_Titulo col-md-12 col-sm-12 col-xs-12">
                <h5>SUPER SENA - BILHETE VIRTUAL</h5>
                <hr>
            </div>

            <div class="betL_Titulo col-md-12 col-sm-12 col-xs-12" ng-show="puleGerado != ''">
                <h5>PIN GERADO:</h5>
                <input type="hidden" value="{{puleGerado}}" id="puleCopy">
                <h3 id="puleCopy1"> {{puleGerado}} </h3>

                <h5>NUMERO BILHETE:</h5>
                <h3 id="puleCopy2"> {{numeroBilhete}} </h3>                

                <input type="button" class="btn naoAlterar betL_seninha_form_Valor_Btn betL_BTN" id="btnCopy" value="Copiar para transferência"
                    ng-click="copyToClipboard()">
                    <hr>
            </div>
            
            <div class="col-md-12 col-sm-12 col-xs-12 betL_seninha_TextSecundario" style="margin-bottom: 10px;">
                <h5>Dezenas</h5>
                <p>Escolha dez dezenas individualmente ou use o botão da surpresinha para que o sistema sorteie as dezenas para você.</p>
            </div>

            <form class="form-cadastro form-group row betL_seninhaQuininha_form" ng-init="getJogos()">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-12">
                            <label for="comboConcurso">Concurso:</label>
                            <br>
                            <md-select ng-model="comboConcurso" multiple> 
                                <md-option ng-value="{{j}}" ng-repeat="j in jogos" ng-selected="{{j.selecionado}}"> 
                                    {{ j.data_jogo | date: 'dd/MM/yyyy'}} - Concurso: {{ j.concurso}}
                                </md-option> 
                            </md-select>                       
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-12'>
                            <button type="button" id="btn14sel" ng-click="selecionarNumeros(10)" class="btn btn-sm w-100 btn-grid p-0">
                                <span class="d-block font-weight-bold p-1">SURPRESINHA</span> 
                                <div class="p-1">
                                    <div class="d-flex flex-row">
                                        <span class="w-50">Acertos</span>
                                        <span class="w-50">Cotação</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <div class="d-flex flex-row table-bg">
                                            <div class="w-50">
                                                <span>
                                                    <small>6</small>
                                                </span>   
                                            </div>
                                            <div class="w-50">
                                                <span>
                                                    <small>
                                                        {{listaCfg[0].premio_sena}} x
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="w-50">
                                                <span>
                                                    <small>5</small>
                                                </span>
                                            </div>
                                            <div class="w-50">
                                                <span>
                                                    <small>
                                                        {{listaCfg[0].premio_quina}} x
                                                    </small>
                                                </span>                                            
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row table-bg">
                                            <div class="w-50">
                                                <span>
                                                    <small>4</small>
                                                </span>
                                            </div>
                                            <div class="w-50">
                                                <span>
                                                    <small>
                                                        {{listaCfg[0].premio_quadra}} x
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                    </div>        
                                </div>
                            </button>                    
                        </div>
                    </div>
                </div>

                <!-- ESCOLHA DOS NÚMEROS -->
                <div class="col-md-7">
                    <script>
                        $(document).ready(function () {
                            $("#edtTelefone").mask("(00) 00000-0000");
                            
                            $(".btn").click(function () {
                                if (this.classList.contains('naoAlterar')) {
                                    return;
                                }
                                

                                if (this.className == 'btn btn-outline-grid' && $("button.btn-bg-grid").length >= 40) {
                                    alert("O número máximo de números é 40!");
                                    return;
                                }

                                if (!(this.id == 'btn14sel' ||
                                    this.id == 'btn15sel' ||
                                    this.id == 'btn16sel' ||
                                    this.id == 'btn17sel' ||
                                    this.id == 'btn18sel' ||
                                    this.id == 'btn19sel' ||
                                    this.id == 'btn20sel' ||
                                    this.id == 'btn25sel' ||
                                    this.id == 'btn30sel' ||
                                    this.id == 'btn35sel' ||
                                    this.id == 'btn40sel')) {
                                    if (this.className == 'btn btn-outline-grid') {
                                        this.classList.remove('btn-outline-grid');
                                        this.classList.add('btn-bg-grid');
                                    } else {
                                        this.classList.remove('btn-bg-grid');
                                        this.classList.add('btn-outline-grid');
                                    }

                                }                                

                                for (i = 14; i <= 40; i++) {
                                    if ((i > 25 && i < 30) || (i > 30 && i < 35) || (i > 35 && i < 40)) {
                                        continue;
                                    }
                                    $("#btn" + i + "sel").removeClass('btn-bg-grid');
                                }

                                $(".numerosSelecionados").html("<span>Selecionados: " + $("button.btn-bg-grid").length + "</span>");

                                for (i = 14; i <= 40; i++) {
                                    if ((i > 25 && i < 30) || (i > 30 && i < 35) || (i > 35 && i < 40)) {
                                        continue;
                                    }
                                    if ($("button.btn-bg-grid").length == i) {
                                        $("#btn"+i+"sel").addClass('btn-bg-grid');
                                        break;
                                    }
                                }
                            });
                        });
                    </script>
                    <div id="BotoesSeninha" class="d-flex justify-content-center align-items-center h-100">
                        <div class="seninha">
                            <button type="button" class="btn btn-outline-grid"> 01 </button>
                            <button type="button" class="btn btn-outline-grid"> 02 </button>
                            <button type="button" class="btn btn-outline-grid"> 03 </button>
                            <button type="button" class="btn btn-outline-grid"> 04 </button>
                            <button type="button" class="btn btn-outline-grid"> 05 </button>
                            <button type="button" class="btn btn-outline-grid"> 06 </button>
                            <button type="button" class="btn btn-outline-grid"> 07 </button>
                            <button type="button" class="btn btn-outline-grid"> 08 </button>
                            <button type="button" class="btn btn-outline-grid"> 09 </button>
                            <button type="button" class="btn btn-outline-grid"> 10 </button>
                            <button type="button" class="btn btn-outline-grid"> 11 </button>
                            <button type="button" class="btn btn-outline-grid"> 12 </button>
                            <button type="button" class="btn btn-outline-grid"> 13 </button>
                            <button type="button" class="btn btn-outline-grid"> 14 </button>
                            <button type="button" class="btn btn-outline-grid"> 15 </button>
                            <button type="button" class="btn btn-outline-grid"> 16 </button>
                            <button type="button" class="btn btn-outline-grid"> 17 </button>
                            <button type="button" class="btn btn-outline-grid"> 18 </button>
                            <button type="button" class="btn btn-outline-grid"> 19 </button>
                            <button type="button" class="btn btn-outline-grid"> 20 </button>
                            <button type="button" class="btn btn-outline-grid"> 21 </button>
                            <button type="button" class="btn btn-outline-grid"> 22 </button>
                            <button type="button" class="btn btn-outline-grid"> 23 </button>
                            <button type="button" class="btn btn-outline-grid"> 24 </button>
                            <button type="button" class="btn btn-outline-grid"> 25 </button>
                            <button type="button" class="btn btn-outline-grid"> 26 </button>
                            <button type="button" class="btn btn-outline-grid"> 27 </button>
                            <button type="button" class="btn btn-outline-grid"> 28 </button>
                            <button type="button" class="btn btn-outline-grid"> 29 </button>
                            <button type="button" class="btn btn-outline-grid"> 30 </button>
                            <button type="button" class="btn btn-outline-grid"> 31 </button>
                            <button type="button" class="btn btn-outline-grid"> 32 </button>
                            <button type="button" class="btn btn-outline-grid"> 33 </button>
                            <button type="button" class="btn btn-outline-grid"> 34 </button>
                            <button type="button" class="btn btn-outline-grid"> 35 </button>
                            <button type="button" class="btn btn-outline-grid"> 36 </button>
                            <button type="button" class="btn btn-outline-grid"> 37 </button>
                            <button type="button" class="btn btn-outline-grid"> 38 </button>
                            <button type="button" class="btn btn-outline-grid"> 39 </button>
                            <button type="button" class="btn btn-outline-grid"> 40 </button>
                            <button type="button" class="btn btn-outline-grid"> 41 </button>
                            <button type="button" class="btn btn-outline-grid"> 42 </button>
                            <button type="button" class="btn btn-outline-grid"> 43 </button>
                            <button type="button" class="btn btn-outline-grid"> 44 </button>
                            <button type="button" class="btn btn-outline-grid"> 45 </button>
                            <button type="button" class="btn btn-outline-grid"> 46 </button>
                            <button type="button" class="btn btn-outline-grid"> 47 </button>
                            <button type="button" class="btn btn-outline-grid"> 48 </button>
                            <button type="button" class="btn btn-outline-grid"> 49 </button>
                            <button type="button" class="btn btn-outline-grid"> 50 </button>
                            <button type="button" class="btn btn-outline-grid"> 51 </button>
                            <button type="button" class="btn btn-outline-grid"> 52 </button>
                            <button type="button" class="btn btn-outline-grid"> 53 </button>
                            <button type="button" class="btn btn-outline-grid"> 54 </button>
                            <button type="button" class="btn btn-outline-grid"> 55 </button>
                            <button type="button" class="btn btn-outline-grid"> 56 </button>
                            <button type="button" class="btn btn-outline-grid"> 57 </button>
                            <button type="button" class="btn btn-outline-grid"> 58 </button>
                            <button type="button" class="btn btn-outline-grid"> 59 </button>
                            <button type="button" class="btn btn-outline-grid"> 60 </button>
                        </div>
                        <!--<div ng-controller="configuracaoCtrl">-->
                    </div>
                </div>
            </form>
            <div class="col-12 d-flex justify-content-center border-bottom border-top p-3 mb-3">
                <div class="text-right numerosSelecionados">
                    <span>
                        Selecionados: 0
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-6 betL_seninha_Box_Btn_LimparAdicionar">
                <input type="button" class="btn naoAlterar betL_seninha_BtnOutline" id="btnLimpar" value="Limpar" ng-click="limpar()">
            </div>

            <div class='col-md-3 col-6 betL_jogos_boxCampo mt-3'>
                <label for="chkManterNumerosSelecionados" >Manter seleção: &nbsp;</label>
                <label class="switch" style="margin-top: 5px;">
                    <input type="checkbox" ng-model="chkManterNumerosSelecionados" id="chkManterNumerosSelecionados"  />
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="col-md-5 col-sm-12 col-xs-12 col-12 betL_seninha_Box_Btn_LimparAdicionar betL_jogos_boxCampo">
                <form class="form-group row form-inline float-right betL_seninha_form_Valor">                    
                    <input type="number" id="edtValor" placeholder="Valor" ng-model="edtValor"
                         class="form-control betL_seninha_form_Valor_Input" />

                    <input type="button" class="btn naoAlterar betL_seninha_form_Valor_Btn" 
                        id="btnAdicionar" value="Adicionar Aposta" ng-click="adicionarAposta()">
                </form>
            </div>

            <!-- APOSTA -->
            <div class="col-md-12 col-sm-12 col-xs-12 betL_seninha_table">
                <div class="betL_seninha_TextSecundario">
                    <h5> Apostas </h5>
                </div>

                <div class="table-responsive betL_verBilheteList">
                    <table class="table table-hover" width="30%">
                        <thead>
                            <tr>
                                <th style="width: 20%" class="align-middle" scope="col">Concurso</th>
                                <th style="width: 10%" class="align-middle" scope="col">Valor da Aposta</th>
                                <th style="width: 10%" class="align-middle" scope="col">Qtd. Números</th>
                                <th style="width: 40%" class="align-middle" scope="col">Números</th>
                                <th style="width: 15%" class="align-middle" scope="col">Possível Retorno</th>
                                <th style="width: 5%" class="align-middle" scope="col">Excluir</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="align-middle" scope="col">Total:</th>
                                <th class="align-middle" scope="col">{{ valorTotal}}</th>
                                <th class="align-middle" scope="col">Qtd Apostas:</th>
                                <th class="align-middle" scope="col">{{apostas.length}}</th>
                                <th class="align-middle" scope="col">&nbsp;</th>
                                <th class="align-middle" scope="col">&nbsp;</th>
                            </tr>
                        </tfoot>
                        <tbody class="container">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <tr ng-repeat="x in apostas">
                                <td class="align-middle">
                                    {{ x.data_jogo | date: 'dd/MM/yyyy'}} - Concurso: {{ x.concurso}} 
                                </td>
                                <td class="align-middle">{{ x.valorReal | currency:"R$"}}</td>
                                <td class="align-middle">{{ x.qtd}}</td>
                                <td class="align-middle">{{ x.numeros}}</td>
                                <td class="align-middle">
                                            {{ x.possivelRetornoSena}} (Sena) </br> 
                                            {{ x.possivelRetornoQuina}} (Quina) </br> 
                                            {{ x.possivelRetornoQuadra}} (Quadra)
                                </td>
                                <td class="align-middle">
                                    <!--<input type="button" class="btn btn-danger" value="" ng-click="removerAposta($index)">-->
                                    <button type="button" class="btn betL_btn_seninhaQuininha_excluir betL_BTN_icon brtL_BTN_excluir" ng-click="removerAposta($index)"><i
                                            class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <!-- FORM NOME | TELEFONE -->
            <form class="form-cadastro form-group row betL_seninhaQuininha_form">                
                <div class='col-md-4 col-sm-6 col-xs-6 col-12'>
                    <div class="betL_seninha_nome_box">
                        <label for="edtNome">Nome:</label>
                        <input type="text" id="edtNome" placeholder="Nome" ng-model="edtNome" class="form-control" />
                    </div>
                </div>
                <div class='col-md-3 col-sm-6 col-xs-6 col-12'>
                    <div class="float-right betL_seninha_telefone_box">
                        <label for="edtTelefone">Telefone:</label>
                        <input type="tel" id="edtTelefone" placeholder="Telefone" ng-model="edtTelefone" class="form-control betL_seninha_telefone_input"
                        />
                    </div>
                </div>
                <div class='col-md-2 col-sm-6 col-xs-6 col-12'>
                    <div class="float-right betL_seninha_telefone_box">
                        <br>
                        <input type="button" class="btn naoAlterar betL_BTN betL_BTN_GerarBilhete" id="btnGerarBilhete" value="Gerar Bilhete" ng-click="gerarBilhete()">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>