#logo {
    margin-bottom: 40px; }

body {
    background-color: #8eabbd;
    font-family: 'Roboto', sans-serif;
    height: auto;
}

.boxFormLogin {
	padding: 25px;
	width: 400px;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
}

form.form-signin div.form-label-group{
    margin-bottom: 24px !important;
}

form.form-signin div.betL_LastInput{
    margin-bottom: 36px !important;
}

form.form-signin div input.betL_inputLogin{
    height: 50px;
    border: 1px solid #ACAFB3 !important;
    border-radius: 5px 5px 5px 5px !important;
}

form.form-signin div input.betL_inputLogin:focus{
    border: 1px solid #356B8A !important;
}

form.form-signin button{
    height: 50px;
    border: none;
    border-radius: 50px !important;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    background: #02466d;
    background: -moz-linear-gradient(left, #02466d 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(left, #02466d 0%,#7db9e8 100%);
    background: linear-gradient(to right, #02466d 0%,#7db9e8 100%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

form.form-signin button:hover{
    background-color: #03476c;
}

.form-label-group {
    transition: 0.2s ease-in-out; }

.form-label-group input.form-control {
    background-color: white;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #4E4C49; }

.form-label-group input.form-control:focus {
    border-bottom: 2px solid #77B302;
    box-shadow: initial;
    padding-top: 20px;
    padding-bottom: 4px; }

.form-label-group input.form-control:focus ~ label {
    color: #77B302;
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px; }

.form-label-group input.form-control:not(:placeholder-shown) ~ label {
    color: #9C9792; }

.form-label-group input.form-control:not(:placeholder-shown):focus ~ label {
    color: #77B302; }

.fixed-menu-top-will {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.buttonSection-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    height: 150px;
    border: 2px solid;
    border-color: #265AD5;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.buttonSection-item img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 70px;
    transition: all .25s ease-in-out;
}

.buttonSection-item-title {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-weight: 500;
    color: #FFFFFF;
    background-color:#265AD5;
    border-radius: 0 0 5px 5px;
    border: 1px solid #265AD5;
}

.buttonSection-item:hover {
    -webkit-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.7);
    transform: scale(1.2);
    transition: all .25s ease-in-out;
}

.buttonSection-item:hover img {
    transition: all .25s ease-in-out;
}

.md-select-menu-container {
    z-index: 9999 !important;
}

.centralizado-displaynone {
    text-align: center; 
    display: none;
}