body{
    background-color: $pastel200;
}

.form-label-group{
    transition: $tlabels;

    input{
        &.form-control{
            background-color: white;
            border: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: $gray700;

            &:focus{
                border-bottom: 2px solid $green500;
                box-shadow: initial;
                padding-top: 20px;
                padding-bottom: 4px;

                & ~ label{
                    color: $green500;
                    padding-top: calc(var(--input-padding-y) / 3);
                    padding-bottom: calc(var(--input-padding-y) / 3);
                    font-size: 12px;
                }
            }

            &:not(:placeholder-shown){
                & ~ label{
                    color: $gray500;
                }

                &:focus{
                    & ~ label{
                        color: $green500;
                    }
                }
            }
        }
    }
}