<div ng-include src="'./components/dashboard.html'"></div>

<div class="betL_container">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>AGENDA DO BOT</h5>
                <hr>
            </div>

            <!-- TABLE -->
            <form class="form-cadastro betL_conf_form" ng-controller="agendaBotCtrl as ctrl">
                <div class="form-row">
                    <div class="col-md-12 col-ms-12 col-xs-12">
                        <div class="table-responsive betL_verBilheteList" ng-init="carregarAgenda()">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="align-middle" scope="col">Tarefa</th>
                                        <th class="align-middle" scope="col">Tipo do Jogo</th>
                                        <th class="align-middle" scope="col">Horario</th>
                                        <th class="align-middle" scope="col">Domingo</th>
                                        <th class="align-middle" scope="col">Segunda</th>
                                        <th class="align-middle" scope="col">Terça</th>
                                        <th class="align-middle" scope="col">Quarta</th>
                                        <th class="align-middle" scope="col">Quinta</th>
                                        <th class="align-middle" scope="col">Sexta</th>
                                        <th class="align-middle" scope="col">Sábado</th>
                                    </tr>
                                </thead>
                                <tbody class="container">
                                    <tr ng-repeat="x in records">
                                        <th class="align-middle">{{ x.nome}} </th>
                                        <td class="align-middle">{{ x.tipo_jogo}}</td>
                                        <td class="align-middle">{{ x.horario}}</td>
                                        <td class="align-middle">
                                            <label class="switch" style="margin-right: inherit;">
                                                <input type="checkbox"
                                                    ng-model="x.domingo" />
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td class="align-middle">
                                            <label class="switch" style="margin-right: inherit;">
                                                <input type="checkbox"
                                                    ng-model="x.segunda" />
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td class="align-middle">
                                            <label class="switch" style="margin-right: inherit;">
                                                <input type="checkbox"
                                                    ng-model="x.terca" />
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td class="align-middle">
                                            <label class="switch" style="margin-right: inherit;">
                                                <input type="checkbox"
                                                    ng-model="x.quarta" />
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td class="align-middle">
                                            <label class="switch" style="margin-right: inherit;">
                                                <input type="checkbox"
                                                    ng-model="x.quinta" />
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td class="align-middle">
                                            <label class="switch" style="margin-right: inherit;">
                                                <input type="checkbox"
                                                    ng-model="x.sexta" />
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td class="align-middle">
                                            <label class="switch" style="margin-right: inherit;">
                                                <input type="checkbox"
                                                    ng-model="x.sabado" />
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-ms-12 col-xs-12 botao-baixo" style="text-align: right;">
                    <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                        ng-click="salvarAgenda()">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>