<div ng-include src="'./components/dashboard.html'"></div>

<div class="betL_container">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>CADASTRO DE BANCAS</h5>
                <hr>
            </div>
            
            <!-- FORM -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <form class="form-cadastro form-group row betL_usuario_form">
                    
                    <div class='col-md-3 betL_usuario_boxCampo' ng-init="listarNomesBancas()">
                        <label for="comboBanca">Banca: &nbsp;</label>
                        <select class="form-control" ng-model="comboBanca" id="comboBanca" 
                            style="width: 100% !important;">                             
                            <option value=""> Selecione</option>
                            <option ng-repeat="x in nomesBancas" value="{{x.cod_extracao}}">
                                {{ x.nome_banca }}
                            </option>
                        </select>
                    </div>

                    <div class='col-md-3 betL_usuario_boxCampo'>
                        <input type="hidden" ng-model="cod_extracao">
                        <label for="edtHora">Hora da Extração:</label>
                        <input class="form-control timepicker" type="text" id="edtHora" ng-model="edtHora">
                    </div>

                    <div class="col-md-3 betL_usuario_boxCampo botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_usuario_salvar" ng-click="salvar()">Salvar</button>
                    </div>

                </form>
            </div>
            <div class="col-md-12 col-ms-12 col-xs-12">
                <form class="form-cadastro form-group row betL_usuario_form">             
                    <div class='col-md-1 betL_usuario_boxCampo'>
                        <label for="edtCheckDomingo">Domingo:</label>
                        <diV class='betL_conf_input_box'>
                            <label class="switch" style="margin-right: inherit;">
                                <input type="checkbox" id="edtCheckDomingo"  ng-model="edtCheckDomingo" />
                                <span class="slider round"></span>
                            </label>
                        </diV>
                    </div>

                    <div class='col-md-1 betL_usuario_boxCampo'>
                        <label for="edtCheckSegunda">Segunda:</label>
                        <diV class='betL_conf_input_box'>
                            <label class="switch" style="margin-right: inherit;">
                                <input type="checkbox" id="edtCheckSegunda"  ng-model="edtCheckSegunda" />
                                <span class="slider round"></span>
                            </label>
                        </diV>
                    </div>
                    
                    <div class='col-md-1 betL_usuario_boxCampo'>
                        <label for="edtCheckTerca">Terça:</label>
                        <diV class='betL_conf_input_box'>
                            <label class="switch" style="margin-right: inherit;">
                                <input type="checkbox" id="edtCheckTerca"  ng-model="edtCheckTerca" />
                                <span class="slider round"></span>
                            </label>
                        </diV>
                    </div>
                    
                    <div class='col-md-1 betL_usuario_boxCampo'>
                        <label for="edtCheckQuarta">Quarta:</label>
                        <diV class='betL_conf_input_box'>
                            <label class="switch" style="margin-right: inherit;">
                                <input type="checkbox" id="edtCheckQuarta"  ng-model="edtCheckQuarta" />
                                <span class="slider round"></span>
                            </label>
                        </diV>
                    </div>
                    
                    <div class='col-md-1 betL_usuario_boxCampo'>
                        <label for="edtCheckQuinta">Quinta:</label>
                        <diV class='betL_conf_input_box'>
                            <label class="switch" style="margin-right: inherit;">
                                <input type="checkbox" id="edtCheckQuinta"  ng-model="edtCheckQuinta" />
                                <span class="slider round"></span>
                            </label>
                        </diV>
                    </div>
                    
                    <div class='col-md-1 betL_usuario_boxCampo'>
                        <label for="edtCheckSexta">Sexta:</label>
                        <diV class='betL_conf_input_box'>
                            <label class="switch" style="margin-right: inherit;">
                                <input type="checkbox" id="edtCheckSexta"  ng-model="edtCheckSexta" />
                                <span class="slider round"></span>
                            </label>
                        </diV>
                    </div>
                    
                    <div class='col-md-1 betL_usuario_boxCampo'>
                        <label for="edtCheckSabado">Sábado:</label>
                        <diV class='betL_conf_input_box'>
                            <label class="switch" style="margin-right: inherit;">
                                <input type="checkbox" id="edtCheckSabado"  ng-model="edtCheckSabado" />
                                <span class="slider round"></span>
                            </label>
                        </diV>
                    </div>
                </form>
            </div>            

            <!-- TABLE -->
            <form class="form-cadastro betL_conf_form" ng-controller="agendaBotCtrl as ctrl">
                <div class="form-row">
                    <div class="col-md-12 col-ms-12 col-xs-12">
                        <div class="table-responsive betL_verBilheteList" ng-init="listarBancas()">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="align-middle" scope="col">Nome da Banca</th>
                                        <th class="align-middle" scope="col">Endpoint</th>
                                        <th class="align-middle" scope="col">Horario</th>
                                        <th class="align-middle" scope="col">Domingo</th>
                                        <th class="align-middle" scope="col">Segunda</th>
                                        <th class="align-middle" scope="col">Terça</th>
                                        <th class="align-middle" scope="col">Quarta</th>
                                        <th class="align-middle" scope="col">Quinta</th>
                                        <th class="align-middle" scope="col">Sexta</th>
                                        <th class="align-middle" scope="col">Sábado</th>
                                        <th class="align-middle" scope="col">Editar</th>
                                        <th class="align-middle" scope="col">Excluir</th>
                                    </tr>
                                </thead>
                                <tbody class="container">
                                    <tr ng-repeat="x in records">
                                        <th class="align-middle">{{ x.nome_banca}} </th>
                                        <td class="align-middle">{{ x.endpoint}}</td>
                                        <td class="align-middle">{{ x.hora}}</td>
                                        <td class="align-middle" ng-if="x.domingo == 'SIM'" style="color: green">{{ x.domingo}}</td>
                                        <td class="align-middle" ng-if="x.domingo != 'SIM'" style="color: red">{{ x.domingo}}</td>
                                        <td class="align-middle" ng-if="x.segunda == 'SIM'" style="color: green">{{ x.segunda}}</td>
                                        <td class="align-middle" ng-if="x.segunda != 'SIM'" style="color: red">{{ x.segunda}}</td>
                                        <td class="align-middle" ng-if="x.terca == 'SIM'" style="color: green">{{ x.terca}}</td>
                                        <td class="align-middle" ng-if="x.terca != 'SIM'" style="color: red">{{ x.terca}}</td>
                                        <td class="align-middle" ng-if="x.quarta == 'SIM'" style="color: green">{{ x.quarta}}</td>
                                        <td class="align-middle" ng-if="x.quarta != 'SIM'" style="color: red">{{ x.quarta}}</td>
                                        <td class="align-middle" ng-if="x.quinta == 'SIM'" style="color: green">{{ x.quinta}}</td>
                                        <td class="align-middle" ng-if="x.quinta != 'SIM'" style="color: red">{{ x.quinta}}</td>
                                        <td class="align-middle" ng-if="x.sexta == 'SIM'" style="color: green">{{ x.sexta}}</td>
                                        <td class="align-middle" ng-if="x.sexta != 'SIM'" style="color: red">{{ x.sexta}}</td>
                                        <td class="align-middle" ng-if="x.sabado == 'SIM'" style="color: green">{{ x.sabado}}</td>
                                        <td class="align-middle" ng-if="x.sabado != 'SIM'" style="color: red">{{ x.sabado}}</td>                                        
                                        <td>
                                            <button class="btn betL_BTN betL_BTN_icon betL_BTN_mRight" alt="Alterar" ng-click="alterar(x)"
                                                data-toggle="tooltip" data-placement="top" title="Alterar">
                                                <i class="fas fa-pen"></i>
                                                <!--Alterar-->
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir" alt="Excluir" ng-click="excluir(x.cod_extracao, x.hora)"
                                                data-toggle="tooltip" data-placement="top" title="Excluir">
                                                <i class="far fa-trash-alt"></i>
                                                <!--Excluir-->
                                            </button>
                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>