<!--<div ng-include src="'./components/dashboard.html'"></div>
<div ng-controller="gerenciarJogosAdmCtrl as ctrl" class="betL_container">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-sm-12 col-xs-12 col-12">
                <h5>GERENCIAR JOGOS</h5>
                <hr>
            </div>

           
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro form-group row betL_jogos_form">
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <button type="button" class="btn betL_BTN" ng-click="criarJogos()">Criar jogos até o sábado</button>
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <button type="button" class="btn betL_BTN" ng-click="bloquear(0)">Bloquear Jogos </button>
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <button type="button" class="btn betL_BTN" ng-click="bloquear(1)">Bloquear Jogos (De ontem pra trás) </button>
                    </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                            <button type="button" class="btn betL_BTN" ng-click="carregarResultados()">Carregar os resultados</button>
                        </div>
                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <button type="button" class="btn betL_BTN" ng-click="processarResultados()">Processar os
                            Ganhadores</button>
                    </div>

                    <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                        <button type="button" class="btn betL_BTN" ng-click="processarCodJogo9999()">NÃO USAR (SABATA)</button>
                    </div> 

            </div>
            </form>
        </div>
    </div>
</div>

</div>-->