<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="auditoriaCtrl" class="betL_container">
    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>AUDITORIA</h5>
                <hr>
            </div>

            <div class="col-md-12 col-ms-12 col-xs-12">
                <form class="form-cadastro form-group row" ng-init="getUsuarios(); getOperacoes()">
                    <div class='form-row'>
                        <div class='col-xs-2 betL_CaixaFormSelect'>
                            <div>
                                <label for="comboOperacoes">Operação:</label>
                            </div>
                            <select class="form-control betL_Width_SelectConcurso" ng-model="comboOperacoes"
                                id="comboOperacoes">
                                <option value="" selected> Todos </option>
                                <option ng-repeat="x in operacoes" value="{{x.cod_operacao}}">
                                    {{ x.txt_descricao }}
                                </option>
                            </select>
                        </div>
                        <div class='col-xs-2 betL_CaixaFormSelect'>
                            <div>
                                <label for="comboUsuarios">Usuário:</label>
                            </div>
                            <select class="form-control betL_Width_SelectConcurso" ng-model="comboUsuarios"
                                id="comboUsuarios"
                                ng-options="x.cod_usuario as x.nome_usuario group by getPerfilUsuario(x.perfil_usuario) 
                                for x in usuarios">
                                <option value="" selected> Todos </option>
                            </select>
                        </div>
                        <div class='col-xs-2 betL_CaixaFormSelect'>
                            <label for="edtDataDe">Período De: &nbsp;</label>
                            <input type="date" min="2019-01-01" id="edtDataDe" placeholder="Data" ng-model="edtDataDe"
                                class="form-control" />
                        </div>
                        <div class='col-xs-2 betL_CaixaFormSelect'>
                            <label for="edtDataAte">Período Ate: &nbsp;</label>
                            <input type="date" min="2019-01-01" id="edtDataAte" placeholder="Data" ng-model="edtDataAte"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                            ng-click="pesquisarLogsAuditoria()">
                            Pesquisar
                        </button>
                    </div>
                    
                </form>
            </div>
            <!-- TABLE -->
            <div class="col-md-12 col-sm-12 col-xs-12"
                style="margin-top: 50px;">
                <dir-pagination-controls class="paginator" direction-links="true" boundary-links="true"
                    on-page-change="alterarPagina(newPageNumber)" id="dir-paginator-top" max-size="5">
                </dir-pagination-controls>
                <div class="table-responsive betL_verBilheteList">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="sortTable('OPERACAO')">Operação</a></th>
                                <th class="align-middle" scope="col"><a href=""
                                        ng-click="sortTable('USUARIO')">Usuário</a></th>
                                <th class="align-middle" scope="col">Perfil</th>
                                <th class="align-middle" scope="col"><a href="" ng-click="sortTable('DATA')">Data </a>
                                </th>
                                <th class="align-middle" scope="col">Descrição</th>
                                <th class="align-middle" scope="col">Ip</th>
                            </tr>
                        </thead>
                        <tbody class="container" id="conteudoTabela">
                            <tr dir-paginate="x in records | itemsPerPage: itensPorPagina" total-items="totalItens"
                                current-page="paginacao.atual">
                                <td class="align-middle">{{ x.operacao }}</td>
                                <td class="align-middle">{{ x.nome_usuario }} </td>
                                <td class="align-middle">{{ getPerfilUsuario(x.perfil_usuario) }}</td>
                                <td class="align-middle">{{ x.data_auditoria }}</td>
                                <td class="align-middle">
                                    <div ng-if="x.operacao == 'ADMIN CONTA PRESTADA'">
                                        Para visualizar conta, clique <a href=""
                                            ng-click="export(x.cod_auditoria)">aqui!</a>
                                    </div>
                                    <div ng-if="!(x.operacao == 'ADMIN CONTA PRESTADA')"
                                        ng-bind-html="x.auditoria | renderHTMLCorrectly"></div>
                                </td>
                                <td class="align-middle">{{x.ip}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls class="paginator" direction-links="true" boundary-links="true"
                        on-page-change="alterarPagina(newPageNumber)" id="dir-paginator-bottom" max-size="5">
                    </dir-pagination-controls>
                </div>
            </div>
            <div ng-show="consulta && records.length == 0" class="col-md-12 col-sm-12 col-xs-12"
            style="text-align: center;">
            <p>Nenhum registro de auitoria encontrado para esta pesquisa!</p>
        </div>
        </div>
    </div>
</div>