<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="caixaCtrl as ctrl" class="betL_container betL_caixa" >

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>CAIXA</h5>
                <hr>
            </div>

            <!-- FORM -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro row" ng-init="getJogos(); getCambistas()">
                    
                    <div class='col-12 col-md-6 col-lg-3 betL_CaixaFormSelect'>
                        <div class="form-group">
                            <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                            <select class="form-control" ng-model="comboTipoJogo" id="comboTipoJogo"
                                style="width: 100% !important">
                                <option value="" selected> Todos </option>
                                <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                                    {{ x.nome }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class='col-12 col-md-6 col-lg-3 betL_CaixaFormSelect'>
                        <div class="form-group">
                            <label for="comboConcurso">Concurso:</label>
                            <br>
                            <select class="form-control betL_Width_SelectConcurso" ng-model="comboConcurso" 
                                id="comboConcurso" style="width: 100% !important">
                                <option value="" selected> Todos </option>
                                <option ng-repeat="x in jogos| orderBy:'-data_jogo' | filter: filterByTipo" 
                                    value="{{x.cod_jogo}}">{{ x.data_jogo | date: 'dd/MM/yyyy'}} - 
                                    {{getDescricaoConcurso(x)}}
                                    TIPO: {{ getDescricaoTipoJogo(x.tipo_jogo)}}</option>
                            </select>
                        </div>
                    </div>                    
                    
                    <div class='col-12 col-md-6 col-lg-2 betL_CaixaFormSelect'  ng-show="perfil != 'C'">
                        <label for="comboStatus">Status: &nbsp;</label>
                        <select class="form-control" ng-model="comboStatus" id="comboStatus"
                            style="width: 100% !important">
                            <option value="" selected> Todos </option>
                            <option value="L"> Liberado </option>
                            <option value="B"> Bloqueado </option>
                            <option value="P"> Processado </option>
                        </select>
                    </div>                

                    <div ng-class="perfil != 'C' 
                                        ? 'col-12 col-md-6 col-lg-2 betL_CaixaFormSelect' 
                                        : 'col-12 col-md-6 col-lg-3 betL_CaixaFormSelect'">  
                        <div class="form-group">
                            <label for="edtDataDe">Período De: &nbsp;</label>
                            <input type="date" min="2019-01-01" id="edtDataDe" placeholder="Data" 
                                ng-model="edtDataDe" class="form-control" style="width: 100% !important"
                                ng-change="ajustaDataFimPeriodo()" />
                        </div>
                    </div>

                    <div ng-class="perfil != 'C' 
                                        ? 'col-12 col-md-6 col-lg-2 betL_CaixaFormSelect' 
                                        : 'col-12 col-md-6 col-lg-3 betL_CaixaFormSelect'"> 
                        <div class="form-group">
                            <label for="edtDataAte">Período Ate: &nbsp;</label>
                            <input type="date" min="2019-01-01" id="edtDataAte" placeholder="Data" 
                                ng-model="edtDataAte" class="form-control" style="width: 100% !important" />
                        </div>
                    </div>                    
                </form>          
            </div>    
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro form-group row">

                    <div class='col-12 col-md-6 col-lg-3 betL_CaixaFormSelect' ng-show="perfil != 'C'">
                        <label for="comboCambista" ng-show="perfil == 'G'">Cambista:</label>
                        <label for="comboCambista" ng-show="perfil == 'A'">Gerente:</label>
                        <br>
                        <select class="form-control" ng-model="comboCambista" id="comboCambista"
                            style="width: 100% !important">
                            <option value="" selected>Todos</option>
                            <option ng-repeat="x in cambistas" value="{{x.cod_usuario}}">{{x.nome}}</option>
                        </select>
                    </div>

                    <div class='col-12 col-md-6 col-lg-3 betL_CaixaFormSelect'  ng-show="perfil == 'C'">
                        <label for="comboStatus">Status: &nbsp;</label>
                        <select class="form-control" ng-model="comboStatus" id="comboStatus"
                            style="width: 100% !important">
                            <option value="" selected> Todos </option>
                            <option value="L"> Liberado </option>
                            <option value="B"> Bloqueado </option>
                            <option value="P"> Processado </option>
                        </select>
                    </div>                      

                    <div class='col-12 col-md-6 col-lg-2 betL_jogos_boxCampo mt-3'>
                        <label for="chkExibirFinalizados" >Exibir Finalizados: &nbsp;</label>
                        <label class="switch" style="margin-top: 5px;">
                            <input type="checkbox" ng-model="chkExibirFinalizados" id="chkExibirFinalizados" 
                                ng-click="exibirFinalizados()" />
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class='col-12 col-md-6 col-lg-2 betL_jogos_boxCampo mt-3' ng-show="perfil != 'C'">
                        <label for="chkExibirLancamentos" >Exibir Lançamentos: &nbsp;</label>
                        <label class="switch" style="margin-top: 5px;">
                            <input type="checkbox" ng-model="chkExibirLancamentos" id="chkExibirLancamentos" 
                                ng-click="exibirLancamentos()" />
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div ng-if="perfil != 'C'" class='col-12 col-md-6 col-lg-2 betL_jogos_boxCampo mt-3'>
                        <label for="chkRelatorioSintetico" >Relatório Sintético: &nbsp;</label>
                        <label class="switch" style="margin-top: 5px;">
                            <input type="checkbox" ng-model="chkRelatorioSintetico" 
                            id="chkRelatorioSintetico" ng-click="exibirRelatorioSintetico()"/>
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="col-12 col-md-3 col-lg-2 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar" 
                            ng-click="pesquisar()" >
                            Pesquisar
                        </button>
                    </div>

                    <div class="col-12 col-md-3 col-lg-2 botao-baixo">
                        <div style="display: flex;align-items: center;justify-content: space-evenly;">
                            <span ng-class="{'first-choice': !eh_pdf}" class="first-choice">XLS</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="eh_pdf" ng-change="alteraTipoRelatorio()" 
                                    class="ng-pristine ng-untouched ng-valid">
                                <span class="slider2 round slider-choice"></span>
                            </label>
                            <span ng-class="{'second-choice': eh_pdf}" class="second-choice">PDF</span>
                        </div>      
                    </div>           

                    <div class="col-12 col-md-3 col-lg-2 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                            ng-click="gerarRelatorioCaixa()">
                            Gerar Relatório
                        </button>
                    </div>                 
                </form>
            </div>

            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="flex-column align-items-center justify-content-center mb-4 ml-auto mr-auto visible-grid"
                    ng-class="isExibirGrids ? 'border-color-isgrid' : ''">
                    <label for="exibirGrids" >
                        <i class="fa fa-list-alt" id="icon-grid" aria-hidden="true"></i>
                    </label>
                    <label class="switch">
                        <input type="checkbox" ng-model="isExibirGrids" id="exibirGrid" ng-click="exibirGrids()"/>
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12" style="margin-bottom: 0px;">
                    <h5 style="margin-bottom: 10px; margin-top: 5px; font-size: 18px;">Apostas</h5>
                </div>            
    
                <div ng-if="consulta && records.length == 0" class="d-flex justify-content-center align-items-center p-3 mt-3" id="semDados">
                    <div ng-show="!loading">
                        <span class="mr-2">Sem Dados</span>
                        <i class="fa fa-thumbs-down ml-4"></i>
                    </div>
                    <div ng-show="loading">
                        <i class="fa fa-spinner fa-spin"></i>
                        <span class="mr-2">Carregando</span>
                    </div>
                </div> 
                <div class="paginacao-mobile">
                    <dir-pagination-controls
                        class="paginator"
                        direction-links="true"
                        boundary-links="true"
                        on-page-change="alterarPagina(newPageNumber)"
                        id="dir-paginator-top"
                        max-size="5"
                        pagination-id="apostas">
                    </dir-pagination-controls>
                </div>
                <div class="table-responsive betL_CaixaList" ng-class="isExibirGrids ? 'table-card' : ''">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th ng-if="exibirColuna" class="align-middle" scope="col">Concurso</th>
                                <th ng-if="exibirColuna" class="align-middle" scope="col"><a href="" ng-click="orderFilter('data_jogo')">Data</a></th>
                                <th ng-if="exibirColuna" class="align-middle" scope="col">Status</th>
                                <th ng-if="exibirColuna" class="align-middle" scope="col">Tipo de Jogo</th>
                                <th class="align-middle" scope="col" ng-if="perfil == 'G'">Cambista</th>
                                <th class="align-middle" scope="col" ng-if="perfil == 'A'">Gerente</th>
                                <th class="align-middle" scope="col">Qtd. Apostas</th>

                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('entradas')">Entradas
                                    </a></th> 
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('saidas')">Saídas </a></th>
                                <th class="align-middle" scope="col">Comissão</th>
                                <th class="align-middle" scope="col" ng-if="perfil != 'C'">Comissão Gerente</th>
                                <th class="align-middle" scope="col"><a href="" ng-click="orderFilter('saldo')">Saldo </a></th>
                            </tr>
                        </thead>
                        
                        <tbody class="container" id="conteudoTabela">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <tr dir-paginate="x in records| itemsPerPage: itensPorPagina"
                            total-items="totalItens" current-page="paginacao.atual"
                            pagination-id="apostas">
                                <td ng-if="exibirColuna"><span style="font-weight: bold;">{{ x.concurso}}</span> </td>
                                <td ng-if="exibirColuna"><span>{{ x.data_jogo }}</span></td>
                                <td ng-if="exibirColuna"><span>{{ getDescricaoStatus(x.tp_status) }}</span></td>
                                <td ng-if="exibirColuna"><span>{{ getDescricaoTipoJogo(x.tipo_jogo)}}</span></td>
                                <td ng-if="perfil != 'C'"><span>{{ x.nome}}</span></td>
                                <td><span>{{ x.qtd_apostas}}</span></td>
                                <td><span>{{ x.entradas | currency:"R$ " }}</span></td>
                                <td><span>{{ x.saidas | currency:"R$ " }}</span></td>
                                <td><span>{{ x.comissao | currency:"R$ " }}</span></td>
                                <td ng-if="perfil != 'C'"><span>{{ x.comissao_gerente | currency:"R$ " }}</span></td>
                                <td>
                                    <div ng-style="{ 'color' : (x.saldo >= 0) ? 'green' : 'red' }"> <span>{{ x.saldo | currency:"R$ "}}</span></div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="mostrarFooterTabela && records.length != 0" ng-class="isExibirGrids ? 'table-card-footer' : ''">
                            <tr>
                                <td ng-if="exibirColuna">&nbsp;</td>
                                <td ng-if="exibirColuna">&nbsp;</td>
                                <td ng-if="exibirColuna">&nbsp;</td>
                                <td ng-if="exibirColuna">&nbsp;</td>
                                <td ng-if="perfil != 'C'">&nbsp;</td>
                                <td><span>{{ totalizador.apostas }}</span></td>
                                <td><span>{{ totalizador.entradas | currency:"R$ "}}</span></td>
                                <td><span>{{ totalizador.saidas | currency:"R$ "}}</span></td>
                                <td><span>{{ totalizador.comissao | currency:"R$ "}}</span></td>
                                <td ng-if="perfil != 'C' && totalizador.comissao_gerente >= 0"><span>{{ totalizador.comissao_gerente | currency:"R$ "}}</span></td>
                                <td ng-if="perfil != 'C' && totalizador.comissao_gerente < 0"><span>{{ '0' | currency:"R$ "}}</span></td>
                                
                                <td ng-if="perfil == 'C' || totalizador.comissao_gerente >= 0" ng-style="{ 'color' : (totalizador.saldo >= 0) ? 'green' : 'red' }"><span>{{ totalizador.saldo | currency:"R$ "}}</span></td>
                                <td ng-if="perfil != 'C' && totalizador.comissao_gerente < 0" ng-style="{ 'color' : (totalizador.saldo_par >= 0) ? 'green' : 'red' }"><span>{{ totalizador.saldo_par | currency:"R$ "}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="paginacao-mobile">
                        <dir-pagination-controls
                            class="paginator"
                            direction-links="true"
                            boundary-links="true"
                            on-page-change="alterarPagina(newPageNumber)"
                            id="dir-paginator-bottom"
                            max-size="5"
                            pagination-id="apostas">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
            
            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12" ng-show="chkExibirLancamentos && perfil != 'C'" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12" ng-show="chkExibirLancamentos && perfil != 'C'" style="margin-bottom: 0px;">
                    <h5 style="margin-bottom: 10px; margin-top: 5px; font-size: 18px;">Lançamentos</h5>
                </div> 
                <div ng-if="consulta && lancamentos.length == 0" class="d-flex justify-content-center align-items-center p-3 mt-3" id="semDados">
                    <div ng-show="!loading">
                        <span class="mr-2">Sem Dados</span>
                        <i class="fa fa-thumbs-down ml-4"></i>
                    </div>
                    <div ng-show="loading">
                        <i class="fa fa-spinner fa-spin"></i>
                        <span class="mr-2">Carregando</span>
                    </div>
                </div> 
                <div class="paginacao-mobile">
                    <dir-pagination-controls
                        class="paginator"
                        direction-links="true"
                        boundary-links="true"
                        on-page-change="alterarPaginaLancamentos(newPageNumber)"
                        id="dir-paginator-top-lancamentos"
                        max-size="5"
                        pagination-id="lancamentos">
                    </dir-pagination-controls>
                </div>                
                <div class="table-responsive betL_LancamentoList">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col">Data</th>
                                <th class="align-middle" scope="col"  ng-show="perfil == 'A'">Gerente</th>
                                <th class="align-middle" scope="col"  ng-show="perfil == 'G'">Cambista</th>
                                <th class="align-middle" scope="col">Motivo</th>
                                <th class="align-middle" scope="col">Entradas</th> 
                                <th class="align-middle" scope="col">Saídas</th>
                                <th class="align-middle" scope="col">Saldo</th>
                            </tr>
                        </thead>
                        
                        <tbody class="container" id="conteudoTabela">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <tr dir-paginate="x in lancamentos | itemsPerPage: itensPorPagina"
                            total-items="totalItensLancamentos" current-page="paginacaoLancamento.atual"
                            pagination-id="lancamentos">
                                <td><span>{{ x.data_lancamento}}</span> </td>
                                <td><span>{{ x.nome }}</span></td>
                                <td><span>{{ x.motivo}}</span></td>
                                <td><span>{{ x.entradas | currency:"R$ " }}</span></td>
                                <td><span>{{ x.saidas | currency:"R$ " }}</span></td>
                                <td>
                                    <div ng-style="{ 'color' : (x.saldo >= 0) ? 'green' : 'red' }"> <span>{{ x.saldo | currency:"R$ "}}</span></div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="mostrarFooterTabela && lancamentos.length != 0">
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><span>{{ totalizadoresLancamentos.entradas | currency:"R$ "}}</span></td>
                                <td><span>{{ totalizadoresLancamentos.saidas | currency:"R$ "}}</span></td>
                                <td ng-style="{ 'color' : (totalizadoresLancamentos.saldo >= 0) ? 'green' : 'red' }"><span>{{ totalizadoresLancamentos.saldo | currency:"R$ "}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="paginacao-mobile">
                        <dir-pagination-controls
                            class="paginator"
                            direction-links="true"
                            boundary-links="true"
                            on-page-change="alterarPaginaLancamentos(newPageNumber)"
                            id="dir-paginator-bottom-lancamentos"
                            max-size="5"
                            pagination-id="lancamentos">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>

            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12" style="margin-bottom: 0px;" 
                ng-show="chkExibirLancamentos && perfil != 'C' && lancamentos.length > 0 && records.length > 0">
                <table class="table table-hover" align="center"
                    style="width: 70%; margin-left: auto; margin-right: auto; text-align: center;">
                    <thead>
                        <tr>
                            <th class="align-middle" scope="col">TOTAL ENTRADAS</th> 
                            <th class="align-middle" scope="col">TOTAL SAÍDAS</th>
                            <th class="align-middle" scope="col">SALDO</th>
                        </tr>
                    </thead>                    
                    <tbody class="container" id="conteudoTabela">
                        <tr>
                            <td><span>{{ totalGeralEntrada | currency:"R$ "}}</span></td>
                            <td><span>{{ totalGeralSaida | currency:"R$ "}}</span></td>
                            <td>
                                <div ng-style="{ 'color' : (totalGeralSaldo >= 0) ? 'green' : 'red' }">
                                    <span>{{ totalGeralSaldo | currency:"R$ "}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>            
            </div>  
        </div>
    </div>
</div>
