<div ng-include src="'./components/menu.html'"></div>

<div class="betL_container" ng-controller="configuracaoCtrl">

    <div class="container-fluid" ng-init="carregarConfigsArea(0)">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>CONFIGURAÇÃO</h5>
                <hr>
            </div>
            <div class='col-md-6' ng-show="areas.length > 1">
                <div class="betL_conf_Box col-sm-12 col-xs-12 col-12">
                    <label for="comboAreas">Áreas:</label>
                    <select class="form-control betL_seninha_concurso_select" ng-model="comboAreas" id="comboAreas"
                        ng-change="carregarConfigsArea(this.comboAreas)">
                        <option ng-repeat="x in areas" value="{{x.cod_area}}">{{ x.nome }}</option>
                    </select>
                    </br>
                </div>
            </div>

            <div class='col-md-6' ng-show="areas.length == 1 || comboAreas != undefined">
                <div class="betL_conf_Box col-sm-12 col-xs-12 col-12">
                    <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                    <select class="form-control betL_seninha_concurso_select" ng-model="comboTipoJogo"
                        ng-change="carregarConfigsTipoJogo(this.comboAreas, this.comboTipoJogo)"
                        id="comboTipoJogo" ng-options="post.codigo as post.nome for post in tiposJogos">
                    </select>
                    </br>
                </div>
            </div>
            <!-- SENINHA -->
            <div class="col-md-12 col-ms-12 col-xs-12" ng-show="comboTipoJogo == 'S'">

                <div class="betL_conf_Border">


                    <div class="betL_conf_Box">
                        <h5>Configuração Seninha</h5>
                    </div>
                    <form class="form-cadastro betL_conf_form" ng-controller="configuracaoCtrl as ctrl">
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremioMaximo">Prêmio Máx. (R$):</label>
                                    <input type="text" id="edtPremioMaximo" placeholder="Prêmio Máximo:"
                                        ng-model="listaCfg[0].premio_maximo" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio14">Prêmio 14:</label>
                                    <input type="text" id="edtPremio14" placeholder="Prêmio 14"
                                        ng-model="listaCfg[0].premio_14" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio15">Prêmio 15:</label>
                                    <input type="text" id="edtPremio15" placeholder="Prêmio 15"
                                        ng-model="listaCfg[0].premio_15" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio16">Prêmio 16:</label>
                                    <input type="text" id="edtPremio16" placeholder="Prêmio 16"
                                        ng-model="listaCfg[0].premio_16" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio17">Prêmio 17:</label>
                                    <input type="text" id="edtPremio17" placeholder="Prêmio 17"
                                        ng-model="listaCfg[0].premio_17" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio18">Prêmio 18:</label>
                                    <input type="text" id="edtPremio18" placeholder="Prêmio 18"
                                        ng-model="listaCfg[0].premio_18" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio19">Prêmio 19:</label>
                                    <input type="text" id="edtPremio19" placeholder="Prêmio 19"
                                        ng-model="listaCfg[0].premio_19" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio20">Prêmio 20:</label>
                                    <input type="text" id="edtPremio20" placeholder="Prêmio 20"
                                        ng-model="listaCfg[0].premio_20" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio25">Prêmio 25:</label>
                                    <input type="text" id="edtPremio25" placeholder="Prêmio 25"
                                        ng-model="listaCfg[0].premio_25" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio30">Prêmio 30:</label>
                                    <input type="text" id="edtPremio30" placeholder="Prêmio 30"
                                        ng-model="listaCfg[0].premio_30" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio35">Prêmio 35:</label>
                                    <input type="text" id="edtPremio35" placeholder="Prêmio 35"
                                        ng-model="listaCfg[0].premio_35" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio40">Prêmio 40:</label>
                                    <input type="text" id="edtPremio40" placeholder="Prêmio 40"
                                        ng-model="listaCfg[0].premio_40" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarSortes">Ativar Sena da Sorte: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarSortes"
                                            ng-model="listaCfg[0].habilita_sorte" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6' ng-show="listaCfg[0].habilita_sorte == true">
                                <div class="betL_conf_input_box">
                                    <label for="edtSenadaSorte">Sena da Sorte (%):</label>
                                    <input type="text" id="edtSenadaSorte" placeholder="Sena da Sorte"
                                        ng-model="listaCfg[0].sena_sorte" class="percentualMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6' ng-show="listaCfg[0].habilita_sorte == true">
                                <div class="betL_conf_input_box">
                                    <label for="edtQuinadaSorte">Quina da Sorte (%):</label>
                                    <input type="text" id="edtQuinadaSorte" placeholder="Quina da Sorte"
                                        ng-model="listaCfg[0].quina_sorte" class="percentualMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6' ng-show="listaCfg[0].habilita_sorte == true">
                                <div class="betL_conf_input_box">
                                    <label for="edtQuadraSorte">Quadra da Sorte (%):</label>
                                    <input type="text" id="edtQuadraSorte" placeholder="Quadra da Sorte"
                                        ng-model="listaCfg[0].quadra_sorte" class="percentualMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-6 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMensagemBilhete">Msg. Bilhete:</label>
                                    <textarea maxlength="250" id="edtMensagemBilhete" placeholder="Mensagem Bilhete"
                                        ng-model="listaCfg[0].msg_bilhete" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvar(this.comboAreas)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- QUININHA -->
            <div class="col-md-12 col-ms-12 col-xs-12" ng-show="comboTipoJogo == 'Q'">
                <div class="betL_conf_Border">

                    <div class="betL_conf_Box">
                        <h5>Configuração Quininha</h5>
                    </div>

                    <form class="form-cadastro betL_conf_form" ng-controller="configuracaoCtrl as ctrl">
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremioMaximoQ">Prêmio Máx. (R$):</label>
                                    <input type="text" id="edtPremioMaximoQ" placeholder="Prêmio Máximo:"
                                        ng-model="listaCfgQuininha[0].premio_maximo"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>

                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio13">Prêmio 13:</label>
                                    <input type="text" id="edtPremio13" placeholder="Prêmio 13"
                                        ng-model="listaCfgQuininha[0].premio_13" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio14">Prêmio 14:</label>
                                    <input type="text" id="edtPremio14" placeholder="Prêmio 14"
                                        ng-model="listaCfgQuininha[0].premio_14" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio15">Prêmio 15:</label>
                                    <input type="text" id="edtPremio15" placeholder="Prêmio 15"
                                        ng-model="listaCfgQuininha[0].premio_15" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio16">Prêmio 16:</label>
                                    <input type="text" id="edtPremio16" placeholder="Prêmio 16"
                                        ng-model="listaCfgQuininha[0].premio_16" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio17">Prêmio 17:</label>
                                    <input type="text" id="edtPremio17" placeholder="Prêmio 17"
                                        ng-model="listaCfgQuininha[0].premio_17" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio18">Prêmio 18:</label>
                                    <input type="text" id="edtPremio18" placeholder="Prêmio 18"
                                        ng-model="listaCfgQuininha[0].premio_18" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio19">Prêmio 19:</label>
                                    <input type="text" id="edtPremio19" placeholder="Prêmio 19"
                                        ng-model="listaCfgQuininha[0].premio_19" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio20">Prêmio 20:</label>
                                    <input type="text" id="edtPremio20" placeholder="Prêmio 20"
                                        ng-model="listaCfgQuininha[0].premio_20" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <br>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio25">Prêmio 25:</label>
                                    <input type="text" id="edtPremio25" placeholder="Prêmio 25"
                                        ng-model="listaCfgQuininha[0].premio_25" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio30">Prêmio 30:</label>
                                    <input type="text" id="edtPremio30" placeholder="Prêmio 30"
                                        ng-model="listaCfgQuininha[0].premio_30" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio35">Prêmio 35:</label>
                                    <input type="text" id="edtPremio35" placeholder="Prêmio 35"
                                        ng-model="listaCfgQuininha[0].premio_35" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio40">Prêmio 40:</label>
                                    <input type="text" id="edtPremio40" placeholder="Prêmio 40"
                                        ng-model="listaCfgQuininha[0].premio_40" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <br>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio45">Prêmio 45:</label>
                                    <input type="text" id="edtPremio45" placeholder="Prêmio 45"
                                        ng-model="listaCfgQuininha[0].premio_45" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-6 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMensagemBilhete">Msg. Bilhete:</label>
                                    <textarea maxlength="250" id="edtMensagemBilhete" placeholder="Mensagem Bilhete"
                                        ng-model="listaCfgQuininha[0].msg_bilhete" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarSortes">Ativar Quina da Sorte: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarSortes"
                                            ng-model="listaCfgQuininha[0].habilita_sorte" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'
                                ng-show="listaCfgQuininha[0].habilita_sorte == true">
                                <div class="betL_conf_input_box">
                                    <label for="edtQuinadaSorte">Quina da Sorte (%):</label>
                                    <input type="text" id="edtQuinadaSorte" placeholder="Quina da Sorte"
                                        ng-model="listaCfgQuininha[0].quina_sorte"
                                        class="percentualMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'
                                ng-show="listaCfgQuininha[0].habilita_sorte == true">
                                <div class="betL_conf_input_box">
                                    <label for="edtQuadraSorte">Quadra da Sorte (%):</label>
                                    <input type="text" id="edtQuadraSorte" placeholder="Quadra da Sorte"
                                        ng-model="listaCfgQuininha[0].quadra_sorte"
                                        class="percentualMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'
                                ng-show="listaCfgQuininha[0].habilita_sorte == true">
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoSorte">Terno da Sorte (%):</label>
                                    <input type="text" id="edtTernoSorte" placeholder="Terno da Sorte"
                                        ng-model="listaCfgQuininha[0].terno_sorte"
                                        class="percentualMask form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvarQuininha(comboAreas)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- LOTINHA -->
            <div class="col-md-12 col-ms-12 col-xs-12" ng-show="comboTipoJogo == 'L'">
                <div class="betL_conf_Border">

                    <div class="betL_conf_Box">
                        <h5>Configuração Lotinha</h5>
                    </div>

                    <form class="form-cadastro betL_conf_form" ng-controller="configuracaoCtrl as ctrl">
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremioMaximoQ">Prêmio Máx. (R$):</label>
                                    <input type="text" id="edtPremioMaximoQ" placeholder="Prêmio Máximo:"
                                        ng-model="listaCfgLotinha[0].premio_maximo"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>

                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio13">Prêmio 16:</label>
                                    <input type="text" id="edtPremio16" placeholder="Prêmio 16"
                                        ng-model="listaCfgLotinha[0].premio_16" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio17">Prêmio 17:</label>
                                    <input type="text" id="edtPremio17" placeholder="Prêmio 17"
                                        ng-model="listaCfgLotinha[0].premio_17" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio18">Prêmio 18:</label>
                                    <input type="text" id="edtPremio18" placeholder="Prêmio 18"
                                        ng-model="listaCfgLotinha[0].premio_18" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio19">Prêmio 19:</label>
                                    <input type="text" id="edtPremio19" placeholder="Prêmio 19"
                                        ng-model="listaCfgLotinha[0].premio_19" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio20">Prêmio 20:</label>
                                    <input type="text" id="edtPremio20" placeholder="Prêmio 20"
                                        ng-model="listaCfgLotinha[0].premio_20" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <br>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio25">Prêmio 21:</label>
                                    <input type="text" id="edtPremio21" placeholder="Prêmio 21"
                                        ng-model="listaCfgLotinha[0].premio_21" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremio30">Prêmio 22:</label>
                                    <input type="text" id="edtPremio22" placeholder="Prêmio 22"
                                        ng-model="listaCfgLotinha[0].premio_22" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-6 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMensagemBilhete">Msg. Bilhete:</label>
                                    <textarea maxlength="250" id="edtMensagemBilhete" placeholder="Mensagem Bilhete"
                                        ng-model="listaCfgLotinha[0].msg_bilhete" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvarLotinha(comboAreas)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- CONFIGURAÇÃO BICHO-->

            <div class="col-md-12 col-ms-12 col-xs-12" ng-show="comboTipoJogo == 'B'">
                <div class="betL_conf_Border">

                    <div class="betL_conf_Box">
                        <h5>Configuração Bicho</h5>
                    </div>

                    <form class="form-cadastro betL_conf_form" ng-controller="configuracaoCtrl as ctrl">
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMilharSeca">Milhar Seca:</label>
                                    <input type="text" id="edtMilharSeca" placeholder="Milhar Seca"
                                        ng-model="listaCfgBicho[0].premio_milhar_seca"
                                        ng-change="calcularMilharCentena()"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMilharInvertida">Milhar Invertida:</label>
                                    <md-button ng-click="showHelp('MI')" class="md-icon-button help-button">
                                        <md-icon md-font-set="material-icons">help</md-icon>
                                    </md-button>
                                    <input disabled type="text" id="edtMilharInvertida" placeholder="Milhar Invertida"
                                        ng-model="listaCfgBicho[0].premio_milhar_seca"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtCentena">Centena</label>
                                    <input type="text" id="edtCentena" placeholder="Centena"
                                        ng-model="listaCfgBicho[0].premio_centena" 
                                        ng-change="calcularMilharCentena()" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtCentenaInvertida">Centena Invertida:</label>
                                    <md-button ng-click="showHelp('CI')" class="md-icon-button help-button">
                                        <md-icon md-font-set="material-icons">help</md-icon>
                                    </md-button>
                                    <input disabled type="text" id="edtCentenaInvertida" placeholder="Centena Invertida"
                                        ng-model="listaCfgBicho[0].premio_centena" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label class="help" for="edtMilharCentena">Milhar com Centena:</label>  
                                    <md-button ng-click="showHelp('MC')" class="md-icon-button help-button">
                                        <md-icon md-font-set="material-icons">help</md-icon>
                                    </md-button>
                                    <input disabled type="text" id="edtMilharCentena" placeholder="Milhar e Centena:"
                                        ng-model="listaCfgBicho[0].premio_milhar_centena"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMilharCentenaInvertida">Milhar com Centena Invertida:</label>
                                    <md-button ng-click="showHelp('MCI')" class="md-icon-button help-button">
                                        <md-icon md-font-set="material-icons">help</md-icon>
                                    </md-button>
                                    <input disabled type="text" id="edtMilharCentenaInvertida" placeholder="Milhar e Centena:"
                                        ng-model="listaCfgBicho[0].premio_milhar_centena"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtGrupo">Grupo:</label>
                                    <input type="text" id="edtGrupo" placeholder="Grupo"
                                        ng-model="listaCfgBicho[0].premio_grupo" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtDuqueGrupo">Duque de Grupo 1 / 5:</label>
                                    <input type="text" id="edtDuqueGrupo" placeholder="Duque de Grupo 1 / 5"
                                        ng-model="listaCfgBicho[0].premio_duque_grupo"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtDuqueGrupo6">Duque de Grupo 6 / 10:</label>
                                    <input type="text" id="edtDuqueGrupo6" placeholder="Duque de Grupo 6 / 10"
                                        ng-model="listaCfgBicho[0].premio_duque_grupo6"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoGrupo">Terno de Grupo 1 / 5:</label>
                                    <input type="text" id="edtTernoGrupo" placeholder="Terno de Grupo 1 / 5"
                                        ng-model="listaCfgBicho[0].premio_terno_grupo"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoGrupo6">Terno de Grupo 6 / 10:</label>
                                    <input type="text" id="edtTernoGrupo6" placeholder="Terno de Grupo 6 / 10"
                                        ng-model="listaCfgBicho[0].premio_terno_grupo6"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoGrupo10">Terno de Grupo 1 / 10:</label>
                                    <input type="text" id="edtTernoGrupo10" placeholder="Terno de Grupo 1 / 10"
                                        ng-model="listaCfgBicho[0].premio_terno_grupo10"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoSequencia">Terno de Sequencia:</label>
                                    <input type="text" id="edtTernoSequencia" placeholder="Terno de Sequência"
                                        ng-model="listaCfgBicho[0].premio_terno_sequencia"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoSoma">Terno de Soma:</label>
                                    <input type="text" id="edtTernoSoma" placeholder="Terno de Soma"
                                        ng-model="listaCfgBicho[0].premio_terno_soma"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoEspecial">Terno Especial (Aberto e Fechado):</label>
                                    <input type="text" id="edtTernoEspecial" placeholder="Terno Especial"
                                        ng-model="listaCfgBicho[0].premio_terno_especial"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtQuinaGrupo">Quina de Grupo:</label>
                                    <input type="text" id="edtQuinaGrupo" placeholder="Quina de Grupo"
                                        ng-model="listaCfgBicho[0].premio_quina_grupo"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtDezena">Dezena:</label>
                                    <input type="text" id="edtDezena" placeholder="Dezena"
                                        ng-model="listaCfgBicho[0].premio_dezena" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <br>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtDuqueDezena">Duque de Dezena 1 / 5:</label>
                                    <input type="text" id="edtDuqueDezena" placeholder="Duque de Dezenha 1 / 5"
                                        ng-model="listaCfgBicho[0].premio_duque_dezena"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtDuqueDezena6">Duque de Dezena 6 / 10:</label>
                                    <input type="text" id="edtDuqueDezena6" placeholder="Duque de Dezenha 6 / 10"
                                        ng-model="listaCfgBicho[0].premio_duque_dezena6"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoDezena">Terno de Dezena 1 / 5:</label>
                                    <input type="text" id="edtTernoDezena" placeholder="Terno de Dezena"
                                        ng-model="listaCfgBicho[0].premio_terno_dezena"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoDezena6">Terno de Dezena 6 / 10:</label>
                                    <input type="text" id="edtTernoDezena6" placeholder="Terno de Dezena 6 / 10"
                                        ng-model="listaCfgBicho[0].premio_terno_dezena6"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtTernoDezena10">Terno de Dezena 1 / 10:</label>
                                    <input type="text" id="edtTernoDezena10" placeholder="Terno de Dezena 1 / 10"
                                        ng-model="listaCfgBicho[0].premio_terno_dezena10"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPasseSeco">Passe Seco:</label>
                                    <input type="text" id="edtPasseSeco" placeholder="Passe Seco"
                                        ng-model="listaCfgBicho[0].premio_passe_seco"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPasseSeco12">Passe Seco 1 / 2:</label>
                                    <md-button ng-click="showHelp('PS12')" class="md-icon-button help-button">
                                        <md-icon md-font-set="material-icons">help</md-icon>
                                    </md-button>
                                    <input disabled type="text" id="edtPasseSeco12" placeholder="Passe Seco"
                                        ng-model="listaCfgBicho[0].premio_passe_seco"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPasseCombinado">Passe Combinado:</label>
                                    <input type="text" id="edtPasseCombinado" placeholder="Passe Combinado"
                                        ng-model="listaCfgBicho[0].premio_passe_combinado"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <label for="edtCheckUsaMilharBrinde">Usa Milhar Brinde:</label>
                                <div class="betL_conf_input_box">

                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="edtCheckUsaMilharBrinde"
                                            ng-model="listaCfgBicho[0].usa_milhar_brinde" />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtValorLiberarMilharBrinde">Valor p/ liberar M. Brinde :</label>
                                    <input type="text" id="edtValorLiberarMilharBrinde" placeholder="Valor Liberar MB"
                                        ng-model="listaCfgBicho[0].valor_liberar_milhar_brinde"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtRetornoMilharBrinde">Retorno Milhar Brinde:</label>
                                    <input type="text" id="edtRetornoMilharBrinde" placeholder="Retorno MB"
                                        ng-model="listaCfgBicho[0].valor_retorno_milhar_brinde"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <label for="comboConcurso">Tipos de Jogos:</label>
                                <br />
                                <md-select
                                  id="comboTiposJogosBicho"
                                  class="form-control betL_seninha_concurso_select"
                                  ng-model="tiposJogosBichoSelecionados"
                                  multiple
                                >
                                  <md-option
                                    ng-value="{{j.codigo_tipo_jogo}}"
                                    ng-repeat="j in tiposJogosBicho"
                                  >
                                    {{ j.descricao }}
                                  </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class='col-md-12 col-sm-12 col-xs-12'>
                            <div class="betL_conf_input_box">
                                <label for="edtMensagemBilhete">Msg. Bilhete:</label>
                                <textarea maxlength="250" id="edtMensagemBilhete" placeholder="Mensagem Bilhete"
                                    ng-model="listaCfgBicho[0].msg_bilhete" class="form-control">
                                </textarea>
                            </div>
                        </div>
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvarBicho(this.comboAreas)">Salvar</button>
                        </div>
                    </form>

                </div>

            </div>

            <!-- CONFIGURACAO 2 pra 500 -->

            <div class="col-md-12 col-ms-12 col-xs-12" ng-show="comboTipoJogo == '2'">
                <div class="betL_conf_Border">

                    <div class="betL_conf_Box">
                        <h5>Configuração {{desc_2pra500}}</h5>
                    </div>

                    <form class="form-cadastro betL_conf_form" ng-controller="configuracaoCtrl as ctrl">
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtValorAcumulado">Valor Acumulado:</label>
                                    <input type="text" id="edtValorAcumulado" placeholder="Valor Acumulado:"
                                        ng-model="listaCfg2pra500[0].valor_acumulado"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtValorAposta">Valor Aposta:</label>
                                    <input type="text" id="edtValorAposta" placeholder="Valor Aposta:"
                                        ng-model="listaCfg2pra500[0].valor_aposta" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtQtdNumeros">Quantidade de números:</label>
                                    <input type="number" id="edtQtdNumeros" placeholder="Quantidade de números:"
                                        ng-model="listaCfg2pra500[0].qtd_numeros" class="form-control" />
                                </div>
                            </div>
                            <div class='col-md-6 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMensagemBilhete">Msg. Bilhete:</label>
                                    <textarea maxlength="250" id="edtMensagemBilhete" placeholder="Mensagem Bilhete"
                                        ng-model="listaCfg2pra500[0].msg_bilhete" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvar2pra500(this.comboAreas)">Salvar</button>
                        </div>
                    </form>

                </div>

            </div>

             <!-- RIFA -->
             <div class="col-md-12 col-ms-12 col-xs-12" ng-show="comboTipoJogo == 'R'">
                <div class="betL_conf_Border">

                    <div class="betL_conf_Box">
                        <h5>Configuração Rifa</h5>
                    </div>

                    <form class="form-cadastro betL_conf_form" ng-controller="configuracaoCtrl as ctrl">
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtQtdRifas">Quantidade de Rifas:</label>
                                    <input type="number" id="edtQtdRifas" placeholder="Quantidade de Rifas"
                                        ng-model="listaCfgRifa[0].qtd_rifas" class="form-control" />
                                </div>
                            </div>    
                            <div class='col-md-9 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMensagemBilhete">Msg. Bilhete:</label>
                                    <textarea maxlength="250" id="edtMensagemBilhete" placeholder="Mensagem Bilhete"
                                        ng-model="listaCfgRifa[0].msg_bilhete" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvarRifa(comboAreas)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- MULTIJOGOS -->
            <div class="col-md-12 col-ms-12 col-xs-12" ng-show="comboTipoJogo == 'M'">
                <div class="betL_conf_Border">

                    <div class="betL_conf_Box">
                        <h5>Configuração Multijogos</h5>
                    </div>

                    <form class="form-cadastro betL_conf_form" ng-controller="configuracaoCtrl as ctrl">
                        <div class="form-row">
                            <div class='col-md-2 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtCartao1">Valor do 1º Cartão:</label>
                                    <input type="text" id="edtCartao1" placeholder="Valor do 1º Cartão:"
                                        ng-model="listaCfgMulti[0].valor_cartao_1" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-2 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtCartao2">Valor do 2º Cartão:</label>
                                    <input type="text" id="edtCartao2" placeholder="Valor do 2º Cartão:"
                                        ng-model="listaCfgMulti[0].valor_cartao_2" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-2 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtCartao3">Valor do 3º Cartão:</label>
                                    <input type="text" id="edtCartao3" placeholder="Valor do 3º Cartão:"
                                        ng-model="listaCfgMulti[0].valor_cartao_3" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-2 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtCartao4">Valor do 4º Cartão:</label>
                                    <input type="text" id="edtCartao4" placeholder="Valor do 4º Cartão:"
                                        ng-model="listaCfgMulti[0].valor_cartao_4" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-2 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtCartao5">Valor do 5º Cartão:</label>
                                    <input type="text" id="edtCartao5" placeholder="Valor do 5º Cartão:"
                                        ng-model="listaCfgMulti[0].valor_cartao_5" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-2 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtValorMinimo">Valor Mín. por Aposta:</label>
                                    <input type="text" id="edtValorMinimo" placeholder="Valor Mín. por Aposta:"
                                        ng-model="listaCfgMulti[0].valor_minimo_aposta" class="dinheiroMask form-control" />
                                </div>
                            </div>                            
                        </div>
                        <div class="form-row">
                            <div class='col-md-12 col-sm-6 col-xs-6'>
                                <h6>Filtros Padrão:</h6>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class='col-md-12 col-sm-6 col-xs-6'>
                                <h7>Quantidade de números para vir marcado na Seninha:</h7>
                            </div>
                        </div>
                        <div class="form-row">
                            <div ng-repeat="numSena in filtroAcertoSeninha track by $index" class='col-md-2 col-sm-6 col-xs-6'>
                                <div class="custom-control custom-checkbox mt-1 mb-1">
                                    <input type="checkbox" id="filtroAcertoSeninha{{$index}}" class="custom-control-input" ng-model="numSena.valor">
                                    <label class="custom-control-label" for="filtroAcertoSeninha{{$index}}">{{numSena.qtd}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class='col-md-12 col-sm-6 col-xs-6'>
                                <h7>Quantidade de números para vir marcado na Quininha:</h7>
                            </div>
                        </div>
                        <div class="form-row">
                            <div ng-repeat="numQuina in filtroAcertoQuininha track by $index" class='col-md-2 col-sm-6 col-xs-6'>
                                <div class="custom-control custom-checkbox mt-1 mb-1">
                                    <input type="checkbox" id="filtroAcertoQuininha{{$index}}" class="custom-control-input" ng-model="numQuina.valor">
                                    <label class="custom-control-label" for="filtroAcertoQuininha{{$index}}">{{numQuina.qtd}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class='col-md-12 col-sm-6 col-xs-6'>
                                <h7>Quantidade de números para vir marcado na Lotinha:</h7>
                            </div>
                        </div>
                        <div class="form-row">
                            <div ng-repeat="numLoto in filtroAcertoLotinha track by $index" class='col-md-1 col-sm-6 col-xs-6'>
                                <div class="custom-control custom-checkbox mt-1 mb-1">
                                    <input type="checkbox" id="filtroAcertoLotinha{{$index}}" class="custom-control-input" ng-model="numLoto.valor">
                                    <label class="custom-control-label" for="filtroAcertoLotinha{{$index}}">{{numLoto.qtd}}</label>
                                </div>
                            </div>                            
                        </div>
                        <div class="form-row">
                            <div class='col-md-12 col-sm-6 col-xs-6'>
                                <h7>Tipos de jogos para vir marcado no Jogo do Bicho:</h7>
                            </div>
                        </div>
                        <div class="form-row">
                            <div ng-repeat="tipoJogo in filtroTipoJogoBicho track by $index" class='col-md-2 col-sm-6 col-xs-6'>
                                <div class="custom-control custom-checkbox mt-1 mb-1">
                                    <input type="checkbox" id="filtroTipoJogoBicho{{$index}}" class="custom-control-input" ng-model="tipoJogo.valor">
                                    <label class="custom-control-label" for="filtroTipoJogoBicho{{$index}}">{{tipoJogo.descricao}}</label>
                                </div>
                            </div>                            
                        </div>
                        <div class="form-row">
                            <div class='col-md-6 col-sm-6 col-xs-6'>
                                <label for="comboConcursoExtracao">Concurso/Extação para vir selecionado:</label>
                                <select class="form-control betL_seninha_concurso_select" 
                                    ng-model="listaCfgMulti[0].concursos_marcados" id="comboConcursoExtracao" >
                                    <option value="R">Concurso/Extração mais recente</option>
                                    <option value="T">Todos os Concursos/Extrações disponíveis</option>
                                </select>
                            </div>                            
                        </div>                        
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvarMultiJogos(this.comboAreas)">Salvar</button>
                        </div>                                              
                    </form>
                </div>
            </div>            


            <!-- CONFIGURACAO GERAL -->
            <div class="col-md-12 col-ms-12 col-xs-12" ng-show="comboTipoJogo == 'G'">

                <div class="betL_conf_Border">


                    <div class="betL_conf_Box">
                        <h5>Configuração Geral</h5>
                    </div>
                    <form class="form-cadastro betL_conf_form" ng-controller="configuracaoCtrl as ctrl">
                        <div class="form-row">
                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarSortes">Ativar Modalidade Seninha: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarModSeninha"
                                            ng-model="listaCfgGeral[0].flg_seninha" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>

                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarSortes">Ativar Modalidade Quininha: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarModSeninha"
                                            ng-model="listaCfgGeral[0].flg_quininha" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>

                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarModLotinha">Ativar Modalidade Lotinha: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarModLotinha"
                                            ng-model="listaCfgGeral[0].flg_lotinha" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>

                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarSortes">Ativar Modalidade Bicho: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarModSeninha"
                                            ng-model="listaCfgGeral[0].flg_bicho" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>

                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarSortes">Ativar Modalidade 2 pra 500: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarModSeninha"
                                            ng-model="listaCfgGeral[0].flg_2pra500" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>

                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarModRifa">Ativar Modalidade Rifa: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarModRifa"
                                            ng-model="listaCfgGeral[0].flg_rifa" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>

                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarModRifa">Ativar Modalidade Multi Jogos: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarModMultiJogos"
                                            ng-model="listaCfgGeral[0].flg_multijogos" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>                            

                            <div class='col-md-3 col-xs-2 col-12'>
                                <label for="chkHabilitarModRifa">Ativar Modalidade Super Sena: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="chkHabilitarModSuperSena"
                                            ng-model="listaCfgGeral[0].flg_super_sena" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div> 
                        </div>
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMinutosCancelamento">Minutos Cancel.:</label>
                                    <input type="text" id="edtMinutosCancelamento" placeholder="Minutos Cancelamento"
                                        ng-model="listaCfgGeral[0].minutos_cancelamento" class="form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtValorMinimoAposta">Valor Min. Aposta (R$):</label>
                                    <input type="text" id="edtValorMinimoAposta" placeholder="Valor Min. Aposta:"
                                        ng-model="listaCfgGeral[0].valor_min_aposta"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtValorMaximoAposta">Valor Máx. Aposta (R$):</label>
                                    <input type="text" id="edtValorMaximoAposta" placeholder="Valor Máx. Aposta:"
                                        ng-model="listaCfgGeral[0].valor_max_aposta"
                                        class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6' ng-show="listaCfgGeral[0].padrao == 'S'">
                                <div class="betL_conf_input_box">
                                    <label for="comboAutomatizarPrestacao">Automatizar a Prestação de Contas:</label>
                                    <select class="form-control betL_seninha_concurso_select" 
                                        ng-model="listaCfgGeral[0].prestar_conta_automatizada"
                                        id="comboAutomatizarPrestacao">
                                        <option value="N">NÃO</option>
                                        <option value="D">TODOS OS DOMINGOS ÀS 01:30</option>
                                        <option value="S">TODAS AS SEGUNDAS ÀS 01:30</option>
                                    </select>
                                </div>
                            </div>   
                        </div>
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtNuWhatsApp">Nº do WhatsApp:</label>
                                    <input
                                        type="tel"
                                        id="edtNuWhatsApp"
                                        placeholder="(00) 00000-0000"
                                        ng-model="listaCfgGeral[0].nu_whatsapp"
                                        class="form-control"
                                    />                                        
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="comboModalidadePadrao">Modalidade Padrão no B. Virtual:</label>
                                    <select class="form-control betL_seninha_concurso_select" 
                                        ng-model="listaCfgGeral[0].modalidade_padrao_bv"
                                        id="comboModalidadePadrao">
                                        <option value=""></option>
                                        <option value="S">SENA</option>
                                        <option value="U">SUPER SENA</option>
                                        <option value="Q">QUINA</option>
                                        <option value="L">LOTOFÁCIL</option>
                                        <option value="B">BICHO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class='col-md-12 col-sm-6 col-xs-6'>
                                <h6>Impressão de Bilhete:</h6>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class='col-md-4 col-xs-2 col-12'>
                                <label for="numBilheteGrande">Números Grandes: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="numBilheteGrande"
                                            ng-model="listaCfgGeral[0].nu_bilhete_grande" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>

                            <div class='col-md-4 col-xs-2 col-12'>
                                <label for="numBilheteNegrito">Números em Negrito: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="numBilheteNegrito"
                                            ng-model="listaCfgGeral[0].nu_bilhete_negrito" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>

                            <div class='col-md-4 col-xs-2 col-12'>
                                <label for="numBilheteSublinhado">Números Sublinhados: &nbsp;</label>
                                <diV class='betL_conf_input_box'>
                                    <label class="switch" style="margin-right: inherit;">
                                        <input type="checkbox" id="numBilheteSublinhado"
                                            ng-model="listaCfgGeral[0].nu_bilhete_sublinhado" />
                                        <span class="slider round"></span>
                                    </label>
                                </diV>
                            </div>
                        </div>                        
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvarConfGeral(this.comboAreas)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- SUPER SENA -->
            <div class="col-md-12 col-ms-12 col-xs-12" ng-show="comboTipoJogo == 'U'">

                <div class="betL_conf_Border">


                    <div class="betL_conf_Box">
                        <h5>Configuração Super Sena</h5>
                    </div>
                    <form class="form-cadastro betL_conf_form" ng-controller="configuracaoCtrl as ctrl">
                        <div class="form-row">
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremioMaximo">Prêmio Máx. (R$):</label>
                                    <input type="text" id="edtPremioMaximo" placeholder="Prêmio Máximo:"
                                        ng-model="listaCfgSuperSena[0].premio_maximo" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremioSena">Prêmio Sena:</label>
                                    <input type="text" id="edtPremioSena" placeholder="Prêmio Sena"
                                        ng-model="listaCfgSuperSena[0].premio_sena" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremioQuina">Prêmio Quina:</label>
                                    <input type="text" id="edtPremioQuina" placeholder="Prêmio Quina"
                                        ng-model="listaCfgSuperSena[0].premio_quina" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-3 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtPremioQuadra">Prêmio Quadra:</label>
                                    <input type="text" id="edtPremioQuadra" placeholder="Prêmio Quadra"
                                        ng-model="listaCfgSuperSena[0].premio_quadra" class="dinheiroMask form-control" />
                                </div>
                            </div>
                            <div class='col-md-6 col-sm-6 col-xs-6'>
                                <div class="betL_conf_input_box">
                                    <label for="edtMensagemBilhete">Msg. Bilhete:</label>
                                    <textarea maxlength="250" id="edtMensagemBilhete" placeholder="Mensagem Bilhete"
                                        ng-model="listaCfgSuperSena[0].msg_bilhete" class="form-control">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="botao-baixo">
                            <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar"
                                ng-click="salvarSuperSena(this.comboAreas)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <script>
            $(document).ready(function () {
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                    $('.dinheiroMask').mask('#.##0,00', { reverse: true });
                    $('.percentualMask').mask('##0.00', { reverse: true });
                    $("#edtNuWhatsApp").mask("(00) 00000-0000");
                });
            });
        </script>

    </div>
</div>