<div ng-include src="'./components/menu.html'"></div>
<div class="betL_container">
    <div class="container-fluid">
        <div class="row">
            
            <div class=" betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>FALE CONOSCO</h5>
                <hr>
            </div>
            
            <div class="col-md-2 col-12 offset-md-3">
                <div class="card text-center betL_fl_card">
                    <div class="card-header">
                        SUPORTE
                    </div>

                    <div class="card-body">
                        <div>
                            <a href="https://api.whatsapp.com/send?phone=5581992400819&text=Olá gostaria de falar com o suporte BetLoteria!" target="_blank">
                                <img src="img/Whatsapp-256.png">
                            </a>
                            <br>
                            <span>(81) 99240-0819</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>