<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="gerenciarAreasCtrl" class="betL_container">
    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>ÁREAS</h5>
                <hr>
            </div>

            <!-- FORM -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <form class="form-cadastro form-group row betL_usuario_form">
                    <input type="hidden" ng-model="cod_area">   

                    <div class='col-md-2 col-xs-2 col-12 betL_usuario_boxCampo'>
                        <label for="edtNome">Nome:</label>
                        <input type="text" id="edtNome" placeholder="Nome" ng-model="edtNome" class="form-control" />
                    </div>
                    
                    <div class='col-md-2 col-xs-2 col-12 betL_usuario_boxCampo'>
                        <label for="edtDescricao">Descrição:</label>
                        <input type="text" id="edtDescricao" placeholder="Descrição" ng-model="edtDescricao" class="form-control" />
                    </div>

                    <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_usuario_salvar" ng-click="salvar(cod_area)">Salvar</button>
                    </div>
                    
                </form>
            </div>

            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div class="table-responsive betL_verBilheteList" ng-init="listarAreas()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 30%;" class="align-middle" scope="col">Nome</th>
                                <th style="width: 50%;" class="align-middle" scope="col">Descrição</th>
                                <th style="width: 10%;" class="align-middle" scope="col">Status</th>
                                <th style="width: 5%;" class="align-middle" scope="col">Editar</th>
                                <th style="width: 5%;" class="align-middle" scope="col">Ativar / Desativar</th>
                            </tr>
                        </thead>
                        <tbody class="container">
                            <tr ng-repeat="x in records">
                                <th class="align-middle" scope="row">{{ x.nome}} </th>
                                <td class="align-middle">{{ x.descricao}}</td>
                                <td class="align-middle">{{ getStatusArea(x.status)}}</td>
                                <td>
                                    <button class="btn betL_BTN betL_BTN_icon betL_BTN_mRight" alt="Alterar"
                                        ng-click="alterar(x)" data-toggle="tooltip" data-placement="top"
                                        title="Alterar" ng-show="x.padrao == 'N'">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                </td>                                
                                <td>
                                    <button class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir" alt="Ativar/Desativar" 
                                        ng-show="x.padrao == 'N'" ng-click="excluir(x.cod_area, x.nome, x.status)" data-toggle="tooltip"
                                        data-placement="top" title="Ativar/Desativar">
                                        <i ng-if="x.status == 'A'" class="fas fa-lock-open"></i>
                                        <i ng-if="x.status == 'I'" class="fas fa-lock"></i>
                                    </button>                                    
                                </td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>