<div ng-include src="'./components/menu.html'"></div>
<div class="betL_container">
    <div class="container-fluid betL_regulamento">
        <div class="row">
            
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>REGULAMENTO</h5>
                <hr>
            </div>
            
            <div class="col-md-6 col-ms-12 col-xs-12">
                <div class="betL_reg_Box" ng-show="site != 6506">
                    <h5> SENINHA </h5>

                    <p><i class="fas fa-caret-right"></i> Marque de 14 a 40 números dentre os 60 disponíveis;</p>
                    <p><i class="fas fa-caret-right"></i> Você será premiado se acertar os 06 números sorteados no resultado da Mega Sena para a data de sua aposta;</p>
                    <p><i class="fas fa-caret-right"></i> Seu prêmio varia de acordo com a quantidade de dezenas escolhidas e valor apostado;</p>
                    <p><i class="fas fa-caret-right"></i> Consulte sempre a cotação da faixa de premiação nos pontos de venda antes de concluir sua aposta.</p>
                    <p><i class="fas fa-caret-right"></i> Bilhetes realizados APÓS o horário do sorteio NÃO terão validade.</p>
                    <p><i class="fas fa-caret-right"></i> OBS: O sistema poderá escolher os números para você por meio de palpites aleatórios.</p>
                    <p><i class="fas fa-caret-right"></i> O prêmio só será pago mediante apresentação de bilhete.</p>
                    <p><i class="fas fa-caret-right"></i> Não serão aceitos bilhetes realizados pro concurso, após o horário de encerramento oficial da modalidade</p>
                    

                    <p><i class="fas fa-caret-right"></i> O bilhete será valido para o número do concurso apostado. Mesmo que, seja sorteado em data diferente da impressa no bilhete do apostador.</p>
                </div>
            </div>

            <div class="col-md-6 col-ms-12 col-xs-12">
                
                <div class="betL_reg_Box" ng-show="site != 6506">
                    <h5> QUININHA </h5>

                    <p><i class="fas fa-caret-right"></i> Marque de 13 a 45 números dentre os 80 disponíveis;</p>
                    <p><i class="fas fa-caret-right"></i> Você será premiado se acertar os 05 números sorteados no resultado da Quina Federal para a data de sua aposta;</p>
                    <p><i class="fas fa-caret-right"></i> Seu prêmio varia de acordo com a quantidade de dezenas escolhidas e valor apostado;</p>
                    <p><i class="fas fa-caret-right"></i> Consulte sempre a cotação da faixa de premiação nos pontos de venda antes de concluir sua aposta.</p>
                    <p><i class="fas fa-caret-right"></i> Bilhetes realizados APÓS o horário do sorteio NÃO terão validade.</p>
                    <p><i class="fas fa-caret-right"></i> OBS: O sistema poderá escolher os números para você por meio de palpites aleatórios.</p>
                    <p><i class="fas fa-caret-right"></i> O prêmio só será pago mediante apresentação de bilhete.</p>
                    <p><i class="fas fa-caret-right"></i> Não serão aceitos bilhetes realizados pro concurso, após o horário de encerramento oficial da modalidade</p>

                    <p><i class="fas fa-caret-right"></i> O bilhete será valido para o número do concurso apostado. Mesmo que, seja sorteado em data diferente da impressa no bilhete do apostador.</p>
                </div>
            </div>

            <div class="col-md-6 col-ms-12 col-xs-12">
                
                <div class="betL_reg_Box" ng-show="site != 6506">
                    <h5> LOTINHA </h5>

                    <p><i class="fas fa-caret-right"></i> Marque de 16 a 22 números dentre os 25 disponíveis;</p>
                    <p><i class="fas fa-caret-right"></i> Você será premiado se acertar os 15 números sorteados no resultado da Lotofácil para a data de sua aposta;</p>
                    <p><i class="fas fa-caret-right"></i> Seu prêmio varia de acordo com a quantidade de dezenas escolhidas e valor apostado;</p>
                    <p><i class="fas fa-caret-right"></i> Consulte sempre a cotação da faixa de premiação nos pontos de venda antes de concluir sua aposta.</p>
                    <p><i class="fas fa-caret-right"></i> Bilhetes realizados APÓS o horário do sorteio NÃO terão validade.</p>
                    <p><i class="fas fa-caret-right"></i> OBS: O sistema poderá escolher os números para você por meio de palpites aleatórios.</p>
                    <p><i class="fas fa-caret-right"></i> O prêmio só será pago mediante apresentação de bilhete.</p>
                    <p><i class="fas fa-caret-right"></i> Não serão aceitos bilhetes realizados pro concurso, após o horário de encerramento oficial da modalidade</p>

                    <p><i class="fas fa-caret-right"></i> O bilhete será valido para o número do concurso apostado. Mesmo que, seja sorteado em data diferente da impressa no bilhete do apostador.</p>
                </div>
            </div>

            <div class="col-md-6 col-ms-12 col-xs-12">
                
                <div class="betL_reg_Box" ng-show="site != 6506">
                    <h5> 2 PARA 500 </h5>

                    <p><i class="fas fa-caret-right"></i> O apostador paga R$2,00 pelo bilhete com 4 milhares diferentes.</p>
                    <p><i class="fas fa-caret-right"></i> O sorteio de uma milhar é realizado (consulte a banca a forma de obtenção do resultado).</p>
                    <p><i class="fas fa-caret-right"></i> Caso o apostador acerte a milhar, recebe o valor de R$500,00 ou valor acumulado para a extração.</p>
                    <p><i class="fas fa-caret-right"></i> OBS: O sistema escolhe os números para você por meio de palpites aleatórios.</p>                    
                    <p><i class="fas fa-caret-right"></i> O prêmio só será pago mediante apresentação de bilhete.</p>
                    <p><i class="fas fa-caret-right"></i> Não serão aceitos bilhetes feitos pro concurso do dia realizados após o hoarário do sorteio.</p>
                    
                </div>
            </div>

        </div>
    </div>
</div>