<div ng-include src="'./components/menu.html'"></div>
<div ng-controller="resultadosCtrl as ctrl" class="betL_container">

    <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>RESULTADOS</h5>
                <hr>
            </div>

            <!-- FORM -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <form class="form-cadastro form-group row betL_usuario_form">
                    <input type="hidden" ng-model="cod_usuario">

                    <div class='col-md-3 col-12 betL_verBilheteFormSelect'>
                        <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                        <select class="form-control" ng-model="comboTipoJogo" id="comboTipoJogo" style="width:100% !important">
                            <option value="" selected> Todos </option>
                            <option ng-repeat="x in tiposJogos" value="{{x.codigo}}">
                                {{ x.nome }}
                            </option>
                        </select>
                    </div>
                    <div class='col-md-2 col-12 betL_verBilheteFormSelect'>
                        <label for="edtDataDe">Período De: &nbsp;</label>
                        <input type="date" min="2018-01-01" id="edtDataDe" placeholder="Data" ng-model="edtDataDe"
                            class="form-control" ng-change="ajustaDataFimPeriodo()" />
                    </div>
                    <div class='col-md-2 col-12 betL_verBilheteFormSelect'>
                        <label for="edtDataAte">Período Ate: &nbsp;</label>
                        <input type="date" min="2018-01-01" id="edtDataAte" placeholder="Data" ng-model="edtDataAte"
                            class="form-control" />
                    </div>

                    <div class="col-md-2 col-xs-2 col-12 betL_usuario_boxCampo botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_usuario_salvar" ng-click="pesquisar()">
                            Pesquisar
                        </button>
                    </div>

                </form>
            </div>

            <!-- TABLE -->
            <!--<div class="col-md-12 col-ms-12 col-xs-12"> -->

            <div class="col-md-6 col-ms-6 col-xs-6" style="float:left;">
                <div class="table-responsive betL_resultadosList">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 5%;" class="align-middle" scope="col">Jogo</th>
                                <th style="width: 5%;" class="align-middle" scope="col">Concurso</th>
                                <th style="width: 5%;" class="align-middle" scope="col">Prêmio</th>
                                <th style="width: 5%;" class="align-middle" scope="col">Número</th>
                                <th style="width: 10%;" class="align-middle" scope="col">Bicho</th>
                                <th style="width: 5%;" class="align-middle" scope="col">Grupo</th>
                                <th style="width: 5%;" class="align-middle" scope="col">Imprimir</th>
                            </tr>
                        </thead>
                        <tbody class="container">
                            <tr ng-repeat="x in records ">
                                <td class="align-middle">{{ getDescricaoTipoJogo(x)}}</td>
                                <td class="align-middle">{{ x.concurso}}</td>
                                <td class="align-middle">{{ x.valor}}</td>
                                <td class="align-middle">{{ x.numero}}</td>
                                <td class="align-middle">{{ x.bicho }}</td>
                                <td class="align-middle">{{ x.grupo}}</td>
                                <td>
                                    <button class="btn betL_BTN betL_BTN_icon betL_BTN_mRight" alt="Imprimir Resultados"
                                        ng-show="verificaBotaoImprimir(x)" ng-click="imprimir(x.cod_jogo)"
                                        data-toggle="tooltip" data-placement="top" title="Imprimir Resultado">
                                        <i class="fas fa-print"></i>
                                        <!--Alterar-->
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                        <script>
                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip();
                                $('.dinheiroMask').mask('#.##0,00', { reverse: true });
                            });
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>