<div ng-include src="'./components/menu.html'"></div>
<div ng-show="flg_rifa" ng-controller="rifaCtrl" class="betL_container">
  <div class="container-fluid">
    <div class="row">
      <div class="betL_Titulo col-md-12 col-sm-12 col-xs-12">
        <h5>RIFA</h5>
        <hr />
      </div>

      <form
        class="form-cadastro form-group row betL_seninhaQuininha_form"
        ng-init="getJogos()"
      >
        <div class="col-md-3 col-sm-12 col-xs-12 col-12">
          <div class="betL_seninha_concurso_box">
            <label for="comboConcurso">Rifa:</label>
            <br />
            <select
              class="form-control betL_seninha_concurso_select"
              ng-model="comboConcurso"
              ng-change="getRifasVendidas(true)"
              id="comboConcurso"
            >
              <option ng-repeat="x in jogos" value="{{x}}">
                {{ x.data_jogo | date: 'dd/MM/yyyy'}} - {{x.descricao}} - R$
                {{x.valor}}
              </option>
            </select>
          </div>
        </div>
      </form>
      <div class="row" ng-show="comboConcurso">
        <!-- Rifas -->
        <div class="col-md-12 col-sm-12 col-xs-12 betL_seninha_TextSecundario">
          <h5>Rifas</h5>
          <p>Escolha as Rifas individualmente.</p>
        </div>
        <!-- ESCOLHA DOS NÚMEROS -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
          <div id="numerosVendidos" class="text-right numerosSelecionados">
            <span> Vendidos: {{vendidos.length}} </span>
          </div>

          <div id="numerosSelecionados" class="text-right numerosSelecionados">
            <span>
              Selecionados: {{selecionados.length + apostados.length}}
            </span>
          </div>
          <div style="display: grid" class="row">
            <div
              style="display: inline-flex"
              class="paginacao-rifa col-md-3 col-sm-6 col-8 betL_usuario_boxCampo"
            >
              <input
                type="text"
                pattern="\d*"
                inputmode="numeric"
                id="edtRifa"
                placeholder="Rifa"
                ng-model="edtRifa"
                class="form-control betL_seninha_form_Valor_Input"
                maxlength="4"
              />
              <button
                type="button"
                style="margin-left: 5px; width: 70px;"
                class="btn naoAlterar betL_BTN"
                id="btnAdicionar"
                ng-click="irParaRifaESelecionar(edtRifa)"
              >
                OK
              </button>
            </div>
            <dir-pagination-controls
              class="paginator paginacao-rifa"
              direction-links="true"
              boundary-links="false"
              on-page-change="alterarPagina(newPageNumber)"
              id="dir-paginator-bottom"
              max-size="5"
            >
            </dir-pagination-controls>
          </div>
          <!-- ESCOLHA DOS NÚMEROS -->
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-4">
            <div
              id="BotoesSeninha"
              class="d-flex justify-content-center align-items-center h-100"
            >
              <div class="rifa">
                <button
                  ng-click="selecionar($event)"
                  dir-paginate="numero in [] | range:((paginacao.paginaAtual - 1) * paginacao.itensPorPagina):((paginacao.paginaAtual - 1) * paginacao.itensPorPagina + paginacao.itensPorPagina - 1 | min:paginacao.totalItens-1) | itemsPerPage: paginacao.itensPorPagina"
                  total-items="paginacao.totalItens"
                  current-page="paginacao.paginaAtual"
                  id="{{'btn' + getNumeroRifa(numero)}}"
                  type="button"
                  class="btn btn-outline-grid"
                >
                  {{getNumeroRifa(numero)}}
                </button>
              </div>
            </div>
          </div>

          <div
            class="col-md-7 col-sm-12 col-xs-12 betL_seninha_Box_Btn_LimparAdicionar betL_jogos_boxCampo"
          >
            <form
              class="form-group row form-inline float-right betL_seninha_form_Valor"
            >
              <input
                type="button"
                class="btn naoAlterar betL_seninha_form_Valor_Btn betL_BTN"
                id="btnAdicionar"
                value="Selecionar Rifas(s)"
                ng-click="adicionarAposta()"
              />
            </form>
          </div>
        </div>

        <!-- APOSTA -->
        <div class="col-md-12 col-sm-12 col-xs-12 betL_seninha_table">
          <div class="betL_seninha_TextSecundario">
            <h5>Apostas</h5>
          </div>

          <div class="table-responsive betL_verBilheteList">
            <table class="table table-hover" width="30%">
              <thead>
                <tr>
                  <th style="width: 10%" class="align-middle" scope="col">
                    Tipo
                  </th>
                  <th style="width: 15%" class="align-middle" scope="col">
                    Valor da Aposta
                  </th>
                  <th style="width: 10%" class="align-middle" scope="col">
                    Qtd. Números
                  </th>
                  <th style="width: 40%" class="align-middle" scope="col">
                    Números
                  </th>
                  <th style="width: 15%" class="align-middle" scope="col">
                    Possível Retorno
                  </th>
                  <th style="width: 10%" class="align-middle" scope="col">
                    Excluir
                  </th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th class="align-middle" scope="col">Total:</th>
                  <th class="align-middle" scope="col">{{ valorTotal}}</th>
                  <th class="align-middle" scope="col">&nbsp;</th>
                  <th class="align-middle" scope="col">&nbsp;</th>
                  <th class="align-middle" scope="col">&nbsp;</th>
                  <th class="align-middle" scope="col">&nbsp;</th>
                </tr>
              </tfoot>
              <tbody class="container">
                <!-- <tr ng-repeat="x in lista | object2Array"> -->
                <tr ng-repeat="x in apostas">
                  <td class="align-middle">{{ x.tipo}}</td>
                  <td class="align-middle">{{ x.valorReal | currency:"R$"}}</td>
                  <td class="align-middle">{{ x.qtd}}</td>
                  <td class="align-middle">{{ x.numeros}}</td>
                  <td class="align-middle">{{ x.possivelRetorno}}</td>
                  <td class="align-middle">
                    <!--<input type="button" class="btn btn-danger" value="" ng-click="removerAposta($index)">-->
                    <button
                      type="button"
                      class="btn betL_btn_seninhaQuininha_excluir betL_BTN_icon brtL_BTN_excluir"
                      ng-click="removerAposta($index)"
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- FORM CONCURSO | NOME | TELEFONE -->
        <form class="form-cadastro form-group row">
          <div class="col-md-4 col-sm-12 col-xs-12 col-12">
            <div class="betL_seninha_nome_box">
              <md-autocomplete
                flex
                required
                md-search-text="edtNome"
                md-items="item in clientes | filter:{nome: edtNome}"
                md-item-text="item.nome"
                md-escape-options="clear"
                md-floating-label="Nome"
                md-selected-item-change="onSelectCliente(item)"
                md-dropdown-position="bottom"
              >
                <md-item-template>
                  <span>{{item.nome}}</span>
                </md-item-template>
              </md-autocomplete>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 col-6">
            <div class="float-right betL_seninha_telefone_box">
              <md-input-container>
                <input
                  type="tel"
                  id="edtTelefone"
                  placeholder="Telefone"
                  ng-model="edtTelefone"
                  class="betL_seninha_telefone_input"
                />
              </md-input-container>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12 col-6">
            <label for="chkRegistrarCliente">Registrar Cliente</label>
            <div class="betL_conf_input_box">
              <label class="switch" style="margin-right: inherit">
                <input
                  type="checkbox"
                  id="chkRegistrarCliente"
                  ng-model="chkRegistroCliente"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 col-12">
            <div class="float-right">
              <input
                type="button"
                class="btn naoAlterar betL_BTN betL_BTN_GerarBilhete"
                id="btnGerarBilhete"
                value="Gerar Bilhete"
                ng-click="gerarBilhete()"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#edtTelefone").mask("(00) 00000-0000");
    });
  </script>
</div>
