<div ng-include src="'./components/menu.html'"></div>
<div class="panel panel-default" ng-controller="seninhaCtrl">
    <div class="panel-heading"><h5> Seninha</h5></div>
        <div class="panel-body">    
       
            <form class="form-cadastro form-group row" ng-init="getJogos()">
                <div class='col-xs-2'>
                    <label for="comboConcurso">Concurso:</label>
                    <br>
                    <select class="form-control" ng-model="comboConcurso" id="comboConcurso">
                        <option ng-repeat="x in jogos" value="{{x.cod_jogo}}">{{ x.data_jogo | date: 'dd/MM/yyyy'}} - Concurso: {{ x.concurso }}</option>
                    </select>
                </div>
                <div class='col-xs-2'>
                    <label for="edtNome">Nome:</label>
                    <input type="text" id="edtNome" placeholder="Nome" ng-model="edtNome" class="form-control" />
                </div>
                <div class='col-xs-2'>
                    <label for="edtTelefone">Telefone:</label>
                    <input type="tel" id="edtTelefone" placeholder="Telefone" ng-model="edtTelefone" class="form-control" />
                </div>
                <div class='col-xs-2'>
                    <label for="edtValor">Valor aposta:</label>
                    <input type="text" id="edtValor" placeholder="Valor" ng-model="edtValor" class="form-control" />
                </div>
            </form>
        </div>
    </div>
    <hr>

    <div>

        <script>
            $(document).ready(function () {
                $("#edtTelefone").mask("(00) 00000-0000");

                $("#edtValor").inputmask('decimal', {
                    'alias': 'numeric',
                    'groupSeparator': '',
                    'autoGroup': true,
                    'digits': 2,
                    'radixPoint': ",",
                    'digitsOptional': false,
                    'allowMinus': false,
                    'prefix': '',
                    'placeholder': ''
                });

                $(".btn").click(function () {
                    if (this.classList.contains('naoAlterar')) {
                        return;
                    }

                    if (this.className == 'btn btn-outline-seninha' && $("button.btn-seninha").length == 40) {
                        alert("O número máximo de números é 40!");
                        return;
                    }

                    if (this.className == 'btn btn-outline-seninha') {
                        this.classList.remove('btn-outline-seninha');
                        this.classList.add('btn-seninha');
                    } else {
                        this.classList.remove('btn-seninha');
                        this.classList.add('btn-outline-seninha');
                    }

                    $("#numerosSelecionados").html("Selecionados: " + $("button.btn-seninha").length);
                });

                /*
                $("#btnLimpar").click(function () {
                    $("button.btn-seninha").removeClass("btn-seninha").addClass("btn-outline-seninha");
                });

                /*$("#btnAdicionar").click(function () { 
                    if ($("button.btn-seninha").length < 14){
                        alert('O número mínimo de números é 14!');
                        return;
                    }                                                           
                });*/

            });
        </script>

        <button type="button" class="btn btn-outline-seninha"> 01 </button>
        <button type="button" class="btn btn-outline-seninha"> 02 </button>
        <button type="button" class="btn btn-outline-seninha"> 03 </button>
        <button type="button" class="btn btn-outline-seninha"> 04 </button>
        <button type="button" class="btn btn-outline-seninha"> 05 </button>
        <button type="button" class="btn btn-outline-seninha"> 06 </button>
        <button type="button" class="btn btn-outline-seninha"> 07 </button>
        <button type="button" class="btn btn-outline-seninha"> 08 </button>
        <button type="button" class="btn btn-outline-seninha"> 09 </button>
        <button type="button" class="btn btn-outline-seninha"> 10 </button>
        <br>
        <button type="button" class="btn btn-outline-seninha"> 11 </button>
        <button type="button" class="btn btn-outline-seninha"> 12 </button>
        <button type="button" class="btn btn-outline-seninha"> 13 </button>
        <button type="button" class="btn btn-outline-seninha"> 14 </button>
        <button type="button" class="btn btn-outline-seninha"> 15 </button>
        <button type="button" class="btn btn-outline-seninha"> 16 </button>
        <button type="button" class="btn btn-outline-seninha"> 17 </button>
        <button type="button" class="btn btn-outline-seninha"> 18 </button>
        <button type="button" class="btn btn-outline-seninha"> 19 </button>
        <button type="button" class="btn btn-outline-seninha"> 20 </button>
        <br>
        <button type="button" class="btn btn-outline-seninha"> 21 </button>
        <button type="button" class="btn btn-outline-seninha"> 22 </button>
        <button type="button" class="btn btn-outline-seninha"> 23 </button>
        <button type="button" class="btn btn-outline-seninha"> 24 </button>
        <button type="button" class="btn btn-outline-seninha"> 25 </button>
        <button type="button" class="btn btn-outline-seninha"> 26 </button>
        <button type="button" class="btn btn-outline-seninha"> 27 </button>
        <button type="button" class="btn btn-outline-seninha"> 28 </button>
        <button type="button" class="btn btn-outline-seninha"> 29 </button>
        <button type="button" class="btn btn-outline-seninha"> 30 </button>
        <br>
        <button type="button" class="btn btn-outline-seninha"> 31 </button>
        <button type="button" class="btn btn-outline-seninha"> 32 </button>
        <button type="button" class="btn btn-outline-seninha"> 33 </button>
        <button type="button" class="btn btn-outline-seninha"> 34 </button>
        <button type="button" class="btn btn-outline-seninha"> 35 </button>
        <button type="button" class="btn btn-outline-seninha"> 36 </button>
        <button type="button" class="btn btn-outline-seninha"> 37 </button>
        <button type="button" class="btn btn-outline-seninha"> 38 </button>
        <button type="button" class="btn btn-outline-seninha"> 39 </button>
        <button type="button" class="btn btn-outline-seninha"> 40 </button>
        <br>
        <button type="button" class="btn btn-outline-seninha"> 41 </button>
        <button type="button" class="btn btn-outline-seninha"> 42 </button>
        <button type="button" class="btn btn-outline-seninha"> 43 </button>
        <button type="button" class="btn btn-outline-seninha"> 44 </button>
        <button type="button" class="btn btn-outline-seninha"> 45 </button>
        <button type="button" class="btn btn-outline-seninha"> 46 </button>
        <button type="button" class="btn btn-outline-seninha"> 47 </button>
        <button type="button" class="btn btn-outline-seninha"> 48 </button>
        <button type="button" class="btn btn-outline-seninha"> 49 </button>
        <button type="button" class="btn btn-outline-seninha"> 50 </button>
        <br>
        <button type="button" class="btn btn-outline-seninha"> 51 </button>
        <button type="button" class="btn btn-outline-seninha"> 52 </button>
        <button type="button" class="btn btn-outline-seninha"> 53 </button>
        <button type="button" class="btn btn-outline-seninha"> 54 </button>
        <button type="button" class="btn btn-outline-seninha"> 55 </button>
        <button type="button" class="btn btn-outline-seninha"> 56 </button>
        <button type="button" class="btn btn-outline-seninha"> 57 </button>
        <button type="button" class="btn btn-outline-seninha"> 58 </button>
        <button type="button" class="btn btn-outline-seninha"> 59 </button>
        <button type="button" class="btn btn-outline-seninha"> 60 </button>

        <br>

        <div id="numerosSelecionados">
            Selecionados: 0
        </div>
        <hr>

        <h5> Tipos de Jogos </h5>

        <!--<div ng-controller="configuracaoCtrl">-->
        <div>
            <table colspan="2">
                <tr>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(14)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 14
                            <br> {{listaCfg[0].premio_14}} x </button>
                    </td>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(15)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 15
                            <br> {{listaCfg[0].premio_15}} x </button>
                    </td>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(16)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 16
                            <br> {{listaCfg[0].premio_16}} x </button>
                    </td>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(17)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 17
                            <br> {{listaCfg[0].premio_17}} x </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(18)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 18
                            <br> {{listaCfg[0].premio_18}} x </button>
                    </td>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(19)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 19
                            <br> {{listaCfg[0].premio_19}} x </button>
                    </td>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(20)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 20
                            <br> {{listaCfg[0].premio_20}} x </button>
                    </td>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(25)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 25
                            <br> {{listaCfg[0].premio_25}} x </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(30)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 30
                            <br> {{listaCfg[0].premio_30}} x </button>
                    </td>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(35)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 35
                            <br> {{listaCfg[0].premio_35}} x </button>
                    </td>
                    <td>
                        <button type="button" ng-click="selecionarNumeros(40)" class="btn btn-btnsen btn-lg btn-block naoAlterar"> 40
                            <br> {{listaCfg[0].premio_40}} x </button>
                    </td>
                </tr>


            </table>

        </div>

        <hr>

        <h5> Apostas </h5>

        <input type="button" class="btn btn-azul" id="btnLimpar" value="Limpar" ng-click="limpar()">
        <input type="button" class="btn btn-azul" id="btnAdicionar" value="Adicionar Aposta" ng-click="adicionarAposta() ">

        <div class="table-responsive">
            <table class="table table-hover table-sm" width="30%">
                <thead>
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Valor da Aposta</th>
                        <th scope="col">Qtd. Números</th>
                        <th scope="col">Números</th>
                        <th scope="col">Possível Retorno</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">Total:</th>
                        <th scope="col">{{ valorTotal }}</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </tfoot>
                <tbody class="container">
                    <!-- <tr ng-repeat="x in lista | object2Array"> -->
                    <tr ng-repeat="x in apostas">
                        <td>{{ x.tipo }} </td>
                        <td>{{ x.valor }}</td>
                        <td>{{ x.qtd }}</td>
                        <td>{{ x.numeros }}</td>
                        <td>{{ x.possivelRetorno }}</td>
                        <td>
                            <input type="button" class="btn btn-seninha" value="X " ng-click="removerAposta($index) "> </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <input type="button" class="btn btn-azul" id="btnGerarBilhete" value="Gerar Bilhete" ng-click="gerarBilhete() ">



        <!-- <h6 ng-repeat="x in apostas">{{x}}
            <input type="button" class="btn btn-seninha" value="X " ng-click="removerAposta($index) "> </h6>
        -->


        <hr>
        
    </div>





</div>