<div ng-include src="'./components/menu.html'"></div> 
<div ng-controller="usuarioCtrl as ctrl" class="betL_container">
  <div class="container-fluid" ng-init="carregarAreas(); getGerentes();">
    <div class="row">
      <div class="col-12 mb-3">
        <div
          class="d-flex justify-content-between align-items-center header-mobile"
        >
          <h5 class="mt-3 mb-3">
            {{editarUsuario ? 'Editar Usuário - ' + nomeUsuarioEditado :
            'Usuários'}}
          </h5>
          <button
            type="button"
            class="btn betL_BTN betL_BTN_usuario_salvar m-0"
            ng-click="cadastrarUsuario()"
            ng-if="!isCadastrarUsuario && !editarUsuario"
          >
            Cadastrar
          </button>
          <a
            type="button"
            class="m-0 back-link d-flex align-items-center"
            ng-click="cancelar()"
            ng-if="isCadastrarUsuario || editarUsuario"
          >
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span>Voltar</span>
          </a>
        </div>
        <hr />
      </div>
    </div>
    <form ng-show="editarUsuario || isCadastrarUsuario" class="w-100">
      <input type="hidden" ng-model="cod_usuario" />
      <!-- cadastro -->
      <div class="row">
        <div class="col-12 mb-3">
          <h4>Dados Pessoais</h4>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="edtNome">Nome:</label>
            <input
              type="text"
              id="edtNome"
              placeholder="Nome"
              ng-model="edtNome"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="edtLogin">Login:</label>
            <input
              type="text"
              id="edtLogin"
              placeholder="Login"
              ng-model="edtLogin"
              class="form-control"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="edtEmail">Email:</label>
            <input
              type="text"
              id="edtEmail"
              placeholder="Email"
              ng-model="edtEmail"
              class="form-control"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="cmbPerfil">Perfil:</label>
            <select
              ng-disabled="perfil == 'G'"
              id="cmbPerfil"
              ng-disabled="perfilGerente"
              ng-model="cmbPerfil"
              class="form-control w-100"
              style="width: 100% !important"
            >
              <option value="">Selecione</option>
              <option value="A" ng-if="perfil == 'M'">Admin</option>
              <option value="G" ng-if="perfil == 'A'">Gerente</option>
              <option value="C" ng-if="perfil == 'A' || perfil == 'G'">
                Cambista
              </option>
            </select>
          </div>
        </div>

        <div
          class="col-sm-12 col-md-4 col-lg-4"
          ng-show="cmbPerfil == 'C' && perfil == 'A'"
        >
          <div class="form-group">
            <label for="cmbPerfil">Gerente:</label>
            <select
              id="cmbGerente"
              ng-model="cmbGerente"
              class="form-control w-100"
              style="width: 100% !important"
            >
              <option value="">Selecione</option>
              <option ng-repeat="x in gerentes" value="{{x.cod_usuario}}">
                {{x.nome}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="edtLimite">Limite (R$):</label>
            <input
              type="text"
              id="edtLimite"
              placeholder="Limite"
              ng-model="edtLimite"
              class="form-control dinheiroMask"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4" ng-show="areas.length > 1">
          <div class="form-group">
            <label for="comboAreas">Áreas:</label>
            <select
              ng-disabled="perfil == 'G'"
              class="form-control"
              ng-model="comboAreas"
              id="comboAreas"
              style="width: 100% !important"
              ng-change="lidarSelecaoArea(comboAreas)"
            >
              <option value="">Selecione</option>
              <option ng-repeat="x in areas" value="{{x.cod_area}}">
                {{ x.nome }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 mb-3">
          <div class="d-flex align-items-center">
            <h4 class="m-0">Configurar Permissões / Comissões</h4>
            <i class="fa ml-2"></i>
          </div>
        </div>
      </div>
      <!-- permissoes e comissoes -->
      <div id="opcoesPermissaoComissao">
        <div class="row mb-4">
          <div class="col-sm-12 col-md-6 col-lg-3" ng-show="isExibirSeninha">
            <div
              class="form-group d-flex align-items-center flex-column justify-content-center"
            >
              <label for="edtCheckSeninha" class="m-0 mb-3">Seninha:</label>
              <label class="switch">
                <input
                  type="checkbox"
                  id="edtCheckSeninha"
                  ng-model="edtCheckSeninha"
                  class="form-control"
                />
                <span class="slider round"></span>
              </label>
              <div class="w-100" ng-show="edtCheckSeninha">
                <label for="edtComissaoSeninha">Comissão(%)</label>
                <input
                  type="number"
                  id="edtComissaoSeninha"
                  placeholder="Comissão"
                  ng-model="edtComissaoSeninha"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3" ng-show="isExibirQuininha">
            <div
              class="form-group d-flex align-items-center flex-column justify-content-center"
            >
              <label for="edtCheckQuininha" class="m-0 mb-3">Quininha:</label>
              <label class="switch">
                <input
                  type="checkbox"
                  id="edtCheckQuininha"
                  ng-model="edtCheckQuininha"
                  class="form-control"
                />
                <span class="slider round"></span>
              </label>
              <div class="w-100" ng-show="edtCheckQuininha">
                <label for="edtComissaoQuininha">Comissão(%)</label>
                <input
                  type="number"
                  id="edtComissaoQuininha"
                  placeholder="Comissão"
                  ng-model="edtComissaoQuininha"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3" ng-show="isExibirLotinha">
            <div
              class="form-group d-flex align-items-center flex-column justify-content-center"
            >
              <label for="edtCheckLotinha" class="m-0 mb-3">Lotinha:</label>
              <label class="switch">
                <input
                  type="checkbox"
                  id="edtCheckLotinha"
                  ng-model="edtCheckLotinha"
                  class="form-control"
                />
                <span class="slider round"></span>
              </label>
              <div class="w-100" ng-show="edtCheckLotinha">
                <label for="edtComissaoQuininha">Comissão(%)</label>
                <input
                  type="number"
                  id="edtComissaoLotinha"
                  placeholder="Comissão"
                  ng-model="edtComissaoLotinha"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3" ng-show="isExibir2pra500">
            <div
              class="form-group d-flex align-items-center flex-column justify-content-center"
            >
              <label for="edtCheck2pra500" class="m-0 mb-3">2 pra 500:</label>
              <label class="switch">
                <input
                  type="checkbox"
                  id="edtCheck2pra500"
                  ng-model="edtCheck2pra500"
                  class="form-control"
                />
                <span class="slider round"></span>
              </label>

              <div class="w-100" ng-show="edtCheck2pra500">
                <label for="edtComissao2pra500">Comissão(%)</label>
                <input
                  type="number"
                  id="edtComissao2pra500"
                  placeholder="Comissão"
                  ng-model="edtComissao2pra500"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3" ng-show="isExibirBicho">
            <div
              class="form-group d-flex align-items-center flex-column justify-content-center"
            >
              <label for="edtCheckBicho" class="m-0 mb-3">Bicho:</label>
              <label class="switch">
                <input
                  type="checkbox"
                  id="edtCheckBicho"
                  ng-model="edtCheckBicho"
                  ng-click="exibirCamposComissaoBicho()"
                  class="form-control"
                />
                <span class="slider round"></span>
              </label>

              <div class="w-100" ng-show="edtCheckBicho">
                <label for="edtComissaoBicho">Comissão(%)</label>
                <input
                  type="number"
                  id="edtComissaoBicho"
                  placeholder="Comissão"
                  ng-model="edtComissaoBicho"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3" ng-show="isExibirRifa">
            <div
              class="form-group d-flex align-items-center flex-column justify-content-center"
            >
              <label for="edtCheckRifa" class="m-0 mb-3">Rifa:</label>
              <label class="switch">
                <input
                  type="checkbox"
                  id="edtCheckRifa"
                  ng-model="edtCheckRifa"
                  ng-click="exibirCamposComissaoRifa()"
                  class="form-control"
                />
                <span class="slider round"></span>
              </label>

              <div class="w-100" ng-show="edtCheckRifa">
                <label for="edtComissaoRifa">Comissão(%)</label>
                <input
                  type="number"
                  id="edtComissaoRifa"
                  placeholder="Comissão"
                  ng-model="edtComissaoRifa"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3" ng-show="isExibirSuperSena">
            <div
              class="form-group d-flex align-items-center flex-column justify-content-center"
            >
              <label for="edtCheckSuperSena" class="m-0 mb-3"
                >Super Sena:</label
              >
              <label class="switch">
                <input
                  type="checkbox"
                  id="edtCheckSuperSena"
                  ng-model="edtCheckSuperSena"
                  ng-click="exibirCamposComissaoSuperSena()"
                  class="form-control"
                />
                <span class="slider round"></span>
              </label>

              <div class="w-100" ng-show="edtCheckSuperSena">
                <label for="edtComissaoSuperSena">Comissão(%)</label>
                <input
                  type="number"
                  id="edtComissaoSuperSena"
                  placeholder="Comissão"
                  ng-model="edtComissaoSuperSena"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>
        </div>
        <div ng-show="perfil == 'A' && edtCheckBicho && isExibirBicho">
          <div class="row mt-4">
            <div class="col-12 d-flex d-flex flex-column text-center mb-3">
              <h4 class="text-secondary">
                Comissões para modalidades específicas
              </h4>
              <span>
                <small>
                  Estas comissões serão aplicadas para a modalidade
                  <strong>Jogo Do Bicho</strong>
                </small>
              </span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoMilharCentena">Milhar Centena(%)</label>
                <input
                  type="number"
                  id="edtComissaoMilharCentena"
                  placeholder="Comissão"
                  ng-model="edtComissaoMilharCentena"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoMilharSeca">Milhar Seca(%)</label>
                <input
                  type="number"
                  id="edtComissaoMilharSeca"
                  placeholder="Comissão"
                  ng-model="edtComissaoMilharSeca"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoMilharInvertida">Milhar Inver(%)</label>
                <input
                  type="number"
                  id="edtComissaoMilharInvertida"
                  placeholder="Comissão"
                  ng-model="edtComissaoMilharInvertida"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoCentena">Centena(%)</label>
                <input
                  type="number"
                  id="edtComissaoCentena"
                  placeholder="Comissão"
                  ng-model="edtComissaoCentena"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>
          <div ng-show="edtCheckBicho && isExibirBicho" class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoCentenaInvertida"
                  >Centena Inver(%)</label
                >
                <input
                  type="number"
                  id="edtComissaoCentenaInvertida"
                  placeholder="Comissão"
                  ng-model="edtComissaoCentenaInvertida"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoGrupo">Grupo (%)</label>
                <input
                  type="number"
                  id="edtComissaoGrupo"
                  placeholder="Comissão"
                  ng-model="edtComissaoGrupo"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoDuqueGrupo">Duque Grupo(%)</label>
                <input
                  type="number"
                  id="edtComissaoDuqueGrupo"
                  placeholder="Comissão"
                  ng-model="edtComissaoDuqueGrupo"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoTernoGrupo">Terno Grupo(%)</label>
                <input
                  type="number"
                  id="edtComissaoTernoGrupo"
                  placeholder="Comissão"
                  ng-model="edtComissaoTernoGrupo"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoQuinaGrupo">Quina Grupo(%)</label>
                <input
                  type="number"
                  id="edtComissaoQuinaGrupo"
                  placeholder="Comissão"
                  ng-model="edtComissaoQuinaGrupo"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoDezena">Dezena(%)</label>
                <input
                  type="number"
                  id="edtComissaoDezena"
                  placeholder="Comissão"
                  ng-model="edtComissaoDezena"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoDuqueDezena">Duque Dezena (%)</label>
                <input
                  type="number"
                  id="edtComissaoDuqueDezena"
                  placeholder="Comissão"
                  ng-model="edtComissaoDuqueDezena"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoTernoDezena">Terno Dezena(%)</label>
                <input
                  type="number"
                  id="edtComissaoTernoDezena"
                  placeholder="Comissão"
                  ng-model="edtComissaoTernoDezena"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoPasseSeco">Passe Seco(%)</label>
                <input
                  type="number"
                  id="edtComissaoPasseSeco"
                  placeholder="Comissão"
                  ng-model="edtComissaoPasseSeco"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissaoPasseCombinado">Passe Combinado(%)</label>
                <input
                  type="number"
                  id="edtComissaoPasseCombinado"
                  placeholder="Comissão"
                  ng-model="edtComissaoPasseCombinado"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="edtComissao5p100">5 Pra 100(%)</label>
                <input
                  type="number"
                  id="edtComissao5p100"
                  placeholder="Comissão"
                  ng-model="edtComissao5p100"
                  class="percentualMask form-control betL_usuario_form_comissao"
                  min="0"
                  max="100"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="justify-content-center align-items-center p-3 mb-4"
        id="semDados"
        ng-class="(!isExibir2pra500 && !isExibirBicho && !isExibirQuininha && !isExibirLotinha && !isExibirSeninha && !isExibirRifa) ? 'd-flex' : 'd-none' "
      >
        <span class="mr-2">Sem permissões para essa área</span>
        <i class="fa fa-thumbs-down ml-4 mt-2"></i>
      </div>

      <div
        class="mt-3 d-flex justify-content-between justify-content-md-end align-items-center mb-4"
      >
        <button
          type="button"
          class="btn betL_BTN mr-3"
          ng-click="cancelar()"
          ng-if="editarUsuario"
          style="width: initial"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn betL_BTN mr-3"
          ng-click="cancelar()"
          ng-if="isCadastrarUsuario"
          style="width: initial"
        >
          Voltar
        </button>
        <button
          type="button"
          class="btn betL_BTN betL_BTN_usuario_salvar mt-0 ml-3"
          style="width: initial"
          ng-click="salvar(cod_usuario)"
        >
          Salvar
        </button>
      </div>
    </form>

    <div ng-show="!editarUsuario && !isCadastrarUsuario">
      <form class="w-100">
        <input type="hidden" ng-model="cod_usuario" />
        <!-- filtro usuarios -->
        <div id="filtrarUsuarios">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-4" ng-show="perfil == 'A'">
              <div class="form-group">
                <label for="selecionarGerente">Área:</label>
                <select
                  class="form-control w-100"
                  ng-model="areaFiltro"
                  id="selecionarArea"
                  ng-options="item.cod_area as item.nome for item in areas track by item.cod_area"
                  ng-change="listarGerentes()"
                >
                  <option value="">-- Selecione uma Área --</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-4" ng-show="perfil == 'A'">
              <div class="form-group">
                <label for="selecionarGerente">Gerente:</label>
                <select
                  class="form-control w-100"
                  ng-model="selecionarGerente.gerenteSelecionado"
                  id="selecionarGerente"
                  ng-options="item.descricao for item in selecionarGerente.gerentes track by item.login"
                  ng-change="lidarSelecaoGerente()"
                ></select>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="nomeUsuario">Nome do Usuário: </label>
                <input
                  type="text"
                  id="nomeUsuario"
                  placeholder="Nome"
                  ng-model="nomeUsuario"
                  class="form-control"
                />
              </div>
            </div>

            <div class="d-flex align-items-center p-3 mt-0 mt-md-0 mt-lg-3">
              <button
                type="button"
                class="btn betL_BTN m-0"
                ng-click="cancelar()"
                ng-if="selecionarGerente.gerenteSelecionado.login"
              >
                Limpar
              </button>
            </div>
          </div>
        </div>
        <!-- fim filtro usuarios -->
      </form>
      <div class="row pt-4" ng-init="listarUsuarios();">
        <!-- <div ng-if="perfil == 'A'" class="col-12 mb-3">
                    <hr/>
                    <h5 class="mb-3 mt-0 pt-3 text-center">{{!selecionarGerente.gerenteSelecionado.login ? 'Lista De Usuários' : 'Lista De Cambistas'}}</h5>
                </div> -->
        <!-- TABLE -->
        <div class="col-md-12 col-ms-12 col-xs-12">
          <div
            ng-if="records.length == 0"
            class="d-flex justify-content-center align-items-center p-3 mb-4"
            id="semDados"
          >
            <span class="mr-2">Sem dados</span>
            <i class="fa fa-thumbs-down ml-4"></i>
          </div>
          <div class="paginacao-mobile">
            <dir-pagination-controls
              class="paginator"
              direction-links="true"
              boundary-links="true"
              max-size="20"
            ></dir-pagination-controls>
          </div>

          <div class="table-responsive betL_verBilheteList">
            <table
              style="text-align: center"
              class="table table-hover table-card"
            >
              <thead>
                <tr>
                  <th style="width: 15%" class="align-middle" scope="col">
                    Usuário <br />
                    (Login)
                  </th>
                  <th style="width: 15%" class="align-middle" scope="col">
                    Perfil
                  </th>
                  <th
                    style="width: 15%"
                    class="align-middle"
                    scope="col"
                    ng-if="perfil == 'A'"
                  >
                    Gerente
                  </th>
                  <th style="width: 15%" class="align-middle" scope="col">
                    Área
                  </th>
                  <th
                    ng-show="isExibirSeninha"
                    style="width: 7%"
                    class="align-middle"
                    scope="col"
                  >
                    Seninha
                  </th>
                  <th
                    ng-show="isExibirQuininha"
                    style="width: 7%"
                    class="align-middle"
                    scope="col"
                  >
                    Quininha
                  </th>
                  <th
                    ng-show="isExibirLotinha"
                    style="width: 7%"
                    class="align-middle"
                    scope="col"
                  >
                    Lotinha
                  </th>
                  <th
                    ng-show="isExibirBicho"
                    style="width: 7%"
                    class="align-middle"
                    scope="col"
                  >
                    Bicho
                  </th>
                  <th
                    ng-show="isExibir2pra500"
                    style="width: 7%"
                    class="align-middle"
                    scope="col"
                  >
                    2 pra 500
                  </th>
                  <th
                    ng-show="isExibirRifa"
                    style="width: 7%"
                    class="align-middle"
                    scope="col"
                  >
                    Rifa
                  </th>
                  <th
                    ng-show="isExibirSuperSena"
                    style="width: 7%"
                    class="align-middle"
                    scope="col"
                  >
                    Super Sena
                  </th>
                  <th style="width: 15%" class="align-middle" scope="col">
                    Limite
                  </th>

                  <th style="width: 15%" class="align-middle" scope="col">
                    Saldo
                  </th>
                  <th style="width: 15%" class="align-middle" scope="col">
                    Status
                  </th>
                  <th style="width: 5%" class="align-middle" scope="col">
                    Editar
                  </th>
                  <th style="width: 5%" class="align-middle" scope="col">
                    Prestar conta
                  </th>
                  <th style="width: 5%" class="align-middle" scope="col">
                    Resetar Senha
                  </th>
                  <th style="width: 5%" class="align-middle" scope="col">
                    Ativar / Desativar
                  </th>
                  <th style="width: 5%" class="align-middle" scope="col">
                    Excluir
                  </th>
                </tr>
              </thead>
              <tbody class="container">
                <!-- <tr ng-repeat="x in lista | object2Array"> -->
                <tr
                  dir-paginate="x in records | filter:nomeUsuario | itemsPerPage: itensPorPagina"
                >
                  <td style="white-space: pre-wrap" class="align-middle">
                    <span>{{ x.nome + '\n(' + x.login + ')'}}</span>
                  </td>
                  <td class="align-middle">
                    <span>{{ getPerfilUsuario(x.perfil)}}</span>
                  </td>
                  <td class="align-middle" ng-if="perfil == 'A'">
                    <span>{{ x.perfil == 'C' ? x.nome_gerente : '-'}}</span>
                  </td>
                  <td class="align-middle"><span>{{ x.nome_area}}</span></td>
                  <td ng-show="isExibirSeninha" class="align-middle">
                    <span>{{ x.pct_comissao_seninha}}</span>
                  </td>
                  <td ng-show="isExibirQuininha" class="align-middle">
                    <span>{{ x.pct_comissao_quininha}}</span>
                  </td>
                  <td ng-show="isExibirLotinha" class="align-middle">
                    <span>{{ x.pct_comissao_lotinha}}</span>
                  </td>
                  <td ng-show="isExibirBicho" class="align-middle">
                    <span>{{ x.pct_comissao_bicho}}</span>
                  </td>
                  <td ng-show="isExibir2pra500" class="align-middle">
                    <span>{{ x.pct_comissao_2pra500}}</span>
                  </td>
                  <td ng-show="isExibirRifa" class="align-middle">
                    <span>{{ x.pct_comissao_rifa}}</span>
                  </td>
                  <td ng-show="isExibirSuperSena" class="align-middle">
                    <span>{{ x.pct_comissao_supersena}}</span>
                  </td>
                  <td class="align-middle">
                    <span>{{ x.limite | currency: "R$" }}</span>
                  </td>
                  <td class="align-middle">
                    <span>{{ x.saldo | currency: "R$" }}</span>
                  </td>
                  <td class="align-middle">
                    <span>{{ getStatusUsuario(x.status)}}</span>
                  </td>
                  <td>
                    <button
                      class="btn betL_BTN betL_BTN_icon betL_BTN_mRight"
                      alt="Alterar"
                      ng-click="alterar(x)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Alterar"
                    >
                      <i class="fas fa-pen"></i>
                      <!--Alterar-->
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn betL_BTN betL_BTN_icon betL_BTN_mRight"
                      alt="Prestar conta"
                      ng-click="prestarConta(x.cod_usuario, x.nome, x.login, x.limite, x.saldo)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Prestar conta"
                    >
                      <i class="fas fa-hand-holding-usd"></i>
                      <!--Prestar conta-->
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn betL_BTN betL_BTN_icon betL_BTN_mRight"
                      alt="Resetar Senha"
                      ng-click="resetarSenha(x.cod_usuario, x.nome, x.login)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Resetar Senha"
                    >
                      <i class="fas fa-key"></i>
                      <!--Resetar Senha-->
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir"
                      alt="Ativar/Desativar"
                      ng-click="excluir(x.cod_usuario, x.nome, x.login, x.status)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Ativar/Desativar"
                    >
                      <!-- <i class="far fa-trash-alt"></i> -->
                      <i ng-show="x.status == 'A'" class="fas fa-lock-open"></i>
                      <i ng-show="x.status == 'I'" class="fas fa-lock"></i>
                      <!--Ativar/Inativar-->
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir"
                      alt="Excluir Cambista"
                      ng-show="x.status == 'I' && perfil == 'A' && x.perfil == 'C'"
                      ng-click="excluirFisicamente(x.cod_usuario, x.perfil)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Excluir Cambista"
                    >
                      <i class="fas fa-trash-alt"></i>
                      <!--Excluir-->
                    </button>

                    <button
                      class="btn betL_BTN betL_BTN_icon brtL_BTN_excluir"
                      alt="Excluir Gerente"
                      ng-show="x.status == 'I' && perfil == 'A' && x.perfil == 'G'"
                      ng-click="preencherComboTransferenciaGerente(x.cod_usuario)"
                      data-toggle="modal"
                      data-target="#modalTransfGerente"
                      title="Excluir Gerente"
                    >
                      <i class="fas fa-trash-alt"></i>
                      <!--Excluir-->
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="paginacao-mobile">
              <dir-pagination-controls
                class="paginator"
                direction-links="true"
                boundary-links="true"
                max-size="20"
              ></dir-pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL -->
  <div
    class="modal"
    id="modalTransfGerente"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalGerenteLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title betL_modal_Titulo" id="modalGerenteLabel">
            Transferência de Gerência
          </h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <p>
              Com a exclusão deste gerente será necessário transferir os seus
              cambistas para outro gerente.
            </p>
          </div>
          <div class="form-group">
            <label for="gerenteATransferir">Novo Gerente:</label>
            <select
              class="form-control w-100"
              ng-model="gerenteATransferir"
              id="gerenteATransferir"
              ng-options="item.nome for item in comboTransferenciaGerente track by item.login"
            ></select>
          </div>
        </div>
        <div class="modal-footer" style="flex-direction: column">
          <button
            class="btn betL_BTN betL_BTN_usuario_salvar"
            ng-click="transferirGerencia()"
            style="width: 100%"
          >
            Transferir
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="loader-modal" style="display: none">
    <div id="loader-content">
      <span><i class="fa fa-spinner fa-spin"></i>Carregando</span>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $(".dinheiroMask").mask("#.##0,00", { reverse: true });
    $(".percentualMask").mask("##0.00", { reverse: true });
  });
</script>
