<nav class="navbar navbar-expand-md navbar-dark fixed-top betL_menu">
    <img class="img-fluid" src="img/logo_transparente.png" alt="BETloteria">
    <button class="navbar-toggler betL_menuCollapse_BTN" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

    </div>
</nav>
<div class="ng-scope"> </div>

<div ng-controller="simuladorCtrl" class="betL_container betL_caixa ng-scope">

  <div class="container-fluid">
        <div class="row">
            <div class="betL_Titulo col-md-12 col-ms-12 col-xs-12">
                <h5>SIMULADOR</h5>
                <hr>
            </div>

            <!-- FORM -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form class="form-cadastro form-group row betL_jogos_form">
                  <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                      <label for="comboTipoJogo">Tipo de Jogo: &nbsp;</label>
                      <select class="form-control" ng-model="comboTipoJogo" id="comboTipoJogo">
                          <option value="" selected> ESCOLHA </option>
                          <option value="S"> Seninha </option>
                          <option value="Q"> Quininha </option>
                      </select>
                  </div>

                  <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                      <label for="comboNumeroConcursos">Qtd. Concursos: &nbsp;</label>
                      <select class="form-control" ng-model="comboNumeroConcursos" id="comboNumeroConcursos">
                          <option value="" selected> ESCOLHA </option>
                          <option value=1> 1 </option>
                          <option value=10> 10 </option>
                          <option value=100> 100 </option>
                          <option value=1000> 1000 </option>
						   <option value=10000> 10000 </option>
                      </select>
                  </div>

                  <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                      <label for="comboQtdNumeros">Qtd numeros:&nbsp;</label>
                      <select class="form-control" ng-model="comboQtdNumeros" id="comboQtdNumeros">
                          <option value="" selected> ESCOLHA </option>
                          <option value="13" ng-show="comboTipoJogo == 'Q'" > 13 </option>
                          <option value="14"> 14 </option>
                          <option value="15"> 15 </option>
                          <option value="16"> 16 </option>
                          <option value="17"> 17 </option>
                          <option value="18"> 18 </option>
                          <option value="19"> 19 </option>
                          <option value="20"> 20 </option>
                          <option value="25"> 25 </option>
                          <option value="30"> 30 </option>
                          <option value="35"> 35 </option>
                          <option value="40"> 40 </option>
                          <option value="45" ng-show="comboTipoJogo == 'Q'"> 45 </option>
                      </select>
                  </div>

                  <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                      <label for="comboQtdApostas">Qtd. Apostas &nbsp;</label>
                      <select class="form-control" ng-model="comboQtdApostas" id="comboQtdApostas">
                          <option value="" selected> ESCOLHA </option>
                          <option value=1> 1 </option>
                          <option value=10> 10 </option>
                          <option value=100> 100 </option>
                          <option value=1000> 1000 </option>
						  <option value=10000> 10000 </option>
                      </select>
                  </div>

                  <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                      <label for="edtValorMedio">Valor Medio: &nbsp;</label>
                      <input type="text" id="edtValorMedio" placeholder="Valor Médio" ng-model="edtValorMedio" class="form-control" />
                  </div>

                  <div class='col-md-2 col-xs-2 col-12 betL_jogos_boxCampo'>
                      <label for="edtComissao">Comissão: &nbsp;</label>
                      <input type="text" id="edtComissao" placeholder="Comissão" ng-model="edtComissao" class="form-control" />
                  </div>

                    <div class="col-md-2 col-xs-2 col-12 botao-baixo">
                        <button type="button" class="btn betL_BTN betL_BTN_jogos_salvar" ng-click="gerar()">Gerar</button>
                    </div>
                </form>
            </div>

            <!-- TABLE -->
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div class="table-responsive betL_verBilheteList" ng-init="listarJogos()">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="align-middle" scope="col">Apostas Perdedoras</th>
                                <th class="align-middle" scope="col">Apostas Ganhadoras</th>
                                <th class="align-middle" scope="col">Entradas</th>
                                <th class="align-middle" scope="col">Saidas</th>
                                <th class="align-middle" scope="col">Comissao</th>
                                <th class="align-middle" scope="col">Saldo</th>
                            </tr>
                        </thead>
                        <tbody class="container">
                            <!-- <tr ng-repeat="x in lista | object2Array"> -->
                            <tr ng-repeat="x in records">
                                <td class="align-middle">{{ x.apostasPerdedoras}}</td>
                                <td class="align-middle">{{ x.apostasGanhadoras}}</td>
                                <td class="align-middle">{{ x.entradas | currency: "R$"}}</td>
                                <td class="align-middle">{{ x.saidas | currency: "R$" }}</td>
                                <td class="align-middle">{{ x.comissao | currency: "R$" }}</td>
                                <td class="align-middle">{{ x.saldo | currency: "R$"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>






</div>
